<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
    <li class="breadcrumb-item active">Raporty</li>
</ol>
</nav>
<h1>Raporty</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Zam ID</th>
            <th>Nazwa</th>
            <th>PH ID</th>
            <th>Marża</th>
            <th style="width: 150px;">&nbsp;</th>
        </tr>
    </thead>

    <?php
    foreach ($this->zamowienia as $zamowienia) :
        //$zamowienia = new Entities\Koszyk;
        ?>
        <tr>
            <td><?php echo $zamowienia->getId(); ?></td>
            <td><?php echo $zamowienia->getFirmy()->getNazwa(); ?></td>
            <td><?php echo $zamowienia->getFirmy()->getPhId(); ?></td>
            <td class="text-right"><?php echo $zamowienia->getMarza(); ?></td>
            <td class="text-right"><?php echo $zamowienia->getKoszykiUwagi()->first()->getId(); ?></td>
        </tr>

    <?php endforeach; ?>
</table>
