<?php
$config = Atacama_Config::getInstance();
$lWidth = $config->logotypy->rozmiary->m->w;
$lHeight = $config->logotypy->rozmiary->m->h;
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><?php echo $this->translate('marki'); ?></li>
    </ol>
</nav>

<h1><?php echo $this->translate('marki'); ?></h1>
<div id="marki" class="row">
    <?php
    foreach ($this->marki as $marka) {
        if ($marka->getId() != 1) :

            $url = $this->url(array(
                'language' => $this->lang,
                'controller' => 'Marka',
                'action' => 'widok',
                'id' => $marka->getId(),
                'nazwa' => Moyoki_Friendly::name($marka->getNazwa())
                    ), 'marki', true);
            ?>
            <div class="marka col-xs-6 col-sm-4 col-md-3 mb-4">
                <div class="text-center logo exposed-box bg-white p-4"><?php
                    if (null != $marka->getLogo() && strlen($marka->getLogo()) > 4) :

                        try {
                            $foto = new Moyoki_File($config->logotypy->path . $marka->getLogo());
                            $thumbSrc = $this->baseUrl($config->logotypy->urlbase . $foto->getThumbnailFile($lWidth, $lHeight));
                            ?>
                            <a href="<?php
                            echo $url;
                            ?>">
                                <img src="<?php echo $thumbSrc; ?>" alt="<?php echo strtolower($marka->getNazwa()); ?>" /></a>
                            <?php
                        } catch (Exception $e) {
                            echo $e->getMessage();
                        }
                    endif;
                    ?>
                    <h3 class="text-center"><a href="<?php echo $url; ?>"><?php echo $marka->getNazwa(); ?></a></h3>
                </div>
            </div>
            <?php
        endif;
    }
    ?>
</div>
