<?php
$config = Atacama_Config::getInstance();
$lWidth = $config->logotypy->rozmiary->m->w;
$lHeight = $config->logotypy->rozmiary->m->h;
?>
<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Marka',
            'action' => 'index'
                ), 'default', true);
        ?>"><?php echo $this->translate('menu marki'); ?></a></li>
    <li class="active"><?php echo $this->translate('marki'); ?></li>
</ol>
<div id="marka">
    <h1><?php
        echo $this->marka->getNazwa();
        ?></h1>
    <div class="opis">
        <?php
        if (null != $this->marka->getLogo() && strlen($this->marka->getLogo()) > 4) :
            ?>
            <div class="logotyp">
                <?php
                try {
                    $foto = new Moyoki_File($config->logotypy->path . $this->marka->getLogo());
                    $thumbSrc = $this->baseUrl($config->logotypy->urlbase . $foto->getThumbnailFile($lWidth, $lHeight));
                    ?>
                    <img  src="<?php echo $thumbSrc; ?>"
                          data-original="" alt="<?php echo strtolower($this->marka->getNazwa()); ?>" />
                          <?php
                      } catch (Exception $e) {
                          echo $e->getMessage();
                      }
                  endif;
                  ?>
        </div>
        <?php echo $this->marka->getOpis(); ?>
    </div>

</div>
