<?php
$config = Atacama_Config::getInstance();
$lWidth = $config->logotypy->rozmiary->l->w;
$lHeight = $config->logotypy->rozmiary->l->h;

$mWidth = $config->zdjecia->rozmiary->ms->w;
$mHeight = $config->zdjecia->rozmiary->ms->h;
$this->headTitle()->prepend(html_entity_decode($this->marka->getNazwa(), ENT_QUOTES));

$this->canonical = substr($config->appUrl, 0, -1) . $this->url(array(
            'language' => $this->lang,
            'controller' => 'Marka',
            'action' => 'widok',
            'id' => $this->marka->getId(),
            'nazwa' => Moyoki_Friendly::name($this->marka->getNazwa())
                ), 'marki', true);
/**
 * Okruszki
 */
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Marka',
                'action' => 'index'
                    ), 'default', true);
            ?>"><?php echo $this->translate('menu marki'); ?></a></li>
        <li class="breadcrumb-item active"><?php echo $this->marka->getNazwa(); ?></li>
    </ol>
</nav>

<?php if ($this->adminView) : ?>
<?php echo $this->AdminProducentMenu($this->marka->getId(), 'podglad'); ?>
<?php endif; ?>


<div id="marka">
    <?php
    if (null != $this->marka->getLogo() && strlen($this->marka->getLogo()) > 4) :
        ?>
        <div class="logotyp">
            <?php
            try {
                $foto = new Moyoki_File($config->logotypy->path . $this->marka->getLogo());
                $thumbSrc = $this->baseUrl($config->logotypy->urlbase . $foto->getThumbnailFile($lWidth, $lHeight));
                ?>
                <img  src="<?php echo $thumbSrc; ?>"
                      data-original="" alt="<?php echo strtolower($this->marka->getNazwa()); ?>" />
                      <?php
                  } catch (Exception $e) {
                      echo $e->getMessage();
                  }
                  ?>
        </div>
        <?php
    endif;
    ?>
    <div class="opis">
        <?php
        foreach ($this->marka->getProducenciI18n() as $i18n) {
            if ($i18n->getJezyk() == $this->lang) {
                echo $i18n->getOpis();
            }
        }
        ?>
    </div>
    <?php if ($this->produkty) : ?>
        <div class="naglowek"><?php echo $this->translate('zobacz przykladowe produkty'); ?></div>
        <div class="row">
            <?php
            foreach ($this->produkty as $p) {
                $produkt = $p->getProdukty();

                if ($produkt instanceof Entities\Produkt) {

                    foreach ($produkt->getProduktyI18n() as $pi18n) {
                        if ($pi18n->getJezyk() == $this->lang) {
                            $nazwa = $pi18n->getNazwa();
                        }
                    }
                    $url_array = array('language' => $this->lang, 'controller' => 'Produkt',
                        'action' => 'widok', 'id' => $produkt->getId(), 'nazwa' => Moyoki_Friendly::name($nazwa));
                    ?>
                    <div class="produkt col-xs-6 col-sm-4 col-md-3 mb-4 text-center">
                        <div class="exposed-box bg-white">
                            <div class="foto">
                                <?php
                                try {
                                    $zdjecie = $this->em->getRepository('Entities\Produkt_Zdjecie')->getZdjecieGlowne($produkt->getId());

                                    if ($zdjecie && strlen($zdjecie->getPlik()) > 4) {
                                        $plik = new Moyoki_File($config->zdjecia->path . $zdjecie->getPlik());
                                        $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $produkt->getDystrybutorzyId() . '/' . $plik->getThumbnailFile($mWidth, $mHeight));
                                    } else {
                                        $plik = new Moyoki_File($config->zdjecia->path . 'nophoto.png');
                                        $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $plik->getThumbnailFile($mWidth, $mHeight));
                                    }
                                } catch (Exception $e) {
                                    $plik = new Moyoki_File($config->zdjecia->path . 'nophoto.png');
                                    $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $plik->getThumbnailFile($mWidth, $mHeight));
                                }
                                ?>
                                <a href="<?php echo $this->url($url_array, 'produkty', true); ?>" title="<?php
                    echo strtolower($produkt->getProducenci()->getNazwa() . ' - ' . $nazwa);
                                ?>"><img src="<?php echo $thumbSrc; ?>" alt="<?php echo $nazwa; ?>" /></a>
                            </div>
                            <h2><a href="<?php echo $this->url($url_array, 'produkty', true); ?>" title="<?php
                    echo strtolower($produkt->getProducenci()->getNazwa() . ' - ' . $nazwa);
                                ?>"><?php echo Moyoki_StringTruncate::cut($nazwa); ?></a></h2>
                        </div> <!-- /box //-->
                    </div> <!-- /.produkt //-->


                    <?php
                }
            }
            ?>
        </div>
    <?php endif; ?>
</div>
