<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Metody znakowania</li>
    </ol>
</nav>

<h1>Metody znakowania</h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Znakowanie',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj nową metodę</a>

<table class="table table-striped" id="znakowanie-index">
    <tr>
        <th scope="col">Lp.</th>
        <th scope="col">Kod</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Max.<br>ilość kol.</th>
        <th scope="col">Ryczałt</th>
        <th scope="col">Przyg.</th>
        <th scope="col">Ponowne</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">Rodzaje</th>
    </tr>
    <?php
    $i = 0;
    foreach ($this->znakowania as $znakowanie) :
        $i++;
        //$znakowanie = new Entities\Znakowanie;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $znakowanie->getKod(); ?></td>
            <td><?php
                foreach ($znakowanie->getZnakowaniaI18n() as $i18n) {
                    if ($i18n->getJezyk() == $this->lang) {
                        echo $i18n->getNazwa();
                    }
                }
                ?></td>
            <td class="text-right"><?php echo $znakowanie->getKolory(); ?></td>
            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($znakowanie->getRyczalt(), 'zł'); ?></td>
            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($znakowanie->getPrzygotowalnia(), 'zł'); ?></td>
            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($znakowanie->getPowtorzenie(), 'zł'); ?></td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Znakowanie',
                    'action' => 'zmien',
                    'id' => $znakowanie->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;<a href="<?php
                   echo $this->url(array(
                       'language' => $this->lang,
                       'controller' => 'Znakowanie',
                       'action' => 'tlumaczenia',
                       'id' => $znakowanie->getId()
                           ), 'default', true);
                   ?>" class="btn btn-info btn-sm tooltip-init" title="Tłumacz"><i class="far fa-flag"></i></a>
            </td>
            <td class="text-center">
                <span class="rodzaje btn btn-info btn-sm" id="<?php echo $znakowanie->getId(); ?>"><span class="glyphicon glyphicon-list"></span></span>
            </td>

            </td>
        </tr>
        <tr id="rodzaje-<?php echo $znakowanie->getId(); ?>" style="display:none">
            <td colspan="9">
                <table class="table table-striped">
                    <tr>
                        <th>    <a href="<?php
                            echo $this->url(array(
                                'language' => $this->lang,
                                'controller' => 'Znakowanie',
                                'action' => 'rodzaje',
                                'id' => $znakowanie->getId()
                                    ), 'default', true);
                            ?>" class="btn btn-default btn-sm">Zmień rodzaje</a></th>
                        <th scope="col">Przedział</th>
                        <th scope="col">Cena 1 kolor</th>
                        <th scope="col">Cena inny</th>
                    </tr>
                    <?php
                    foreach ($znakowanie->getZnakowaniaRodzaje() as $rodzaj) :
                        //$rodzaj = new Entities\Znakowanie_Rodzaj;
                        ?>
                        <tr>
                            <td>&nbsp;</td>
                            <td><?php echo $rodzaj->getMinimum(); ?> - <?php echo $rodzaj->getMaximum(); ?></td>
                            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($rodzaj->getCena(), 'zł'); ?></td>
                            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($rodzaj->getCenaInny(), 'zł'); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </table>                
            </td>
        </tr>
        <?php
    endforeach;
    ?>
</table>