<div id="index">
    <div class="banner banner-pink">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-8 col-md-6 col-lg-4 order-first d-none d-sm-block">
                    <img alt="" src="<?php echo $this->baseUrl('images/index-image-news.png'); ?>" class="img img-responsive">
                </div>

                <div class="col-12 col-md-6 col-lg-6 text-white">
                    <span class="h3">Gadżety biznesowe i reklamowe z Twoim logo</span>
                    <h3 class="display-3">Twoja firma zasługuje na to.</h3>
                </div>
            </div>
        </div>
    </div>
    <?php if (count($this->nowosci) > 0) : ?>
        <div class="container">
            <div class="row">
                <?php
                $i = 0;
                foreach ($this->nowosci as $produkt) :
                    $i++;
                    if ($i <= 16) :
                        $this->ProductView($produkt);
                    endif;
                endforeach;
                ?>
            </div>
        </div>
    <?php endif; ?>
    <div class="banner banner-blue">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-8 col-md-6 col-lg-4 order-last d-none d-sm-block">
                <img alt="" src="<?php echo $this->baseUrl('images/index-image-bestsellers.png'); ?>" class="img img-responsive">
            </div>

            <div class="col-12 col-md-6 col-lg-6 text-white">
                <span class="h3">Bestsellery</span>
                <h3 class="display-3">Najchętniej kupowane produkty 2018</h3>
            </div>
        </div>
    </div>
</div>

<?php if (count($this->bestsellery) > 0) : ?>
    <div class="container">    
        <div class="row">
            <?php
            $i = 0;
            foreach ($this->bestsellery as $produkt) :
                $i++;
                if ($i <= 16) :
                    $this->ProductView($produkt);
                endif;
            endforeach;
            ?>
        </div>
    </div>
<?php endif; ?>

<div class="banner banner-yellow">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-8 col-md-6 col-lg-4 order-last d-none d-sm-block">
                <img alt="" src="<?php echo $this->baseUrl('images/index-image-promo.png'); ?>" class="img img-responsive">
            </div>

            <div class="col-12 col-md-6 col-lg-6 text-white">
                <span class="h3">Promocje NON STOP!</span>
                <h3 class="display-3">Zadbaj o to by Twoje logo nie było umieszczane na byle czym</h3>
            </div>
        </div>
    </div>
</div>

<?php if (count($this->promocje) > 0) : ?>
    <div class="container">
        <div class="row">
            <?php
            $i = 0;
            foreach ($this->promocje as $produkt) :
                $i++;
                if ($i <= 16) :
                    $this->ProductView($produkt);
                endif;
            endforeach;
            ?>
        </div>
    </div>
<?php endif; ?>
</div>