<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li class="breadcrumb-item"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Strona',
            'action' => 'wszystkie'
                ), 'default', true);
        ?>">Zarządzanie stronami</a></li>
    <li class="breadcrumb-item active">podgląd strony</li>
</ol>
</nav>
<h1><?php echo $this->tytul; ?></h1>