<?php if($this->e404) : ?>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item active"><?php echo $this->translate('brak strony'); ?></li>
</ol>
</nav>
<h1><?php echo $this->translate('brak strony'); ?></h1>
<?php echo $this->translate('brak strony o podanym adresie'); ?>
<?php else : ?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item active"><?php echo $this->title; ?></li>
</ol>
</nav>
<h1><?php echo $this->title; ?></h1>
    <?php echo $this->tresc; ?>

<?php endif;