<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie stronami</li>
    </ol>
</nav>

<h1>Zarządzanie stronami</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Tytuł</th>
            <th>Język</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->strony as $strona) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $strona->getTytul(); ?></td>
            <td><?php echo $strona->getJezyk(); ?></td>

            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'controller' => 'Strona',
                    'action' => 'index',
                    'kod' => $strona->getKod(),
                    'lang' => $strona->getJezyk()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zobacz"><i class="far fa-eye"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'controller' => 'Strona',
                    'action' => 'zmien',
                    'kod' => $strona->getKod(),
                    'lang' => $strona->getJezyk()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
            </td>
        </tr>

    <?php endforeach; ?>
</table>