<h1><?php echo $this->translate('adresy wysylki'); ?></h1>
<?php if (isset($this->adresy)) : ?>

    <div class="modal fade" id="metodaModal" tabindex="-1" role="dialog" aria-labelledby="metodaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('nowy adres dostawy'); ?></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="dodawanie-do-koszyka">
                    <div class="modal-body">
                        <?php echo $this->formNowyAdres; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 mb-4">
        <?php echo $this->form; ?>
        <div class="clearfix"></div>
    </div>
<?php else : ?>
    <?php echo $this->translate('koszyk pusty'); ?>
<?php endif; ?>
