<script type='text/javascript'>
    $('document').ready(function() {

        $("#dodaj").hide();
        $(".checkbox").hide();

        $("#metoda").change(function() {
            var val = $("#metoda").find(":selected").val();

            if (val == 'null') {
                $("#dodaj").hide();
                $(".checkbox").hide();
            } else {
                $("#dodaj").show();
                $(".checkbox").show();
                $.ajax({
                    type: 'GET',
                    url: _BASEURL + '/pl/Koszyk/ajax-ilosc-kolorow/znakowanie_id/' + val,
                    success: function(ilosc) {
                        $("#kolory").find('option').remove();
                        for (var i = 1; i <= ilosc; i++) {
                            $("#kolory").append(new Option(i, i));
                        }
                    },
                    error: function(msg) {
                        $("#kolory").append('<p>Błąd ładowania</p>');
                    }
                });
            }
        });
    });
</script>   
<?php
echo $this->form;
