<h1><?php echo $this->translate($this->tytul); ?></h1>
<?php
if (isset($this->koszyk) && !$this->koszykPusty) :
    $config = Atacama_Config::getInstance();
    ?>

    <div class="modal fade" id="metodaModal" tabindex="-1" role="dialog" aria-labelledby="metodaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('dodaj metode znakowania'); ?></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="ajax-form-value"></div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="" enctype="application/x-www-form-urlencoded" id="form-koszyk">
        <?php
        $user = Zend_Auth::getInstance()->getIdentity();

        if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_KOSZYK_KLIENT) && $user['rola'] == Atacama_Acl::ROLA_PH) {

            $firmy = $this->em->getRepository('Entities\Firma')->pobierzWszystkieDlaPhOrderByFirmaNazwa($user['id']);
            ?>
            <div id="wybor-klienta">
                <select name="klient" id="klient" class="form-control md">
                    <option value="0">Wybierz</option>
                    <?php
                    foreach ($firmy as $f) {
                        foreach ($f->getUzytkownicy() as $u) {
                            echo '<option value="' . $u->getId() . '"'
                            . ($this->koszyk->getUzytkownicyId() == $u->getId() ? 'selected' : '')
                            . '>' . $f->getNazwa() . ' - ' . $u->getImie() . ' ' . $u->getNazwisko() . '</option>';
                        }
                    }
                    ?>
                </select>
                <input type="hidden" id="kid" name="kid" value="<?php echo $this->koszyk->getId(); ?>" />
            </div>
        <?php } ?>
        <div id="koszyk-lista">
            <div class="row" id="naglowek">
                <div class="col row-nazwa"><?php echo $this->translate('nazwa'); ?></div>
                <div class="col row-znakowanie"><?php echo $this->translate('znakowanie'); ?></div>
                <div class="col row-cena"><?php echo $this->translate('cena j netto'); ?></div>
                <div class="col row-ilosc"><?php echo $this->translate('naklad'); ?></div>
                <div class="col row-cena hidden-sm-down"><?php echo $this->translate('kwota netto'); ?></div>
                <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ZAMOWIENIA_MARZA)) : ?>
                    <div class="col row-cena"><?php echo $this->translate('marza'); ?></div>
                <?php endif; ?>
                <div class="col-1 row-usun text-center"><?php echo $this->translate('usun'); ?></div>
            </div>
            <?php
            $i = 0;
            $razemNetto = 0;
            $razemProduktow = 0;
            $znakowaniaSuma = 0;
            foreach ($this->koszyk->getKoszykiProdukty() as $koszykProdukt) :
                $i++;
                foreach ($koszykProdukt->getProduktyDetale()->getProdukty()->getProduktyI18n() as $i18n) {
                    if ($i18n->getJezyk() == $this->lang) {
                        $nazwaProduktu = $i18n->getNazwa();
                    }
                }
                //$koszykProdukt = new Entities\Koszyk_Produkt;
                ?>
                <div id="pozycja-<?php echo $koszykProdukt->getProduktyDetaleId(); ?>" class="produkt">
                    <div class="row">
                        <div class="col row-nazwa">
                            <a href="<?php
                            echo $this->url(array('language' => $this->lang, 'controller' => 'Produkt',
                                'action' => 'widok',
                                'id' => $koszykProdukt->getProduktyDetale()->getProdukty()->getId(),
                                'nazwa' => Moyoki_Friendly::name($nazwaProduktu)), 'produkty', true);
                            ?>">
                                <?php echo $nazwaProduktu; ?></a>
                            <small><?php
                                echo $koszykProdukt->getProduktyDetale()->getKolory()->getNazwa();
                                if ($koszykProdukt->getProduktyDetale()->getRozmiar() != 0) {
                                    echo ' ' . Atacama_Produkt_Rozmiar::pokaz($koszykProdukt->getProduktyDetale()->getRozmiar());
                                }
                                ?></small><br/>
                            <small><?php echo $this->translate('nr kat') . ': ' . $koszykProdukt->getProduktyDetale()->getProdukty()->getNrKatalogowy(); ?></small>
                        </div>
                        <div class="col text-center"><button data-target="#metodaModal" data-toggle="modal" 
                                                             class="btn btn-primary btn-sm metoda-button" 
                                                             value='<?php
                                                             echo json_encode(array(
                                                                 'prod_id' => $koszykProdukt->getProduktyDetale()->getProdukty()->getId(),
                                                                 'detal_id' => $koszykProdukt->getId()
                                                                     )
                                                             );
                                                             ?>'><?php echo $this->translate('dodaj'); ?></button></div>
                        <div class="col text-right"><?php
                            $cenaProduktu = $koszykProdukt->getCenaZakupu();
                            if (count($koszykProdukt->getKoszykiProduktyZnakowania()) > 0) {
                                $cenaProduktu += $koszykProdukt->getCenaKonfekcjonowanie();
                            }
                            echo Atacama_Produkt_Kwota::odczyt($cenaProduktu, 'zł');
                            ?></div>
                        <div class="col "text-right"><?php
                        $razemProduktow += $koszykProdukt->getIlosc();
                        ?>
                             <div class="form-group">
                                <input type="text" value="<?php echo $koszykProdukt->getIlosc(); ?>" name="koszyk[<?php echo $koszykProdukt->getId(); ?>]" id="koszyk[<?php echo $koszykProdukt->getId(); ?>]" class="text-right numeric form-control" size="3" maxlength="7" />
                            </div>
                        </div>
                        <div class="col text-right hidden-sm-down"><?php
                            $netto = $cenaProduktu * $koszykProdukt->getIlosc();
                            $razemNetto += $netto;
                            echo Atacama_Produkt_Kwota::odczyt($netto, 'zł');
                            ?></div>
                        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ZAMOWIENIA_MARZA)) { ?>
                            <div class="col text-right"><?php echo Atacama_Produkt_Kwota::odczyt(($koszykProdukt->getCenaZakupu() - $koszykProdukt->getCenaSprzedazy()) * $koszykProdukt->getIlosc(), 'zł'); ?></div>
                        <?php } ?>
                        <div class="col-1 text-center"><a href="<?php
                            echo $this->url(array(
                                'language' => $this->lang,
                                'controller' => 'Koszyk',
                                'action' => 'usun-produkt',
                                'id' => $koszykProdukt->getId()
                                    ), 'default', true);
                            ?>" class="img"><i class="far fa-trash-alt"></i></a></div>
                    </div>
                    <?php
                    $cmd = new Application_Model_Commands_KoszykPokazZnakowaniaProduktu($this->em, $koszykProdukt);
                    $result = $cmd->execute();
                    if (!key_exists('brak', $result)) :
                        ?>
                        <div class="znakowanie">
                            <div class="row naglowek">
                                <div class="col row-nazwa"><?php echo $this->translate('nazwa'); ?></div>
                                <div class="col row-kolory"><?php echo $this->translate('ilosc kolorow'); ?></div>
                                <div class="col row-cena"><?php echo $this->translate('cena j netto'); ?></div>
                                <div class="col row-ilosc"><?php echo $this->translate('naklad'); ?></div>
                                <div class="col row-cena hidden-sm-down"><?php echo $this->translate('wartosc netto'); ?></div>
                                <div class="col-1 row-usun text-center"><?php echo $this->translate('usun'); ?></div>
                            </div>
                            <?php
                            foreach ($result['znakowania'] as $znakowanie) :
                                $znakowaniaSuma = $znakowaniaSuma + $znakowanie['suma'] + $znakowanie['przygotowalnia'];
                                ?>
                                <div class="row">
                                    <div class="col nazwa"><?php echo $znakowanie['nazwa']; ?></div>
                                    <div class="col text-center kolory">
                                        <div class="form-group select-option">
                                            <select class="form-control xs" id="znak[<?php echo $znakowanie['id']; ?>][kolory]" name="znak[<?php echo $znakowanie['id']; ?>][kolory]">
                                                <?php
                                                for ($i = 1; $i <= $znakowanie['max_kolorow']; $i++) {
                                                    echo '<option label="' . $i . '" value="' . $i . '" ' . ($i == $znakowanie['ilosc_kolorow'] ? "selected=\"selected\"" : "") . '>' . $i . '</option>';
                                                }
                                                ?>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col text-right cena"><?php echo Atacama_Produkt_Kwota::odczyt(($znakowanie['cena']), 'zł'); ?></div>                                          
                                    <div class="col text-center ilosc">
                                        <div class="form-group">
                                            <input type="text" value="<?php echo $znakowanie['naklad']; ?>" 
                                                   name="znak[<?php echo $znakowanie['id']; ?>][ilosc]" 
                                                   id="znak[<?php echo $znakowanie['id']; ?>][ilosc]" class="text-right numeric form-control" size="3" maxlength="7" />
                                        </div>
                                    </div>
                                    <div class="col text-right suma"><?php echo Atacama_Produkt_Kwota::odczyt($znakowanie['suma'], 'zł'); ?></div>
                                    <div class="col-1 text-center"><a href="<?php
                                        echo $this->url(array(
                                            'language' => $this->lang,
                                            'controller' => 'Koszyk',
                                            'action' => 'usun-znakowanie',
                                            'id' => $znakowanie['id']
                                                ), 'default', true);
                                        ?>" class="img"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <div class="row przygotowalnia">
                                    <div class="col text-right nazwa"><?php echo $this->translate('przygotowalnia'); ?>:</div>
                                    <div class="col text-center"><?php echo $znakowanie['ilosc_kolorow']; ?></div>
                                    <div class="col text-right hidden-sm-down"><?php
                                        if ($znakowanie['przygotowalnia_mnozenie'] == 1) {
                                            echo Atacama_Produkt_Kwota::odczyt(($znakowanie['przygotowalnia'] / $znakowanie['ilosc_kolorow']), 'zł');
                                        } else {
                                            echo Atacama_Produkt_Kwota::odczyt(($znakowanie['przygotowalnia']), 'zł');
                                        }
                                        ?></div>
                                    <div class="col text-right"><?php echo Atacama_Produkt_Kwota::odczyt($znakowanie['przygotowalnia'], 'zł'); ?></div>

                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php
                    endif;
                    //Moyoki_Debug::debug($result);
                    ?>
                </div> <!-- //pozycja //-->
                <?php
            endforeach;
            /*
             * Jeszcze dodajemy koszt znakowania
             */
            $razemNetto = $razemNetto + $znakowaniaSuma;
            ?>


            <p class="text-right"><input type="submit" class="btn btn-info btn-sm" style="display: none" value="<?php echo $this->translate('przelicz'); ?>" id="przelicz-button" name="przelicz-button"></p>
            <h2><?php echo $this->translate('koszyk podsumowanie'); ?></h2>
            <table id="koszyk-podsumowanie" class="table table-striped">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('razem produktow'); ?></th>
                        <th><?php echo $this->translate('razem netto'); ?></th>
                        <th><?php echo $this->translate('vat'); ?></th>
                        <th><?php echo $this->translate('razem brutto'); ?></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><span id="razemProduktow"><?php echo $razemProduktow; ?></span></td>       
                        <td class="text-center"><span id="razemNetto"><?php echo Atacama_Produkt_Kwota::odczyt($razemNetto, 'zł'); ?></span></td>
                        <td class="text-center"><?php
                            $vat = $config->importVat;
                            echo $vat;
                            ?></td>
                        <td class="text-center"><span id="razemBrutto"><?php echo Atacama_Produkt_Kwota::odczyt($razemNetto + ($razemNetto * $vat / 100), 'zł'); ?></span></td>
                    </tr>
            </table>
            <?php if ($config->koszykProgKosztuDostawy > $razemNetto) : ?>
                <div class="koszt-dostawy"><?php echo $this->translate('transport platny w cenie %s zl netto za paczke ponizej %s zl netto', $config->kosztDostawyKarton, $config->koszykProgKosztuDostawy); ?> </div>
            <?php endif;
            ?>
            <div class="text-right">
                <a href="<?php
                $url = array(
                    'language' => $this->lang,
                    'controller' => 'Koszyk',
                    'action' => 'adresy',
                );
                /**
                 * To jest z przekierowania, wiec musi byc osobno dodane
                 * Ale zwykly klient nie moze tego widziec
                 */
                if ($this->dodajId) {
                    $url['id'] = $this->dodajId;
                }
                echo $this->url($url, 'default', true);
                ?>" class="btn btn-primary btn-raised" id="zamawiam-button"><?php echo $this->translate('zamawiam'); ?></a>
            </div>
        </div>
    </form>
<?php else : ?>
    <div class="m-5 p-5"><?php echo $this->translate('koszyk jest pusty'); ?></div>
<?php endif; ?>
