<h1><?php echo $this->translate('podsumowanie'); ?></h1>
<?php if (isset($this->podsumowanie)) : ?>
    <?php echo $this->KoszykTabelaPodsumowanie($this->koszyk->getId(), FALSE, FALSE); ?>
    <p class="clearfix">&nbsp;</p>
    <?php echo $this->KoszykAdresy($this->koszyk->getId()); ?>
    <p class="clearfix">&nbsp;</p>
    <form action="<?php echo $this->form->getAction(); ?>" method="<?php echo $this->form->getMethod(); ?>" class="<?php echo $this->form->getAttrib('class'); ?>">
        <div class="row">
            <div class="col-6"><?php echo $this->form->getElement('uwagi'); ?></div>
            <div class="col-6"><?php echo $this->form->getElement('data_dostawy'); ?></div>
        </div>
        <div class="row">
            <div class="col-6"><?php echo $this->form->getElement('wstecz'); ?></div>
            <div class="col-6 text-right"><?php echo $this->form->getElement('dalej'); ?></div>
        </div>

    </form>

<?php else : ?>
    <?php echo $this->translate('koszyk pusty'); ?>
<?php endif; ?>
