<h1><?php echo $this->translate('potwierdzenie'); ?></h1>
<?php if ($this->oferta instanceof Entities\Koszyk) : ?>
    Oferta została zapisana pomyślnie.
<?php else : ?>
    <?php if (isset($this->widget)) : ?>
    
        <p><?php echo $this->widget; ?></p>

    <?php else : ?>
        <?php echo $this->translate('koszyk pusty'); ?>
    <?php endif; ?>

<?php endif; ?>


