span, div, h1, h2, h3, p, th, td, * {
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}
.logo {
    text-align: center;
}

table {
    width: 100%;
}
table th {
    border-bottom: 1px solid #333;
    padding: 5px;
}
table td {
    border-bottom: 1px solid #777;
    padding: 10px 0px;
}

.small {
    font-size: 10px;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.row .col-sm-6 {
    float: left;
    margin: 10px 20px;
    width: 40%;    
}
#koszyk-adresy .adres {
    float: left;
    width: 33%;

}

#zamowienie-podglad #koszyk-lista .row {
    clear: both;
}
#zamowienie-podglad #koszyk-lista .col {
    float: left;
    width: 140px;
}

#zamowienie-podglad #koszyk-lista .row-img {
    width: 200px;
}

#zamowienie-podglad #koszyk-lista .row-nazwa {
    width: 250px;
}

#zamowienie-podglad #koszyk-lista .row-kolor {
    text-align: center;
}
#zamowienie-podglad #koszyk-lista .row-cena {
    text-align: right;
}

#zamowienie-podglad #koszyk-lista .row-ilosc {
    text-align: center;
}

#zamowienie-podglad #koszyk-lista .row-marza{

}

#zamowienie-podglad #koszyk-lista .znakowanie .row-nazwa {
    width: 205px;
}

#zamowienie-podglad #naglowek div {
    font-weight: bold;
}

#zamowienie-podglad #koszyk-lista #naglowek .row-cena {
    text-align: center;
}
#zamowienie-podglad .produkt {
    margin: 15px 0px;
    padding: 10px 0px;
}
#zamowienie-podglad .produkt > .znakowanie {
    border-left: 1px dotted grey;
    margin: 15px 0px 15px 15px;
    padding: 15px 0px 15px 15px;
    padding-left: 10px;    
}

#zamowienie-podglad #koszyk-lista .produkt .znakowanie .col {
    width: 160px;
}

#zamowienie-podglad #koszyk-lista .produkt .znakowanie .row-nazwa {
    width: 200px;
}

#zamowienie-podglad .produkt > .znakowanie .naglowek div {
    font-weight: bold;
    text-align: center;
}
#zamowienie-podglad .zamawiajacy {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    clear: left;
    margin: 10px 0px;
    padding: 15px 10px;
}

#zamowienie-podglad #termin-dostawy .data {
    border: 1px dotted #333;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    width: 350px;
}

#zamowienie-podglad #termin-dostawy .data-opis {
    border: 1px dotted #333;
    font-weight: bold;
    padding: 5px;
    width: 350px;
}

#koszyk-adresy h3 {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding: 10px;
}

#koszyk-adresy p {
    margin: 10px 20px;
}

#koszyk-podsumowanie {
    width: 100%;
}
#oferta-podglad #oferta-nr {
    text-align: center;
}

#oferta-podglad h2 {
    font-size: 16px;
}

#oferta-podglad #osoba, #oferta-podglad #firma {
    font-size: 18px;
}

#oferta-podglad #osoba {
    font-weight: bold;
}

#oferta-podglad .produkt-opis {
    width: 50%;
}

#oferta-podglad .produkt-zdjecie {
    text-align: center;
}
table.oferta-lista {
    margin-bottom: 40px;
}

#oferta-podglad th {
    color: #666;
    font-weight: normal;
}

#oferta-podglad td {
    border-bottom: 1px solid #CCC;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#oferta-podglad table .produkt {
    background-color: #fafafa;
    border-bottom: 1px solid #AAA;
    font-size: 12px;
}

#oferta-podglad table .podsumowanie {
    background-color: #fafafa;
    font-size: 12px;
}
#oferta-podglad table .row-nazwa {
    width: 30%;
}

#oferta-podglad table .row-ilosc {
    text-align: right;
    width: 10%;
}
#oferta-podglad table .row-cena {
    text-align: right;
    width: 18%;
}

#oferta-podglad table.oferta-lista .nazwa {
    font-size: 16px;
}

#oferta-podglad table.oferta-lista .dodatki {
    font-size: 12px;
}
#oferta-podglad table .no-border {
    border: 0;
}

#oferta-podglad .akceptacja {
    text-align: center;
    margin: 30px;
}

#oferta-podglad .akceptacja a.btn {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00878F), color-stop(1, #00878F));
    background:-moz-linear-gradient( center top, #00878F 5%, #00878F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00878F', endColorstr='#00878F');
    background-color: #00878F;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border: 1px solid #dcdcdc;
    display:inline-block;
    color:#FFF;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    padding: 10px;
    text-decoration:none;
    text-align:center;
}

#oferta-podglad #ph {
    margin: 20px;
}