<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'controller' => 'Produkt',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie produktami</a></li>
        <li class="breadcrumb-item active">Detale produktu</li>
    </ol>
</nav>
<h1><small>detale produktu</small> <?php echo $this->nazwaProduktu; ?></h1>

<?php echo $this->AdminProduktMenu($this->produktId, 'detale'); ?>

<a href="#" class="btn btn-primary btn-raised btn-sm" id="dodaj-detal">Dodaj detal</a>

<form id="form-produkt-detale" enctype="application/x-www-form-urlencoded" method="post" action="">
    <input type="hidden" name="id" value="<?php echo $this->produktId; ?>" id="id">
    <table width="100%" border="0" id="produkt-detale-tabela">
        <tr>
            <th scope="col">Kolor</th>
            <th scope="col">Rozmiar</th>
            <th scope="col">Ident. dostawcy</th>
            <th scope="col" width="80">Cena</th>
            <th scope="col" width="50">Vat</th>
            <th scope="col" width="80">Cena promocyjna</th>
            <th scope="col" width="80">Cena wyprz.</th>
            <th scope="col" width="80">Mag. 1</th>
            <th scope="col" width="80">Mag. 2</th>
            <th scope="col" width="20">Widoczny</th>
        </tr>
        <?php
        $i = 0;

        $pokazNastepnaStrone = FALSE;
        foreach ($this->detale as $detal) :
            $i++;
            if ($i >= $this->iloscNaStronie * $this->nrStrony) {
                /**
                 * Reszta pojawi sie na nastepnej stronie
                 */
                $pokazNastepnaStrone = TRUE;
                continue;
            }

            if ($i < $this->iloscNaStronie * ($this->nrStrony - 1)) {
                /**
                 * To jest z poprzedniej strony
                 */
                continue;
            }

            //$detal = new Entities\Produkt_Detal;
            ?>
            <tr>
                <td><?php
                    $kolor = new Zend_Form_Element_Select($detal->getId() . '_kolor');
                    $kolor->setAttrib('class', 'form-control md');
                    $kolor->addMultiOption('', '! brak koloru');
                    foreach ($this->kolory as $k) {
                        $kolor->addMultiOption($k->getId(), $k->getNazwa());
                    }
                    echo $kolor->setValue($detal->getKoloryId());
                    ?></td>
                <td><?php
                    $rozmiar = new Zend_Form_Element_Select($detal->getId() . '_rozmiar');
                    $rozmiar->setAttrib('class', 'form-control md');
                    foreach (Atacama_Produkt_Rozmiar::tablica() as $id => $nazwa) {
                        $rozmiar->addMultiOption($id, $nazwa);
                    }
                    echo $rozmiar->setValue($detal->getRozmiar());
                    ?></td>
                <td><?php
                    $kod = new Zend_Form_Element_Text($detal->getId() . '_kod');
                    echo $kod
                            ->setAttrib('class', 'form-control xs')
                            ->setValue($detal->getKodProduktuDystr())
                            ->setAttrib('readonly', 'readonly');
                    ?></td>
                <td>
                    <?php
                    $cena = new Zend_Form_Element_Text($detal->getId() . '_cena');
                    echo $cena
                            ->setAttrib('class', 'form-control xs text-right')
                            ->setValue($detal->getCena());
                    ?>
                </td>
                <td>
                    <?php
                    $vat = new Zend_Form_Element_Text($detal->getId() . '_vat');
                    echo $vat
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($detal->getVat());
                    ?></td>
                <td>
                    <?php
                    $promo = new Zend_Form_Element_Text($detal->getId() . '_promo');
                    echo $promo
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($detal->getPromo())
                    ?></td>
                <td><?php
                    $wyp = new Zend_Form_Element_Text($detal->getId() . '_wyprz');
                    echo $wyp
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($detal->getWyp())
                    ?></td>
                <td><?php
                    $magazyn1 = new Zend_Form_Element_Text($detal->getId() . '_magazyn1');
                    echo $magazyn1
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($detal->getStanMagazynowy1())
                    ?></td>
                <td><?php
                    $magazyn2 = new Zend_Form_Element_Text($detal->getId() . '_magazyn2');
                    echo $magazyn2
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($detal->getStanMagazynowy2())
                    ?></td>
                <td><?php
                    $widoczny = new Zend_Form_Element_Checkbox($detal->getId() . '_widoczny');
                    echo $widoczny
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($detal->getWidoczny())
                    ?></td>
            </tr>
            <?php
        endforeach;
        ?>
    </table>
    <div class="text-right">
        <input type="submit" name="produkt" id="produkt" value="zapisz" class="btn btn-primary btn-raised">
    </div>
</form>
<?php if ($pokazNastepnaStrone) : ?>
    <div class="jumbotron">Produkt ma więcej niż <b><?php echo $this->iloscNaStronie; ?></b> detali. Serwer ma problem poprawnie obsłużyć tak wiele informacji. 
        Produkt został dzielony.
        <div class="text-right"><a href="<?php
            echo $this->url(array(
                'language' => 'pl',
                'controller' => 'Produkt',
                'action' => 'detale',
                'id' => $this->produktId,
                'strona' => ($this->nrStrony + 1),
                    ), 'default', true);
            ?>" class="btn btn-default">Następna strona detali >></a>
        </div>
    </div>
    <?php
 endif;
