<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li class="breadcrumb-item"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Produkt',
            'action' => 'index'
                ), 'default', true);
        ?>">Zarządzanie produktami</a></li>
    <li class="breadcrumb-item active">Produkty do uzupełnienia</li>
</ol>
</nav>
<h1>Produkty do uzupełnienia</h1>

<div class="row">
    <?php
    if (count($this->doUzupelnienia) > 0) :
        echo '<ol id="do-uzupelnienia" class="lista-produktow">';
        foreach ($this->doUzupelnienia AS $produkt):
            foreach ($produkt->getProduktyI18n() as $pi18n) {
                if ($pi18n->getJezyk() == $this->lang) {
                    $produkt_nazwa = $pi18n->getNazwa();
                }
            }

            $produkt_nazwa = (isset($produkt_nazwa) ? $produkt_nazwa : '[brak nazwy]');
            echo '<li>';
            echo '<a href="' . $this->url(
                    array('language' => $this->lang, 'controller' => 'Produkt',
                'action' => 'widok', 'id' => $produkt->getId(),
                'nazwa' => Moyoki_Friendly::name($produkt_nazwa)), 'produkty', true) . '">';
            echo $produkt_nazwa;
            echo '</a> <small>[nr kat.:' . $produkt->getNrKatalogowy() . ']</small></li>';
        endforeach;
        echo '</ol>';
    endif;
    ?>
</div>
