
<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li class="active">Zarządzanie produktami</li>
</ol>
<h1>Produkty</h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Produkt',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj produkt</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nr kat.</th>
            <th>Nazwa</th>
            <th>Data dodania</th>
            <th>Widoczny</th>
            <th>Nowość</th>
            <th>Bestseller</th>
            <th>Zmień</th>
        </tr>
    </thead>

    <?php
    foreach ($this->produkty as $prod) :
        //$prod = new Entities\Produkt();
        ?>
        <tr>
            <td><?php echo $prod->getNrKatalogowy(); ?></td>
            <td><?php
                foreach ($prod->getProduktyI18n() as $i18n) {
                    if ($i18n->getJezyk() == 'pl') {
                        echo $i18n->getNazwa();
                    }
                }
                ?></td>
            <td><?php echo date_format($prod->getCreatedat(), 'd-m-Y'); ?></td>
            <td align="center"><span class="<?php echo ($prod->getWidoczny() == 1 ? 'far fa-check-circle': ''); ?>"></span></td>
            <td align="center"><span class="<?php echo ($prod->getNowosc() == 1 ? 'far fa-check-circle': ''); ?>"></span></td>
            <td align="center"><span class="<?php echo ($prod->getBestseller() == 1 ? 'far fa-check-circle': ''); ?>"></span></td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Produkt',
                    'action' => 'zmien',
                    'id' => $prod->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
            </td>
        </tr>

    <?php endforeach; ?>
</table>
