<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Produkt',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie produktami</a></li>
        <li class="breadcrumb-item active">Kategorie</li>
    </ol>
</nav>
<h1><small>Kategorie</small> <?php echo $this->nazwaProduktu; ?></h1>

<?php echo $this->AdminProduktMenu($this->produktId, 'kategorie'); ?>
<div class="panel panel-default">
    <div class="panel-heading">Produkt należy do kategorii</div>
    <div class="panel-body">
        <ul>
            <?php
            foreach ($this->kategorieLista as $nazwa) {

                echo "<li>" . $nazwa . "</li>\n";
            }
            ?>
        </ul>
        <div>Kategoria główna: <strong><?php echo $this->kategoriaGlowna; ?></strong>
            <?php if ($this->kateriaGlownaNieIstnieje) : ?>
                <br><strong>Uwaga!</strong><br>
                Kategoria główna jest odznaczona wśród kategorii, ale jest nadal przypisana do produktu. Całkiem możliwe, że kategoria główna to nadal "Do uzupełnienia".<br>
                Proszę poprawić na zakładce "edycja".
            <?php endif; ?>
        </div>
    </div>
</div>

<?php echo $this->form; ?>