<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li class="active">Zarządzanie produktami</li>
</ol>
<h1>Produkty niewidoczne</h1>

<p class="jumbotron jumbotron-small"><span class="glyphicon glyphicon-asterisk"></span> Produkty, które mają wyłączoną widoczność. Są tu również produkty, które są niewidoczne, ponieważ są świeżo zaimportowane i nie są jeszcze ustawione jako dostępne.</p>
<div class="form">
    <?php echo $this->form; ?>
</div>

<form method="post">
    <table class="table table-striped" id="niewidoczne">
        <thead>
            <tr>
                <th>Nr kat.</th>
                <th>Nazwa</th>
                <th>Dystrybutor</td>
                <th>Data dodania</th>
                <th>Zmień</th>
                <th>Usuń</th>
            </tr>
        </thead>

        <?php
        foreach ($this->paginator as $prod) :
            //$prod = new Entities\Produkt();
            ?>
            <tr id="row-<?php echo $prod->getId(); ?>">
                <td><?php echo $prod->getNrKatalogowy(); ?></td>
                <td><a onclick="pokazModal('<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Ajax',
                        'action' => 'niewidoczne-produkt-podglad',
                        'id' => $prod->getId()
                            ), 'default', true);
                    ?>')">
                           <?php
                           foreach ($prod->getProduktyI18n() as $i18n) {
                               if ($i18n->getJezyk() == 'pl') {
                                   echo $i18n->getNazwa();
                               }
                           }
                           ?>
                    </a></td>
                <td><?php echo $prod->getDystrybutorzy()->getNazwa(); ?></td>
                <td class="text-center"><?php echo date_format($prod->getCreatedat(), 'Y.m.d'); ?></td>
                <td class="text-center">
                    <a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Produkt',
                        'action' => 'zmien',
                        'id' => $prod->getId()
                            ), 'default', true);
                    ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
                </td>
                <td class="text-center"><input type="checkbox" class="checkbox" name="usuniety[<?php echo $prod->getId(); ?>]" value="<?php echo $prod->getId(); ?>" /></td>
            </tr>

        <?php endforeach; ?>
    </table>
    <div class="text-right"><input type="submit" class="btn btn-info" value="usuń zaznaczone" /></div>
</form>

<?php
echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
?>

<div class="modal fade" id="podgladModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center">Trwa pobieranie danych ...</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->