<?php
//config
$config = Atacama_Config::getInstance();
$sWidth = $config->zdjecia->rozmiary->ms->w;
$sHeight = $config->zdjecia->rozmiary->ms->h;
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Produkt',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie produktami</a></li>
        <li class="breadcrumb-item active">Zarządzanie zdjęciami produktu</li>
    </ol>
</nav>

<h1><small>Zdjęcia produktu</small> <?php echo $this->nazwaProduktu; ?></h1>

<?php echo $this->AdminProduktMenu($this->produktId, 'zdjecia'); ?>

<div class="row">
    <?php echo $this->form; ?>
</div>
<div class="alert alert-warning" id="error-alert" style="display: none"></div>

<div id="progressbar" class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" id="zdjecia">
    <?php
    foreach ($this->zdjecia as $z) :
        if ($z->getWidoczne() == 1) {
            try {
                if ($z instanceof \Entities\Produkt_Zdjecie && strlen($z->getPlik()) > 4) {
                    $foto = new Moyoki_File($config->zdjecia->path . $z->getPlik());
                    $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $this->produkt->getDystrybutorzyId() . '/' . $foto->getThumbnailFile($sWidth, $sHeight));
                } else {
                    $thumbSrc = $config->resources->frontController->baseUrl . 'images/nophoto_' . $sWidth . 'x' . $sHeight . '.png';
                }
            } catch (Exception $e) {
                $thumbSrc = $config->resources->frontController->baseUrl . 'images/nophoto_' . $sWidth . 'x' . $sHeight . '.png';
            }
            echo $this->miniaturkaAdmin($thumbSrc, $z);
        }
    endforeach;
    ?>
</div>

<div class="modal fade" id="ModalKolor" tabindex="-1" role="dialog" aria-labelledby="ModalKolorLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalKolor">Zmiana koloru</h4>
            </div>
            <div class="modal-body">
                <?php echo $this->formKolory; ?>
            </div>
        </div>
    </div>
</div>