<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Produkt',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie produktami</a></li>
        <li class="breadcrumb-item active">Zmień produkt</li>
    </ol>
</nav>
<h1><small>Parametry produktu</small> <?php echo $this->nazwaProduktu; ?></h1>

<?php echo $this->AdminProduktMenu($this->produktId, 'edycja'); ?>
<?php echo $this->form; ?>