<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie firmami</li>
    </ol>
</nav>
<h1>Lista firm</h1>

<div class="row">
    <div class="col-xs-6 col-sm-4">
        <a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Firma',
            'action' => 'dodaj'
                ), 'default', true);
        ?>" class="btn btn-success btn-sm">Dodaj firmę</a>
    </div>
    <div class="col-sm-offset-2"><?php echo $this->form; ?></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Nip</th>
            <th>Upust</th>
            <th>PH</th>
            <th style="width: 150px;">&nbsp;</th>
        </tr>
    </thead>

    <?php
    $i = ($this->iter > 0 ? $this->iter : 0);
    foreach ($this->paginator as $firma) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $firma->getNazwa(); ?></td>
            <td><?php echo $firma->getNip(); ?></td>
            <td class="text-right"><?php echo $firma->getUpust(); ?> %</td>
            <td><?php
                $ph = $this->em->getRepository('Entities\Uzytkownik')->getById($firma->getPhId());

                echo $ph->getImie() . ' ' . $ph->getNazwisko();
                ?></td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Firma',
                    'action' => 'zmien',
                    'id' => $firma->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'controller' => 'Adres',
                    'action' => 'firmy',
                    'id' => $firma->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Adresy"><i class="fas fa-truck"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Firma',
                    'action' => 'pracownicy',
                    'id' => $firma->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Pracownicy"><span class="glyphicon glyphicon-user"></span></a>
            </td>
        </tr>

<?php endforeach; ?>
</table>

<?php
echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
?>