<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Firma',
            'action' => 'index'
                ), 'default', true);
        ?>">Zarządzanie firmami</a></li>
    <li class="active">Pracownicy firmy "<?php echo $this->firma->getNazwa(); ?>"</li>
</ol>
<h1>Pracownicy firmy "<?php echo $this->firma->getNazwa(); ?>"</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Data rejestracji</th>
            <th>Zmień</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    $crypt = Moyoki_Crypt::getInstance();

    foreach ($this->pracownicy as $p) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $p->getImie(); ?></td>
            <td><?php echo $p->getNazwisko(); ?></td>
            <td><?php echo $crypt->decrypt($p->getEmail()); ?></td>
            <td><?php echo date_format($p->getDataRejestracji(), 'd.m.Y H:i:s'); ?></td>
            <td class="text-center"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Uzytkownik',
                    'action' => 'zmien',
                    'id' => $p->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm">
                    <i class="far fa-edit"></i> Edycja</a></td>
        </tr>

    <?php endforeach; ?>
</table>
