<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
    <li><a href="#">Zarządzanie firmami</a></li>
    <li class="active">Zmiana danych firmy</li>
</ol>
<h1>Zmiana firmy</h1>
<?php echo $this->form; ?>