<?php
$lang = Zend_Controller_Front::getInstance()->getRequest()->getParam('language');
?>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dolne-menu">
            <span class="sr-only">Rozwin menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav navbar-brand">
            <li>

                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'Index',
                    'action' => 'index'
                        ), 'default', true);
                ?>"><?php echo $this->translate('strona glowna'); ?></a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="dolne-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'Produkty',
                    'action' => 'grupa',
                    'grupa' => '2',
                    'nazwa' => 'bestsellery',
                        ), 'grupy', true);
                ?>"><?php echo $this->translate('menu bestsellery'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'Produkty',
                    'action' => 'grupa',
                    'grupa' => '3',
                    'nazwa' => 'promocje',
                        ), 'grupy', true);
                ?>"><?php echo $this->translate('menu promocje'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'strona',
                    'action' => 'podglad',
                    'kod' => 'wydarzenia',
                    'nazwa' => ''
                        ), 'strony', true);
                ?>"><?php echo $this->translate('menu wydarzenia'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'strona',
                    'action' => 'podglad',
                    'kod' => 'metody-znakowania',
                    'nazwa' => ''
                        ), 'strony', true);
                ?>"><?php echo $this->translate('menu znakowanie'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'strona',
                    'action' => 'podglad',
                    'kod' => 'o-firmie',
                    'nazwa' => ''
                        ), 'strony', true);
                ?>"><?php echo $this->translate('o firmie'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'strona',
                    'action' => 'podglad',
                    'kod' => 'regulamin',
                    'nazwa' => ''
                        ), 'strony', true);
                ?>"><?php echo $this->translate('regulamin'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'strona',
                    'action' => 'podglad',
                    'kod' => 'polityka-prywatnosci',
                    'nazwa' => ''
                        ), 'strony', true);
                ?>"><?php echo $this->translate('polityka prywatnosci'); ?></a>
            </li>
            <li>
                <a href="<?php
                echo $this->url(array(
                    'language' => $lang,
                    'controller' => 'strona',
                    'action' => 'podglad',
                    'kod' => 'kontakt',
                    'nazwa' => ''
                        ), 'strony', true);
                ?>"><?php echo $this->translate('kontakt'); ?></a>
            </li>
        </ul>
    </div>
</nav>