<?php
$user = Zend_Auth::getInstance()->getIdentity();
$acl = Atacama_Acl::getInstance();
?>
<ul>
<?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
            <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_OGOLNA)) : ?>
                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>"><i class="fas fa-toolbox"></i>&nbsp;<?php echo $this->translate('administracja'); ?></a></li>
               <?php endif; ?>

            <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_KLIENT_DOSTEP)) : ?>
                <?php if ($user['firma_id'] == 637): ?>
                <li><a href="<?php
                    echo $this->url(array(
                        'controller' => 'zamowienia-specjalne',
                        'action' => 'koszyk'
                            ), 'default', true);
                    ?>"><i class="far fa-sun" aria-hidden="true"></i>&nbsp;Moje produkty</a></li>
                   <?php endif; ?>
                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'Uzytkownik',
                    'action' => 'index'
                        ), 'default', true);
                ?>"><?php echo $this->translate('moje dane'); ?></a></li>
                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'Zamowienia',
                    'action' => 'moje'
                        ), 'default', true);
                ?>"><?php echo $this->translate('moje zamowienia'); ?></a></li>
                   <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_GENERUJ_OFERTE)) : ?>
                    <li><a href="<?php
                    echo $this->url(array(
                        'controller' => 'Zamowienia',
                        'action' => 'oferty'
                            ), 'default', true);
                    ?>"><?php echo $this->translate('moje oferty'); ?></a></li>
                   <?php endif; ?>
                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'Adres',
                    'action' => 'firmy'
                        ), 'default', true);
                ?>"><?php echo $this->translate('moje adresy'); ?></a></li>
               <?php endif; ?>

            <?php 
            /**
            if ($user['rola'] == Atacama_Acl::ROLA_KOORDYNATOR) : ?>
                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'zamowienia-specjalne',
                    'action' => 'uzytkownicy'
                        ), 'default', true);
                ?>">Zarządzaj budżetami</a></li>

                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'zamowienia-specjalne',
                    'action' => 'koszyk'
                        ), 'default', true);
                ?>">Produkty</a></li>
                <p>&nbsp;</p>
            <?php endif; 
             * 
             */ ?>
             

            <?php if ($user['rola'] >= Atacama_Acl::ROLA_PH) : ?>
                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'zamowienia-specjalne',
                    'action' => 'opiekun-zamowienia'
                        ), 'default', true);
                ?>">Zamówienia do mnie</a></li>

                <li><a href="<?php
                echo $this->url(array(
                    'controller' => 'zamowienia-specjalne',
                    'action' => 'opiekun-firmy'
                        ), 'default', true);
                ?>">Moje firmy</a></li>
                <p>&nbsp;</p>
            <?php endif; ?>
            <li><a href="<?php
               echo $this->url(array(
                   'controller' => 'Uzytkownik',
                   'action' => 'wylogowanie'), 'default', true);
               ?>"><i class="fas fa-sign-out-alt"></i>&nbsp;Wyloguj się</a></li>
<?php else: ?>
                <li><a href="<?php
    echo $this->url(array('controller' => 'Uzytkownik', 'action' => 'logowanie')
            , 'default', true);
    ?>?redirect=<?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); ?>"><?php echo $this->translate('zaloguj'); ?></a></li>
    <li><a href="<?php
    echo $this->url(array('controller' => 'Uzytkownik', 'action' => 'rejestracja')
            , 'default', true);
    ?>"><?php echo $this->translate('utworz konto'); ?></a></li>
<?php
endif;
?>
</ul>