<nav class="nav-bot navbar navbar-expand-lg navbar-dark bg-pink">
    <div class="container">
       
        <!-- Collapsible content -->
        <div class="navbar-collapse">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">


                <li class="nav-item dropdown mega-dropdown">
                    <a  class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Gadżety reklamowe</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-reklamowe.png'); ?>" alt="Gadżety reklamowe" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-reklamowe-sm.png'); ?>" class="img img-responsive" alt="Gadżety reklamowe" /></div>
                        </a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                            <?php $this->CategoryAndSub(206); //Biurowe ?>
                            <?php $this->CategoryAndSub(40); //Piśmienne ?>
                            <?php $this->CategoryAndSub(226); //Smycze i akcesoria ?>
                            <?php $this->CategoryAndSub(34); //Breloki ?>

                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Tekstylia reklamowe</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-tekstylia.png'); ?>" alt="Tekstylia reklamowe" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-tekstylia-sm.png'); ?>" class="img img-responsive" alt="Tekstylia reklamowe" /></div>
                        </a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                            <?php $this->CategoryAndSub(85); //Tekstylia bezrekawniki ?>
                            <?php $this->CategoryAndSub(89); //Tekstylia bluzy ?>
                            <?php $this->CategoryAndSub(94); //Tekstylia kurtki ?>
                            <?php $this->CategoryAndSub(99); //Tekstylia polary ?>
                            <?php $this->CategoryAndSub(103); //Tekstylia polo ?>
                            <?php $this->CategoryAndSub(107); //Tekstylia softshelle ?>
                            <?php $this->CategoryAndSub(111); //Tekstylia spodenki ?>
                            <?php $this->CategoryAndSub(115); //Tekstylia spodnie ?>
                            <?php $this->CategoryAndSub(119); //Tekstylia swetry ?>
                            <?php $this->CategoryAndSub(123); //Tekstylia tshirty ?>
                            <?php $this->CategoryAndSub(127); //Tekstylia topy ?>
                            <?php $this->CategoryAndSub(258); //Tekstylia koszule ?>
                            <?php $this->CategoryAndSub(282); //Tekstylia odziez funkcyjna ?>
                            <?php $this->CategoryAndSub(281); //Tekstylia odziez robocza ?>
                            <?php $this->CategoryAndSub(210); //Tekstylia apaszki ?>
                            <?php $this->CategoryAndSub(280); //Tekstylia bielizna ?>
                            <?php $this->CategoryAndSub(93); //Tekstylia czapki ?>
                            <?php $this->CategoryAndSub(212); //Tekstylia odziez robocza ?>
                            <?php $this->CategoryAndSub(211); //Tekstylia odziez robocza ?>
                            <?php $this->CategoryAndSub(98); //Tekstylia paski ?>
                            <?php $this->CategoryAndSub(221); //Tekstylia inne ?>
                            

                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Outdoorowe gadżety reklamowe</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-outdoor.png'); ?>" alt="Outdoorowe gadżety reklamowe" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-outdoor-sm.png'); ?>" class="img img-responsive" alt="Outdoorowe gadżety reklamowe" /></div>
                        </a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                            <?php $this->CategoryAndSub(50); //Parasole i płaszcze ?>
                            <?php $this->CategoryAndSub(17); //Dom i ogród ?>
                            <?php $this->CategoryAndSub(266); //Outdoorowe ?>
                            <?php $this->CategoryAndSub(77); //Latarki i narzędzia ?>

                        </div>
                    </div>
                </li>

                <!--
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Osobiste upominki reklamowe</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                <?php $this->CategoryAndSub(65); //Kosmetyki i pielęgnacja ?>
                <?php $this->CategoryAndSub(245); //Biżuteria ?>
                        </div>
                    </div>
                </li>
                //-->

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Ceramika reklamowa</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-ceramika.png'); ?>" alt="Ceramika reklamowa" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-ceramika-sm.png'); ?>" class="img img-responsive" alt="Ceramika reklamowa" /></div>
                        </a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                            <?php $this->CategoryAndSub(72); //Kubki i filiżanki ?>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Elektronika reklamowa</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-elektronika.png'); ?>" alt="Elektronika reklamowa" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-elektronika-sm.png'); ?>" class="img img-responsive" alt="Elektronika reklamowa" /></div>
                        </a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                                <?php $this->CategoryAndSub(7); //Elektronika ?>
                                <?php $this->CategoryAndSub(134); //Pamięci USB ?>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Dziecięce gadżety</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-dzieci.png'); ?>" alt="Dziecięce gadżety" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-dzieci-sm.png'); ?>" class="img img-responsive" alt="Dziecięce gadżety" /></div>
</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                                <?php $this->CategoryAndSub(165); //Zabawki i odblaski ?>
                                <?php $this->CategoryAndSub(61); //Słodycze ?>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle no-caret" data-toggle="dropdown">
                        <div class="d-none d-lg-inline">Gadżety reklamowe VIP</div>
                        <div class="d-none d-sm-inline d-md-inline d-lg-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-vip.png'); ?>" alt="Gadżety reklamowe VIP" /></div>
                        <div class="d-xs-inline d-sm-none nav-icon"><img src="<?php echo $this->baseUrl('images/nav-ico-vip-sm.png'); ?>" class="img img-responsive" alt="Gadżety reklamowe VIP" /></div>
                        </a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row mx-md-4 mx-1">
                                <?php $this->CategoryAndSub(244); //Galanteria Skórzana ?>
                                <?php $this->CategoryAndSub(131); //Opakowania ?>
                                <?php $this->CategoryAndSub(154); //Torby ?>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </div>
</nav>