<?php
$lang = Zend_Controller_Front::getInstance()->getRequest()->getParam('language');
$user = Zend_Auth::getInstance()->getIdentity();

$acl = Atacama_Acl::getInstance();

if($user['rola'] >= Atacama_Acl::ROLA_PH) :
?>


<div class="btn-group" role="group" aria-label="Menu ph dla zamowien specjalnych">
    <a href="<?php
    echo $this->url(array(
    'language' => $lang,
    'controller' => 'zamowienia-specjalne',
    'action' => 'opiekun-zamowienia'
    ), 'default', true);
    ?>" class="btn btn-default">Zamówienia do mnie</a>
    
    <a href="<?php
    echo $this->url(array(
    'language' => $lang,
    'controller' => 'zamowienia-specjalne',
    'action' => 'opiekun-firmy'
    ), 'default', true);
    ?>" class="btn btn-default">Moje firmy</a>
</div>
<p>&nbsp;</p>
<?php endif; 