<?php
$fullUrl = (isset($_SERVER['REQUEST_URI'])) ? $_SERVER['REQUEST_URI'] : '';
$remove = $this->baseUrl();
$newUrl = substr($fullUrl, strlen($remove)+4);
?>
	<a href="<?php echo $this->baseUrl('/pl/'.$newUrl); ?>">PL</a> |
	<a href="<?php echo $this->baseUrl('/en/'.$newUrl); ?>">EN</a> |
	<a href="<?php echo $this->baseUrl('/ru/'.$newUrl); ?>">DE</a>
