<?php
$user = Zend_Auth::getInstance()->getIdentity();
$acl = Atacama_Acl::getInstance();
?>
<?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
        <div class="dropdown" id="user-menu">
            <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-user fa-stack-1x"></i>
                </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <h6 class="dropdown-header">Moje konto</h6>


                <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_OGOLNA)) : ?>
                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'Administracja',
                        'action' => 'index'
                            ), 'default', true);
                    ?>"><?php echo $this->translate('administracja'); ?></a>
                   <?php endif; ?>

                <?php if ($user['rola'] >= Atacama_Acl::ROLA_PH) : ?>
                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'zamowienia-specjalne',
                        'action' => 'opiekun-zamowienia'
                            ), 'default', true);
                    ?>"><i class="far fa-sun" aria-hidden="true" style="color: green"></i>&nbsp;Zamówienia do mnie</a>

                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'zamowienia-specjalne',
                        'action' => 'opiekun-firmy'
                            ), 'default', true);
                    ?>"><i class="far fa-sun" aria-hidden="true" style="color: green"></i>&nbsp;Moje firmy</a>
                   <?php endif; ?>

                <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_KLIENT_DOSTEP)) : ?>
                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'zamowienia-specjalne',
                        'action' => 'koszyk'
                            ), 'default', true);
                    ?>"><i class="far fa-sun" aria-hidden="true" style="color: green"></i>&nbsp;Moje produkty</a>
                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'Uzytkownik',
                        'action' => 'index'
                            ), 'default', true);
                    ?>"><?php echo $this->translate('moje dane'); ?></a>
                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'Zamowienia',
                        'action' => 'moje'
                            ), 'default', true);
                    ?>"><?php echo $this->translate('moje zamowienia'); ?></a>
                       <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_GENERUJ_OFERTE)) : ?>
                        <a class="dropdown-item" href="<?php
                        echo $this->url(array(
                            'controller' => 'Zamowienia',
                            'action' => 'oferty'
                                ), 'default', true);
                        ?>"><?php echo $this->translate('moje oferty'); ?></a>
                       <?php endif; ?>
                    <a class="dropdown-item" href="<?php
                    echo $this->url(array(
                        'controller' => 'Adres',
                        'action' => 'firmy'
                            ), 'default', true);
                    ?>"><?php echo $this->translate('moje adresy'); ?></a>
                   <?php endif; ?>
                <p>&nbsp;</p>
                <a class="dropdown-item" href="<?php
                echo $this->url(array(
                    'controller' => 'Uzytkownik',
                    'action' => 'wylogowanie'), 'default', true);
                ?>"><i class="fas fa-sign-out-alt"></i>&nbsp;Wyloguj się</a>
            </div>
        </div>
<?php else: ?>
    <a href="<?php
    echo $this->url(array('controller' => 'Uzytkownik', 'action' => 'logowanie')
            , 'default', true);
    ?>?redirect=<?php echo Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); ?>"><?php echo $this->translate('zaloguj'); ?></a>
    lub 
    <a href="<?php
    echo $this->url(array('controller' => 'Uzytkownik', 'action' => 'rejestracja')
            , 'default', true);
    ?>"><?php echo $this->translate('utworz konto'); ?></a>
<?php
endif;
