<?php
if (isset($_GET)) {
    $getString = '?';
    foreach ($_GET as $k => $v) {
        $getString .= $k . '=' . $v . '&amp;';
    }
}
$wszystkichDozwolonychDoWyswietlenia = 30;
$przepascSkoku = 7;
$kropkiPrzed = FALSE;
$kropkiPo = FALSE;


if ($this->pageCount && $this->pageCount > 1):
    ?>
    <nav aria-label="pagination">
        <ul class="pagination pg-blue justify-content-center">
            <!-- Poprzednia strona - link -->
            <?php if (isset($this->previous)): ?>
                <li class="page-item"><a href="<?php echo $this->url(array('s' => $this->previous)); ?><?php echo (isset($getString) ? $getString : ''); ?>" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
            <?php else: ?>
                <li class="page-item disabled"><a href="#" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
            <?php endif; ?>

            <!-- Numery stron - linki -->
            <?php foreach ($this->pagesInRange as $strona): ?>
                <?php
                if ($strona < $this->current - $przepascSkoku || $strona > $this->current + $przepascSkoku) :
                    if ($strona < $this->current - $przepascSkoku && !$kropkiPrzed) :
                        $kropkiPrzed = TRUE;
                        ?>
                        <li class="page-item disabled page-link">[..]</li>
                        <?php
                    endif;

                    if ($strona > $this->current + $przepascSkoku && !$kropkiPo) :
                        $kropkiPo = TRUE;
                        ?>
                        <li class="page-item disabled page-link">[..]</li>
                        <?php
                    endif;

                else :
                    ?>
                    <?php if ($strona != $this->current): ?>
                        <li class="page-item"><a href="<?php echo $this->url(array('s' => $strona)); ?><?php echo (isset($getString) ? $getString : ''); ?>" class="page-link"><?php echo $strona; ?></a></li>
                    <?php else: ?>
                        <li class="page-item active"><a href="#" class="page-link"><?php echo $strona; ?></a></li>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Nastepna strona -  link -->
            <?php if (isset($this->next)): ?>
                <li class="page-item"><a href="<?php echo $this->url(array('s' => $this->next)); ?><?php echo (isset($getString) ? $getString : ''); ?>" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
            <?php else: ?>
                <li class="page-item disabled"><a href="#" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
                    <?php endif; ?>
        </ul>
    </nav>
    <?php

 endif;