<footer>
    <div class="bg-pink">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <h4>Moje konto</h4>
                    <?php echo $this->render('footerMenuUser.phtml'); ?>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <h4>Polecane</h4>
                    <ul>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'Marka',
                                'action' => 'index'
                                    ), 'default', true);
                            ?>">Nasze marki</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'Produkty',
                                'action' => 'grupa',
                                'grupa' => '2',
                                'nazwa' => 'bestsellery',
                                    ), 'grupy', true);
                            ?>">Bestselery</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'Produkty',
                                'action' => 'grupa',
                                'grupa' => '1',
                                'nazwa' => 'nowosci',
                                    ), 'grupy', true);
                            ?>">Nowości</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'Produkty',
                                'action' => 'grupa',
                                'grupa' => '3',
                                'nazwa' => 'promocje',
                                    ), 'grupy', true);
                            ?>">Promocje</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'Produkty',
                                'action' => 'grupa',
                                'grupa' => '4',
                                'nazwa' => 'wyprzedaz',
                                    ), 'grupy', true);
                            ?>">Wyprzedaż</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <h4>Przydatne</h4>
                    <ul>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'strona',
                                'action' => 'podglad',
                                'kod' => 'o-firmie',
                                'nazwa' => ''
                                    ), 'strony', true);
                            ?>">O firmie</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'strona',
                                'action' => 'podglad',
                                'kod' => 'kontakt',
                                'nazwa' => ''
                                    ), 'strony', true);
                            ?>">Kontakt</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'strona',
                                'action' => 'podglad',
                                'kod' => 'wydarzenia',
                                'nazwa' => ''
                                    ), 'strony', true);
                            ?>">Wydarzenia</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'strona',
                                'action' => 'podglad',
                                'kod' => 'metody-znakowania',
                                'nazwa' => ''
                                    ), 'strony', true);
                            ?>">Znakowanie</a></li>
                        <p>&nbsp;</p>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'strona',
                                'action' => 'podglad',
                                'kod' => 'regulamin',
                                'nazwa' => ''
                                    ), 'strony', true);
                            ?>">Regulamin</a></li>
                        <li><a href="<?php
                            echo $this->url(array(
                                'controller' => 'strona',
                                'action' => 'podglad',
                                'kod' => 'polityka-prywatnosci',
                                'nazwa' => ''
                                    ), 'strony', true);
                            ?>">Polityka prywatności</a></li>

                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <h4>Atacama S.C.</h4>
                    <div>ul. Księcia Bolesława 1/3 bud.10<br>
                        01-452 Warszawa</div>
                    <div>Biuro: +48 664 703 800
                        <a href="mailto:zapytanie@atacama.com.pl">zapytanie@atacama.com.pl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-pink-dark">
        <div class="container">
            <div class="row">
                <div class="col">Copyright ATACAMA S.C. 2014-<?php echo date('Y'); ?></div>
                <div class="col text-right">
                    Projekt i realizacja: <a href="https://www.moyoki.pl/" target="_blank">Studio Moyoki</a>

                </div>
            </div>
        </div>
</footer>