<form class="form-inline" method="get" role="search" id="form-search" action="<?php echo $this->baseUrl('/pl/Produkty/wynik-szukania'); ?>" style="float: right">
    <div class="input-group search-nav">
        <input type="text" class="form-control search-bar" id="szukane" name="szukane">
        <button type="submit" class="btn btn-default" style="float: right"><i class="fas fa-search"></i></button>
    </div>
</form>