<?php
$config = Atacama_Config::getInstance();
$sWidth = $config->logotypy->rozmiary->m->w;
$sHeight = $config->logotypy->rozmiary->m->h;
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie producentami</li>
    </ol>
</nav>
<h1>Producenci</h1>

<div class="jumbotron">
    <div class="container">
        <p>Niektórzy producenci (marki) powinny być zaznaczone jako "niewidoczne" - ikona <span class="far fa-eye-slash" style="color: #AAA;" title="Niewidoczny" title="Niewidoczny"></span>.<br/>
            Mowa o markach "do uzupełnienia", czy "Pozostałe", które nie są szukanymi markami przez Klientów.</p>
    </div>
</div>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Producent',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj producenta</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Logo</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->producenci as $producent) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $producent->getNazwa(); ?> 
                <?php if ($producent->getWidoczny() == 0) : ?>
                    <span class="far fa-eye-slash" style="color: #AAA;" title="Niewidoczny" title="Niewidoczny"></span>
                <?php endif; ?></td>
            <td align="center"><?php
                if (null != $producent->getLogo() && strlen($producent->getLogo()) > 4) :

                    try {
                        $foto = new Moyoki_File($config->logotypy->path . $producent->getLogo());
                        $thumbSrc = $this->baseUrl($config->logotypy->urlbase . $foto->getThumbnailFile($sWidth, $sHeight));
                        ?>
                        <img src="<?php echo $thumbSrc; ?>" alt="<?php echo strtolower($producent->getNazwa()); ?>" />
                              <?php
                          } catch (Exception $e) {
                              echo $e->getMessage();
                          }
                      endif;
                      ?>
            </td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Producent',
                    'action' => 'zmien',
                    'id' => $producent->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Producent',
                    'action' => 'tlumaczenia',
                    'id' => $producent->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Tłumacz"><i class="far fa-flag"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Marka',
                    'action' => 'widok',
                    'id' => $producent->getId(),
                    'nazwa' => Moyoki_Friendly::name($producent->getNazwa())
                        ), 'marki', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Podglad"><i class="far fa-eye"></i></a>
            </td>
        </tr>

    <?php endforeach; ?>
</table>
