<?php
// Troche ustawien
$i = 0;
$config = Atacama_Config::getInstance();
$msWidth = $config->zdjecia->rozmiary->ms->w;
$msHeight = $config->zdjecia->rozmiary->ms->h;
/**
 * Okruszki
 */
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Producent',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie producentami</a></li>
        <li class="breadcrumb-item active">Pokazowe produkty producenta</li>
    </ol>
</nav>
<h1>Pokazowe produkty producenta</h1>

<?php echo $this->AdminProducentMenu($this->producentId, 'produkty'); ?>
<div class="exposed-box mb-5 p-3">
    <?php echo $this->form; ?>
</div>
<div class="row">
    <?php
    if ($this->produkty) :
        foreach ($this->produkty as $p) {
            $produkt = $p->getProdukty();
            ?>
            <div class="produkt col-xs-6 col-sm-4 col-md-3 text-center mb-5">
                <div class="exposed-box bg-white p-4">
                    <div class="text-right"><a href="<?php
                        echo $this->url(
                                array('language' => $this->lang, 'controller' => 'Producent', 'action' => 'produkty', 'id' => $this->producentId, 'usun' => $p->getId()), 'default', true);
                        ?>" class="btn btn-danger"><i class="fas fa-trash"></i> Usuń</a>
                    </div>
                    <div class="foto">
                        <?php
                        try {

                            $zdjecie = $this->em->getRepository('Entities\Produkt_Zdjecie')->getZdjecieGlowne($produkt->getId());

                            if ($zdjecie && strlen($zdjecie->getPlik()) > 4) {
                                $plik = new Moyoki_File($config->zdjecia->path . $zdjecie->getPlik());
                                $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $produkt->getDystrybutorzyId() . '/' . $plik->getThumbnailFile($msWidth, $msHeight));
                            } else {
                                $plik = new Moyoki_File($config->zdjecia->path . 'nophoto.png');
                                $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $plik->getThumbnailFile($msWidth, $msHeight));
                            }
                        } catch (Exception $e) {
                            $plik = new Moyoki_File($config->zdjecia->path . 'nophoto.png');
                            $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $plik->getThumbnailFile($msWidth, $msHeight));
                        }
                        ?>
                        <img src="<?php echo $thumbSrc; ?>" alt="" />
                    </div>
                    <h2><?php
                        foreach ($produkt->getProduktyI18n() as $i18n) {
                            if ($i18n->getJezyk() == $this->lang) {
                                echo $i18n->getNazwa();
                            }
                        }
                        ?></h2>
                </div>
            </div> <!-- /.produkt //-->


        <?php } ?>

    <?php endif; ?>
</div>