<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Produkt',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie producentami</a></li>
        <li class="breadcrumb-item active">Opisy producenta</li>
    </ol>
</nav>
<h1><small>Zmiana treści</small> <?php echo $this->nazwaProducenta; ?></h1>

<?php echo $this->AdminProducentMenu($this->producentId, 'tlumaczenia'); ?>

<?php
echo $this->form;
