<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Producent',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie producentami</a></li>
        <li class="breadcrumb-item active">Zmień producenta</li>
    </ol>
</nav>
<h1>Zmień producenta</h1>
<?php echo $this->AdminProducentMenu($this->producentId, 'edycja'); ?>


<?php echo $this->form; ?>