<?php if ($this->zas_koszyk) : ?>
    <script type='text/javascript'>
        $('document').ready(function () {

            $("#do-koszyka-button").click(function () {
                $("#dodawanie-do-koszyka-form").show();
                $("#modal-footer-menu").slideDown();
                $("#produkt-dodany-do-koszyka").hide();
                $("input#ilosc").val('');
                $("input#cena1szt").val('');
                $("input#netto").val('');
            });

            $("input.numeric").numeric();

            var znakowanie_url = "<?php echo $this->baseUrl('/pl/ajax/do-koszyka-znakowania/produktId/' . $this->produkt_id); ?>";

            var ceny = new Array();
            /**
             * Sprawdzamy czy jest tylko one size i ustawiamy go na zaznaczoengo
             */
            if ($('select#rozmiary option').length) {
                var lastValue = $('#rozmiary option:last-child').val();
                if (lastValue == 0) {
                    $('#rozmiary option:last-child').attr('selected', 'selected');
                    $("input#ilosc").attr('readonly', false);
                }
            }
    <?php
    foreach ($this->detale as $detal) :
        ?>
                var detal = new Object();
                detal.rozmiar = "<?php echo $detal['rozmiar']; ?>";
                detal.cena = parseFloat("<?php echo $detal['rozmiar']; ?>");
                detal.promocja = parseFloat("<?php echo $detal['promocja']; ?>");
                detal.wyprzedaz = parseFloat("<?php echo $detal['wyprzedaz']; ?>");
                ceny["<?php echo $detal['rozmiar']; ?>"] = detal;
    <?php endforeach; ?>

            $("#rozmiary").change(function () {
                $("input#ilosc").val('');
                $("input#cena1szt").val('');
                $("input#netto").val('');

                var value = $("#rozmiary").val();
                if (value != '-') {
                    $("input#ilosc").attr('readonly', false);
                } else {
                    $("input#ilosc").attr('readonly', true);
                    $("input#ilosc").attr('value', null);
                }

            });

            var wto;
            $("#ilosc").keyup(function () {
                if ($("#ilosc").val().length > 0 && !isNaN($("#ilosc").val())) {
                    clearTimeout(wto);
                    wto = setTimeout(function () {
                        przeliczCeny();
                    }, 500);
                }
            });

            $("#form-do-koszyka").submit(function (event) {
                /* zatrzmujemy normalne dzialanie formularza */
                event.preventDefault();
                var postData = $(this).serializeArray();
                $.ajax({
                    type: 'POST',
                    data: postData,
                    url: _BASEURL + '/pl/Ajax/do-koszyka-produkt/',
                    statusCode: {
                        500: function () {
                            $("#modalKoszyk").html("Application error");
                        },
                    },
                    success: function (msg) {
                        if (msg == 'error') {
                            $("#modalKoszykLabel").html("<?php echo $this->translate('produkt nie zostal dodany do koszyka'); ?>");

                        } else {
                            $("#modalKoszykLabel").html("<?php echo $this->translate('produkt dodany do koszyka'); ?>");
                            $("#dodawanie-do-koszyka-form").hide();
                            $("#modal-footer-menu").slideUp('slow');
                            $("#produkt-dodany-do-koszyka").slideDown('slow');
                        }

                    },
                    error: function (msg) {
                        $("#modalKoszyk").html(msg);
                    }
                });
            });

        });

    </script>                      
    <div class="modal fade" id="modalKoszyk" tabindex="-1" role="dialog" aria-labelledby="modalKoszykLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="dodawanie-do-koszyka">
                    <form id="form-do-koszyka" enctype="application/x-www-form-urlencoded" method="post" action="" class="form-horizontal">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalKoszykLabel"><?php echo $this->translate('wybierz rozmiar i podaj ilosc'); ?></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="dodawanie-do-koszyka-form">
                                <input type="hidden" id="produkt_id" name="produkt_id" value="<?php echo $this->produkt_id; ?>" />
                                <input type="hidden" id="produkt_detal_id" name="produkt_detal_id" value="" />
                                <input type="hidden" id="kategoria" name="kategoria" value="<?php echo $this->kategoria_id; ?>" />
                                <input type="hidden" id="kolor_id" name="kolor_id" value="<?php echo $this->kolor_id; ?>" />
                                <div class="form-group">
                                    <div class="row">
                                        <label for="rozmiary" class="col-4 control-label text-right align-self-center"><?php echo $this->translate('rozmiar'); ?></label>
                                        <div class="col-8">
                                            <?php $iloscDetali = count($this->detale); ?>
                                            <select class="form-control md" id="rozmiary" name="rozmiary" 
                                                    size="<?php echo ($iloscDetali > 1 ? '4' : '2'); ?>">
                                                <option value="-" disabled="disabled"><?php echo $this->translate('wybierz'); ?></option>
                                                <?php foreach ($this->detale as $detal) {
                                                    ?>
                                                    <option label="<?php echo Atacama_Produkt_Rozmiar::pokaz($detal['rozmiar']); ?>" value="<?php echo $detal['rozmiar']; ?>"><?php echo Atacama_Produkt_Rozmiar::pokaz($detal['rozmiar']); ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label for="ilosc" class="col-4 control-label text-right align-self-center"><?php echo $this->translate('naklad'); ?></label>
                                        <div class="col-8">
                                            <input type="text" class="form-control text-right numeric" id="ilosc" name="ilosc" maxlength="7" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div id="podsumowanie">
                                    <h4 class="p-3"><?php echo $this->translate('podsumowanie'); ?></h4>
                                    <div id="koszyk-promocja" class="text-center" style="display: none;"><?php echo $this->translate('cena regularna'); ?>: <span id="koszyk-promocja-wartosc"></span></div>
                                    <div id="koszyk-wyprzedaz" class="text-center" style="display: none;"><?php echo $this->translate('produkt wyprzedaz'); ?></div>
                                    <div id="koszyk-darmo" class="text-center" style="display: none;"><?php echo $this->translate('cena jest zerowa'); ?></div>
                                    <table class="table table-hover" id="tabela-koszyk-podsumowanie">
                                        <tr>
                                            <td width="50%" class="text-right"><?php echo $this->translate('cena za sztuke'); ?></td>
                                            <td><input type="text" class="form-control text-right" name="cena1szt" id="cena1szt" readonly=""></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><?php echo $this->translate('wartosc netto'); ?></td>
                                            <td><input type="text" class="form-control text-right" name="netto" id="netto" readonly=""></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="produkt-dodany-do-koszyka" style="display: none;">
                                <div><?php echo $this->translate('produkt dodany pomylsnie do koszyka. Co chcesz zrobic teraz?'); ?></div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><?php echo $this->translate('wrocic do zakupow'); ?></button>
                                <a href="<?php
                                echo $this->url(array(
                                    'language' => $this->lang,
                                    'controller' => 'Koszyk',
                                    'action' => 'index'
                                        ), 'default', true);
                                ?>" class="btn btn-primary btn-raised"><?php echo $this->translate('przejsc do koszyka'); ?></a>
                            </div>
                            <div class="modal-footer" id="modal-footer-menu">
                                <button type="button" class="btn btn-default btn-raised mr-2" data-dismiss="modal"><?php echo $this->translate('zamknij'); ?></button>
                                <button type="submit" class="btn btn-primary"><?php echo $this->translate('dodaj do koszyka'); ?></button>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
<?php endif; ?>

<?php
//Rozmiary stany i jak są uprawnienia, to ceny
?>
<div class="card exposed-box bg-white pt-4 pb-4">
    <h4 class="p-2 text-center"><?php echo $this->detale[0]['kolor']; ?></h4>
    <table class="table table-striped">
        <tr>
            <th><?php echo $this->translate('rozmiar'); ?></th>
            <th><?php echo $this->translate('stan magazynowy'); ?></th>        
            <th><?php echo $this->translate('cena od'); ?></th>
        </tr>
        <?php foreach ($this->detale as $detal) : ?>
            <tr>
                <td class="text-center">
                    <?php echo Atacama_Produkt_Rozmiar::pokaz($detal['rozmiar']); ?>
                </td>
                <?php if ($this->zas_koszyk) : ?>
                    <td class="text-center">
                        <?php echo $detal['magazyny']; ?>
                    </td>
                    <td class="text-right">
                        <?php
                        $cenaKlienta = new Atacama_Produkt_Cenaklienta($this->em, $detal['detalObj'], NULL, NULL);
                        echo Atacama_Produkt_Kwota::odczyt($cenaKlienta->najnizszaCena(), 'zł');
                        ?>
                    </td>
                <?php else : ?>
                    <td class="text-center" colspan="2">
                        <a href="<?php
                        echo $this->url(array('language' => $this->lang, 'controller' => 'Uzytkownik', 'action' => 'logowanie')
                                , 'default', true);
                        ?>">
                               <?php
                               echo $this->translate('zaloguj sie aby zobaczyc stan i cene');
                               ?></a>
                    </td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
    </table>

    <?php if ($this->zas_koszyk) : ?>
        <div class="text-center">
            <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#modalKoszyk" id="do-koszyka-button"><?php echo $this->translate('dodaj do koszyka'); ?></button>
        </div>
    <?php endif; ?>
</div>
