<?php
//Ustawienia
$config = Atacama_Config::getInstance();
$lWidth = $config->zdjecia->rozmiary->m->w;
$lHeight = $config->zdjecia->rozmiary->m->h;
?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <?php if ($this->produkt instanceof Entities\Produkt) : ?>
        <?php
        foreach ($this->produkt->getProduktyI18n() as $i18n) {
            if ($i18n instanceof Entities\Produkt_i18n) {
                if ($i18n->getJezyk() == $this->lang) {
                    $nazwa = $i18n->getNazwa();
                    $opis = $i18n->getOpis();
                }
            }
        }
        ?>
        <h4 class="modal-title" id="modal-title"><?php echo $nazwa; ?></h4>
    </div>
    <div class="modal-body">
        <div id="modal-content">
            <?php
            if (count($this->produkt->getProduktyZdjecia())) {

                foreach ($this->produkt->getProduktyZdjecia() as $zdjecie) :

                    try {
                        $foto = new Moyoki_File($config->zdjecia->path . $zdjecie->getPlik());
                        $normalne = $this->baseUrl($config->zdjecia->urlbase . $this->produkt->getDystrybutorzyId() . '/' . $foto->getThumbnailFile($lWidth, $lHeight));
                    } catch (Exception $e) {
                        $normalne = $config->resources->frontController->baseUrl . 'images/nophoto_' . $lWidth . 'x' . $lHeight . '.png';
                    }
                    ?>
                    <div class="col-xs-12 col-sm-6 col-md-4"><div class="thumbnail text-center " id="z117476">
                            <p class="img"><img src="<?php echo $normalne; ?>"></p>
                        </div>
                    </div>
                    <?php
                endforeach;
            } // If sa zdjecia
            ?>
            <div class="clearfix"></div>
            <?php echo $opis; ?></div>
        <table class="table">
            <tr>
                <td>Kolor</td>
                <td>Rozmiar</td>
                <td class="text-center">Cena</td>
                <td class="text-center">Mag 1</td>
                <td class="text-center">Mag 2</td>
            </tr>
            <?php foreach ($this->produkt->getProduktyDetale() as $detale) : ?>
                <tr>
                    <td><?php
                        if ($detale->getKolory()instanceof Entities\Kolor)
                            echo $detale->getKolory()->getNazwa();
                        else
                            echo 'Brak';
                        ?></td>
                    <td><small><?php echo Atacama_Produkt_Rozmiar::pokaz($detale->getRozmiar()); ?></small></td>
                    <td class="text-center"><?php echo $detale->getCena(); ?></td>
                    <td class="text-center"><?php echo $detale->getStanMagazynowy1(); ?></td>
                    <td class="text-center"><?php echo $detale->getStanMagazynowy2(); ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <div class="modal-footer text-center">Ten produkt ma być:
        <button type="button" class="btn btn-primary" onclick="zmienStatus('<?php echo $this->produkt->getId(); ?>', 'widoczny')">widoczny</button>
        <button type="button" class="btn btn-default" onclick="zmienStatus('<?php echo $this->produkt->getId(); ?>', 'usun')">usunięty</button>
    </div>
<?php else: ?>
    <h4 class="modal-title" id="modal-title">Niepoprawny identyfikator produktu</h4>
    </div>
<?php endif; ?>
    
