<script type='text/javascript'>
    $('document').ready(function() {

        $("#zrodlo-element").hide();


        var zrodla = <?php echo $this->opcje; ?>;

        $("#zakres").change(function() {
            $(".file-input").hide();
            $("#form-import .submit").hide();
            if ($(this).find(":selected").val() != 'null') {
                $("#zrodlo-element").show();
                dodajOptions(zrodla, $(this).find(":selected").val());
            } else {
                $("#zrodlo-element").hide();
            }
        });

        $('#zrodlo').change(function() {
            if ($(this).find(":selected").val() != 'null') {
                if ($(this).val() == '1') {
                    $(".file-input").show();
                } else {
                    $(".file-input").hide();
                }
                $("#form-import .submit").show();
            } else {
                $("#form-import .submit").hide();
            }
        });

    });

    function dodajOptions(tablica, obj_id) {
        var zrodlo = $("#zrodlo");
        zrodlo.append();

        zrodlo.find('option').remove().end().append(new Option('-- Proszę wybrać --', 'null'));

        for (var k in tablica) {
            if (k == 'zak' + obj_id) {
                var zakres = tablica[k];
                for (var m in zakres) {
                    var zrodlo_obj = zakres[m];
                    zrodlo.append(new Option(zrodlo_obj.nazwa, zrodlo_obj.id));
                }
            }
        }
    }
</script>                      


<div id="zakres-element"><?php echo $this->zakres_element; ?></div>
<div id="zrodlo-element"><?php echo $this->zrodlo_element; ?></div>