<form action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Prod. importu</th>
                <th>Producent</th>
                <?php if($this->element->getAttrib('showDiscount')) :?>
                <th>Rabat</th>
                <?php endif; ?>
            </tr>
            <?php foreach ($this->element->getElements() as $element) { 
                 if(preg_match('/^producent_(\d+)$/', $element->getName(), $matches)) {
            ?>
                <tr>
                    <td><?php echo $element->getLabel(); ?></td>
                    <td><?php echo $element; ?></td>
                    <?php if($this->element->getAttrib('showDiscount')) {
                    echo '<td>' . $this->element->{'rabat_' . $matches[1]} . '</td>';
                    } ?>
                </tr>
            <?php }} ?>
        </tbody></table>
    <div><?php echo $this->element->wykonaj ?></div>
</form>
