<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Podsumowanie importów</li>
    </ol>
</nav>
<h1>Podsumowanie importów</h1>

<?php if (count($this->raporty)) : ?>
    <table class="table table-hover" id="import-podsumowanie">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Dystyrbutor</th>
                <th>Data</th>
                <th>Podsumowanie</th>
                <th>Raport</th>
            </tr>
        </thead>

        <?php
        $i = 0;
        foreach ($this->raporty as $raport) :
            $i++;
            //$raport = new Entities\Import_Raport;
            ?>
            <tr>
                <td class="text-right"><small><?php echo $i; ?>.</small></td>
                <td><?php echo $raport->getDystrybutorzy()->getNazwa(); ?></td>
                <td class="text-center"><?php echo date_format($raport->getData(), 'd.m.Y'); ?> <small>
                        <?php echo date_format($raport->getData(), 'H:i:s'); ?></small></td>
                <td class="text-center"><div class="rozwin" onclick="javascript:podsumowanie('podsumowanie-<?php echo $raport->getId(); ?>')"><i class="fas fa-chevron-down"></i> Rozwiń</div></td>
                <td class="text-center"><a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Import',
                        'action' => 'raporty',
                        'plik' => $raport->getPlikLog()
                            ), 'default', true);
                    ?>" target="_blank"><i class="fas fa-window-restore"></i> Otwórz</a></td>
            </tr>
            <tr id="podsumowanie-<?php echo $raport->getId(); ?>" style="display: none;">
                <td colspan="5" class="podsumowanie"><?php
                    $tablica = json_decode($raport->getOpis());
                    $pos = 0;
                    foreach ($tablica as $k => $v) {
                        $pos++;
                        echo '<div class="' . ($pos % 2 == 0 ? "parzysty" : "nieparzysty") . '"><span class="nazwa">' . $k . '</span><span class="wartosc">' . $v . '</span></div>';
                    }
                    ?>

                </td>
            </tr>

        <?php endforeach; ?>
    </table>
<?php else : ?>
    Brak raportów.
<?php endif; ?>

