<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li class="breadcrumb-item active">Raporty importów</li>
</ol>
</nav>
<h1>Raporty importów</h1>

<?php if(count($this->raporty)) :?>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Raport</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->raporty as $raport) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><a href="<?php 
                echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Import',
                'action' => 'raporty',
                'plik' => $raport
                ), 'default', true);
            ?>" target="_blank"><?php echo $raport; ?></a></td>
        </tr>

    <?php endforeach; ?>
</table>
<?php else :?>
Brak raportów.
<?php endif; ?>

