<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Ustawienia importu</li>
    </ol>
</nav>
<h1>Dystrybutorzy - parametry importu danych</h1>

<?php if (count($this->dystrybutorzy)) : ?>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Nazwa</th>
                <th>Zmień</th>
            </tr>
        </thead>

        <?php
        $i = 0;
        foreach ($this->dystrybutorzy as $dystrybutor) :
            $i++;
            ?>
            <tr>
                <td class="text-right"><?php echo $i; ?>.</td>
                <td><?php echo $dystrybutor->getNazwa(); ?></td>
                <td class="text-center">
                    <a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Import',
                        'action' => 'zmien',
                        'id' => $dystrybutor->getId()
                            ), 'default', true);
                    ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
                </td>
            </tr>

        <?php endforeach; ?>
    </table>
<?php else : ?>
    Brak dystrybutorów, dla których możliwe jest przeprowadzenie importu.
<?php endif; ?>

