<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Import',
                'action' => 'ustawienia'
                    ), 'default', true);
            ?>">Zarządzanie importem</a></li>
        <li class="breadcrumb-item active">Zmień parametry</li>
    </ol>
</nav>
<h1><small>Parametry importu dla</small> <?php echo $this->nazwaDystrybutora; ?></h1>

<?php echo $this->AdminImportMenu($this->dystrybutorId, 'ogolne'); ?>

<?php if ($this->parametry) : ?>
    <?php echo $this->form; ?>
<?php else : ?>
    Dla wybranego dystrybutora nie są wymagane żadne parametry ogólne.
<?php endif; ?>
