<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Kategoria',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zarządzanie kategoriami</a></li>
        <li class="breadcrumb-item active">Ceny</li>
    </ol>
</nav>
<h1><small>Ceny dla</small> <?php echo $this->kategoriaNazwa; ?></h1>
<form id="form-kategoria-ceny" enctype="application/x-www-form-urlencoded" method="post" action="">
    <table width="100%" border="0" id="kategoria-ceny-tabela">
        <tr>
            <th scope="col">Procent marża</th>
            <th scope="col">Procent marża promocyjna</th>
            <th scope="col">Min. ilość</th>
            <th scope="col">Max. ilość</th>
        </tr>
        <?php
        foreach ($this->rodzaje as $rodzaj) :

            //$rodzaj = new Entities\Kategoria_Cena;
            ?>
            <tr>
                <td><?php
                    $cena = new Zend_Form_Element_Text($rodzaj->getId() . '_regularna');
                    echo $cena
                            ->setAttrib('class', 'form-control xs text-right')
                            ->setValue($rodzaj->getProcentRegularna());
                    ?></td>
                <td>
                    <?php
                    $cena_inny = new Zend_Form_Element_Text($rodzaj->getId() . '_promocyjna');
                    echo $cena_inny
                            ->setAttrib('class', 'form-control xs text-right')
                            ->setValue($rodzaj->getProcentPromocja());
                    ?>
                </td>
                <td>
                    <?php
                    $min = new Zend_Form_Element_Text($rodzaj->getId() . '_minimum');
                    echo $min
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($rodzaj->getMinimum());
                    ?></td>
                <td>
                    <?php
                    $max = new Zend_Form_Element_Text($rodzaj->getId() . '_maximum');
                    echo $max
                            ->setAttrib('class', 'form-control md text-right')
                            ->setValue($rodzaj->getMaximum());
                    ?></td>
            </tr>
            <?php
        endforeach;
        ?>
    </table>
    <p style="margin-top: 20px;" class="text-right">
        <a href="#" class="btn btn-success btn-sm" id="dodaj-rodzaj">Dodaj pozycje do listy</a>
        <input type="hidden" name="id" value="<?php echo $this->kategoriaId; ?>" id="id">
        <input type="submit" name="rodzaje" id="produkt" value="zapisz" class="btn btn-default">
    </p>
</form>
