<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie kategoriami</li>
    </ol>
</nav>
<h1>Kategorie</h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Kategoria',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj kategorię</a>

<table class="table table-striped" id="kategorie-index">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Konfekcjon.</th>
            <th>Nawigacja</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->kategorie as $kategoria) :
        $i++;
        ?>
        <tr>
            <td><div class="poziom-<?php echo $kategoria->getPoziom(); ?>"><?php echo $kategoria->getKategorieI18n()->first()->getNazwa(); ?></div></td>
            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($kategoria->getKonfekcjonowanie()); ?></td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Kategoria',
                    'action' => 'wgore',
                    'id' => $kategoria->getId()
                        ), 'default', true);
                ?>" class="btn btn-link btn-sm"><i class="fas fa-chevron-up"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Kategoria',
                    'action' => 'wdol',
                    'id' => $kategoria->getId()
                        ), 'default', true);
                ?>" class="btn btn-link btn-sm"><i class="fas fa-chevron-down"></i></a>
            </td>
            <td class="text-right">
                <?php if ($kategoria->getPoziom() == 0) : ?>
                    <a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Kategoria',
                        'action' => 'ceny',
                        'id' => $kategoria->getId()
                            ), 'default', true);
                    ?>" class="btn btn-info btn-sm tooltip-init" title="Ceny"><i class="fas fa-dollar-sign"></i></a>
                   <?php endif; ?>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Kategoria',
                    'action' => 'zmien',
                    'id' => $kategoria->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'controller' => 'Kategoria',
                    'action' => 'tlumaczenia',
                    'id' => $kategoria->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Tłumacz"><i class="far fa-flag"></i></a>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Kategoria',
                    'action' => 'usun',
                    'id' => $kategoria->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Usuń"><i class="far fa-trash-alt"></i></a>
            </td>            
        </tr>
    <?php endforeach; ?>

</table>
