Czy na pewno usunąć kategorię: '<b><?php echo $this->kategoria;?></b>'? 
<form method="post"  class="usuwanie-form"><input type="submit" name="del" value="Tak" /><input type="submit" name="del" value="Nie" /></form>
