<?php
$acl = Atacama_Acl::getInstance();
$lang = 'pl';
?>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'zamowienia-specjalne',
            'action' => 'opiekun-firmy'
                ), 'default', true);
        ?>">Moje firmy</a></li>
    <li class="breadcrumb-item active">Produkty firmy</li>
</ol>
</nav>
<h1>Przypisane produkty specjalne</h1>
<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>

<?php if (NULL != $this->dodane && count($this->dodane) > 0) : ?>

    <div class="jumbotron">
        Zostały przypisane <?php echo count($this->dodane); ?> nowe produkty.<br>
        Produkty wymagają aktualizacji danych i zdjęć. Posiadają cenę 0 i brak dostępnego stocku.
    </div>
    <ul>
        <?php foreach ($this->dodane as $dodane) : ?>
            <li>Nazwa: <?php echo $dodane['nazwa']; ?>, nr kat: <?php echo $dodane['nr_kat']; ?> (ID: <?php echo $dodane['id']; ?>)</li>
        <?php endforeach; ?>

    </ul>
    <?php
 endif;
