<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zamówienia specjalne</a></li>
    </ol>
</nav>
<h1>Moje Zamówienia specjalne</h1>
<?php echo $this->KorporacyjniMenu(); ?>
<table width="100%" border="0" id="produkt-detale-tabela" class="table table-hover">
    <tr>
        <th scope="col">Nr</th>
        <th scope="col">Data utworzenia</th>
        <th scope="col">Data realizacji</th>
        <th scope="col">Status</th>
        <th scope="col">Netto</th>
        <th scope="col">&nbsp;</th>
    </tr>
    <?php
    foreach ($this->zamowienia as $zamowienie) :
        if ($zamowienie instanceof Entities\Korporacyjny_Koszyk):
            ?>
            <tr>
                <td class="text-right"><?php echo $zamowienie->getId(); ?></td>
                <td class="text-center"><?php
                    echo $zamowienie->getDataUtworzenia()->format('Y.m.d H:d');
                    ?></td>
                <td class="text-center"><?php
                    echo (null != $zamowienie->getDataRealizacji() ? $zamowienie->getDataRealizacji()->format('Y.m.d H:d') : '-');
                    ?></td>
                <td class="text-center">
                    <?php
                    switch ($zamowienie->getStatus()) {
                        case Atacama_Static::KORPORACYJNI_ZAMOWIENIE_NOWE: echo 'złożone';
                            break;
                        case Atacama_Static::KORPORACYJNI_ZAMOWIENIE_ZREALIZOWANE: echo 'zrealizowane';
                            break;
                        case Atacama_Static::KORPORACYJNI_ZAMOWIENIE_ANULOWANE: echo 'anulowane';
                            break;
                    }
                    ?>
                </td>
                <td class="text-right"><?php echo $zamowienie->getNetto(); ?> zł</td>
                <td class="text-center"><a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Zamowienia-specjalne',
                        'action' => 'szczegoly',
                        'id' => $zamowienie->getId()
                            ), 'default', true);
                    ?>" class="btn btn-primary">Szczegóły</a></td>
            </tr>
            <?php
        endif;
    endforeach;
    ?>
</table>