<?php
$acl = Atacama_Acl::getInstance();
$lang = 'pl';
$config = Atacama_Config::getInstance();
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zamówienia specjalne</a></li>
        <li class="breadcrumb-item active">Koszyk</li>
    </ol>
</nav>
<h1>Posiadasz uprawnienia Koordynatora w <?php echo count($this->firmy); ?> firmach. Proszę wybrać firme, którą chcesz zarządzać.</h1>
<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>
<?php echo $this->KorporacyjniMenu(); ?>


<?php
foreach ($this->firmy as $firma):
    if ($firma instanceof Entities\Korporacyjny_Uzytkownik):
        ?>

        <a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'zamowienia-specjalne',
            'action' => $this->action,
            'firma' => $firma->getFirmyId()
                ), 'default', true);
        ?>" class="btn btn-lg btn-default text-left">
            <h3><?php echo $firma->getFirmy()->getNazwa(); ?></h3>
        </a>
        <?php
    endif;
endforeach;
?>