<?php
$acl = Atacama_Acl::getInstance();
$lang = 'pl';
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl('/'); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'controller' => 'zamowienia-specjalne',
                'action' => 'opiekun-firmy'
                    ), 'default', true);
            ?>">Moje firmy</a></li>
        <li class="breadcrumb-item active">Użytkownicy firmy</li>
    </ol>
</nav>
<h1>Użytkownicy przypisani do firmy <b><?php echo $this->firma->getNazwa(); ?></b></h1>
<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>
<?php echo $this->KorporacyjniMenu(); ?>
<?php echo $this->form; ?>

<div id="zamowienia-specjalne-uzytkownicy">
    <?php if (count($this->uzytkownicy) == 0) : ?>
        Ta firma nie ma jeszcze użytkowników
    <?php else : ?>
        <table width="100%" border="0" id="korporacyjny-uzytkownicy-tabela" class="table table-hover">
            <tr>
                <th scope="col" onclick="return confirm('are you sure?')">Nazwisko i imię</th>
                <th scope="col">Firma</th>
                <th scope="col">Typ</th>
                <th scope="col">Usuń</th>
            </tr>
            <?php
            $i = 0;
            foreach ($this->uzytkownicy as $u) :
                if ($u instanceof Entities\Korporacyjny_Uzytkownik) :
                    ?>
                    <tr class="<?php echo ($u->getStatus() == Atacama_Static::KORPORACYJNI_UZYTKOWNICY_STATUS_USUNIETY ? 'usuniety' : ''); ?>">
                        <td>
                            <?php echo $u->getUzytkownicy()->getImie() . " " . $u->getUzytkownicy()->getNazwisko(); ?></td>
                        <td><?php echo $u->getUzytkownicy()->getFirmy()->getNazwa(); ?></td>
                        <td>
                            <?php echo ($u->getRola() == Atacama_Static::KORPORACYJNI_UZYTKOWNICY_ROLA_KOORDYNATOR ? 'Koordynator' : 'Klient'); ?>
                            <?php if ($u->getStatus() != Atacama_Static::KORPORACYJNI_UZYTKOWNICY_STATUS_USUNIETY) : ?>
                                <a href="<?php
                                echo $this->url(array(
                                    'controller' => 'zamowienia-specjalne',
                                    'action' => 'opiekun-firmy-uzytkownicy',
                                    'firma_id' => $this->firma->getId(),
                                    'id' => $u->getId(),
                                    'typ' => 'zmien'
                                        ), 'default', true);
                                ?>" onclick="return confirm('Chcesz zmienić rolę na <?php echo ($u->getRola() == Atacama_Static::KORPORACYJNI_UZYTKOWNICY_ROLA_KOORDYNATOR ? 'Klient' : 'Koordynator'); ?>?');"
                                   class="btn btn-default btn-sm">Zmień</a>
                               <?php endif; ?>
                        </td>
                        <td class="text-center">
                            <?php if ($u->getStatus() != Atacama_Static::KORPORACYJNI_UZYTKOWNICY_STATUS_USUNIETY) : ?>
                                <a href="<?php
                                echo $this->url(array(
                                    'controller' => 'zamowienia-specjalne',
                                    'action' => 'opiekun-firmy-uzytkownicy',
                                    'firma_id' => $this->firma->getId(),
                                    'id' => $u->getId(),
                                    'typ' => 'usun'
                                        ), 'default', true);
                                ?>" class="btn btn-default" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')">Usuń</a>
                            <?php endif; ?>
                        </td>
                    </tr>
                    <?php
                endif;
            endforeach;
            ?>
        </table>

    <?php
    endif; //Sa produkty, wiec else
    ?>
</div>