<?php
$acl = Atacama_Acl::getInstance();
$lang = 'pl';
$config = Atacama_Config::getInstance();
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zamówienia specjalne</a></li>
        <li class="breadcrumb-item active">Ustawienia dla produktu</li>
    </ol>
</nav>
<h1>Produkt: <?php echo $this->nazwaProduktu; ?></h1>
<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>
<?php echo $this->KorporacyjniMenu(); ?>
<div class="row">
<div class="col-12 col-md-6 text-center center-block">
    <div class="thumbnail exposed-box bg-white" >
        <div class="caption">
            <p>Obecne zdjecie</p>
        </div>
        <img src="<?php echo $this->KorporacyjniProduktZdjecie($this->produktObj, $config->zdjecia->rozmiary->l->w, $config->zdjecia->rozmiary->l->h); ?>" alt="" class="img img-responsive" />  

    </div>
</div>
<div class="clearfix"></div>
<div class="col-12 col-md-6">
    <?php echo $this->form; ?>
</div>
</div>