<?php
$acl = Atacama_Acl::getInstance();
$config = Atacama_Config::getInstance();
$zdjecieW = $config->zdjecia->rozmiary->m->w;
$zdjecieH = $config->zdjecia->rozmiary->m->h;
$lang = 'pl';
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl('/'); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'opiekun-firmy'
                    ), 'default', true);
            ?>">Moje firmy</a></li>
        <li class="breadcrumb-item active">Produkty firmy</li>
    </ol>
</nav>
<h1>Produkty specjalne dla <b><?php echo $this->produkty[0]->getFirmy()->getNazwa(); ?></b></h1>
<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>

<a href="<?php
echo $this->url(array(
    'controller' => 'zamowienia-specjalne',
    'action' => 'opiekun-firmy-uzytkownicy',
    'firma_id' => $this->produkty[0]->getFirmyId()
        ), 'default', true);
?>" class="btn btn-default">Zarządzanie użytkownikami firmy <b><?php echo $this->produkty[0]->getFirmy()->getNazwa(); ?></b></a>
<div id="zamowienia-specjalne-koszyk">
    <?php if (count($this->produkty) == 0) : ?>
        Ta firma nie ma jeszcze produktów specjalnych
    <?php else : ?>
        <form id="form-korporacyjny-koszyk" enctype="application/x-www-form-urlencoded" method="post" action="">
            <table width="100%" border="0" id="korporacyjny-koszyk-tabela" class="table table-hover">
                <tr>
                    <th scope="col" width="100">Zdjęcie</th>
                    <th scope="col">Produkt</th>
                    <th scope="col">Znakowanie</th>
                    <th scope="col">Cena szt.</th>
                    <th scope="col">Stock</th>
                    <?php if ($this->rola == Atacama_Acl::ROLA_KLIENT) : ?>
                        <th scope="col" width="80">Ilość zamawiana</th>
                    <?php endif; ?>
                    <?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_KORPORACYJNY_KOSZYK_PH)) : ?>
                        <th>Admin</th>
                    <?php endif; ?>
                </tr>
                <?php
                $i = 0;
                $widoczny = TRUE;
                foreach ($this->produkty as $produkt) :
                    if ($produkt instanceof Entities\Korporacyjny_Produkt) :

                        /**
                         * Sprawdzanie czy produkt jest widoczny
                         * Koordynator i PH moga takie widziec
                         */
                        if ($produkt->getWidoczny() == 1) {
                            $widoczny = TRUE;
                        } else {
                            $widoczny = FALSE;
                            if ($this->rola == Atacama_Acl::ROLA_KLIENT) {
                                continue;
                            }
                        }
                        $i++;
                        ?>
                        <tr data-id="<?php echo $produkt->getId(); ?>" 
                            class="pozycja <?php echo (!$widoczny ? 'ukryty' : ''); ?>
                            <?php
                            /**
                             * Podpowiedz ze produkt wymaga uzupelnienia
                             */
                            if ($widoczny && $produkt->getCena() == 0.00 && $produkt->getStock() === NULL):
                                echo 'do-uzupelnienia';
                            endif;
                            ?>
                            ">
                            <td><a href="<?php echo $this->KorporacyjniProduktZdjecie($produkt); ?>" rel="lightbox" class="thumbnail">
                                    <img src="<?php echo $this->KorporacyjniProduktZdjecie($produkt, $zdjecieW, $zdjecieH); ?>" class="img img-responsive" />
                                </a>
                            </td>

                            <td><?php if (!$widoczny): ?>
                                    <div class="produkt-usuniety">Produkt wycofany z oferty</div>
                                <?php endif; ?>
                                <?php
                                foreach ($produkt->getProduktyDetale()->getProdukty()->getProduktyI18n() as $i18n) {
                                    if ($i18n instanceof Entities\Produkt_i18n) {
                                        if ($i18n->getJezyk() == 'pl') {
                                            $nazwaProduktu = $i18n->getNazwa();
                                        }
                                    }
                                }
                                ?>
                                <a href="<?php
                                echo $this->url(array('language' => $lang, 'controller' => 'Produkt',
                                    'action' => 'widok', 'id' => $produkt->getProduktyDetale()->getProduktyId(), 'nazwa' => Moyoki_Friendly::name($nazwaProduktu)), 'produkty', true);
                                ?>">
                                    <?php echo $nazwaProduktu; ?></a>
                            </td>
                            <td><?php
                                foreach ($produkt->getKorporacyjniProduktyZnakowania() as $znakowanie) {
                                    if ($znakowanie instanceof Entities\Korporacyjny_Produkt_Znakowanie) {
                                        echo $znakowanie->getZnakowanie()->getKod() . " / " . $znakowanie->getIloscKolorow() . "<br>\n";
                                    }
                                }
                                ?></td>
                            <td class="text-right cena" data-cena="<?php echo $produkt->getCena(); ?>"><?php echo $produkt->getCena(); ?> zł</td>
                            <td class="text-right stock" data-stock="<?php echo $produkt->getStock(); ?>"><?php
                                if ($acl->sprawdzDostep(Atacama_Acl::ZAS_KORPORACYJNY_KOSZYK_PH)) {
                                    /**
                                     * Koordynator i PH widzi stock wlasciwy
                                     */
                                    $stock = $produkt->getStock();
                                } else {
                                    /**
                                     * Klient gdy jest ponizej 0 widzi 0
                                     */
                                    $stock = ($produkt->getStock() > 0 ? $produkt->getStock() : 0);
                                }
                                echo $stock
                                ?></td>
                            <?php if ($this->rola == Atacama_Acl::ROLA_KLIENT) : ?>
                                <td><?php
                                    $ilosc = new Zend_Form_Element_Text($produkt->getId() . '_ilosc');
                                    echo $ilosc
                                            ->setAttrib('class', 'form-control xs text-right ilosc')
                                            ->setDecorators(array(
                                                'ViewHelper',
                                                array('Errors', array('class' => 'alert alert-danger')),
                                                array('Description', array('class' => 'help-block', 'placement' => 'appand')),
                                                array('Label', array('placement' => 'prepand', 'class' => 'control-label')),
                                                array(array('elementDiv' => 'HtmlTag'), array('tag' => 'div', 'class' => 'form-group'))
                                                    )
                                    );
                                    ?>
                                    <span class="alert"></span>
                                </td>
                            <?php endif; ?>
                            <?php if ($widoczny && $acl->sprawdzDostep(Atacama_Acl::ZAS_KORPORACYJNY_KOSZYK_PH)) : ?>
                                <td class="actions text-center">
                                    <a href="<?php
                                    echo $this->url(array('language' => $lang, 'controller' => 'zamowienia-specjalne',
                                        'action' => 'opiekun-wypelnij-produkt', 'id' => $produkt->getId()), 'default', true);
                                    ?>" class="btn btn-default btn-sm"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="<?php
                                    echo $this->url(array('language' => $lang, 'controller' => 'zamowienia-specjalne',
                                        'action' => 'opiekun-usun-produkt', 'id' => $produkt->getId()), 'default', true);
                                    ?>" onclick="return potwierdzUsuniecie(<?php echo $produkt->getId(); ?>)" class="btn btn-warning btn-sm"><i class="far fa-trash-alt"></i></a>
                                </td>
                            <?php endif; ?>
                        </tr>
                        <?php
                    endif;
                endforeach;
                ?>
            </table>
            <?php if ($this->rola == Atacama_Acl::ROLA_KLIENT) : ?>
                <div id="podsumowanie">
                    <span id="budzet" data-budzet="<?php echo $this->budzetUzytkownika; ?>"></span>
                    <h2 class="text-right">Twój budżet wynosi: <b><?php echo $this->budzetUzytkownika; ?> zł</b></h2>
                    <h2 class="text-right">Koszt zamówienia: <b><span id="suma-netto"></span> zł</b></h2>

                    <div class="text-right">
                        <input type="submit" name="zamow-submit" id="zamow-submit" value="zamów" class="btn btn-warning">
                    </div>
                </div>
            <?php endif; ?>
        </form>
    <?php
    endif; //Sa produkty, wiec else
    ?>
</div>