<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'opiekun-zamowienia'
                    ), 'default', true);
            ?>">Zamówienia specjalne</a></li>
        <li class="breadcrumb-item active">Moje firmy</li>
    </ol>
</nav>
<h1>Moje firmy, które mają koszyki specjalne</h1>

<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>

<p>Proszę wybrać firmę aby zobaczyć produkty do niej przypisane</p>
<?php
echo $this->form;
