<?php
$acl = Atacama_Acl::getInstance();
$config = Atacama_Config::getInstance();
switch ($this->zamowienie->getStatus()) {
    case Atacama_Static::KORPORACYJNI_ZAMOWIENIE_NOWE: $status = 'złożone';
        break;
    case Atacama_Static::KORPORACYJNI_ZAMOWIENIE_ZREALIZOWANE: $status = 'zrealizowane';
        break;
    case Atacama_Static::KORPORACYJNI_ZAMOWIENIE_ANULOWANE: $status = 'anulowane';
        break;
}
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zamówienia specjalne</a></li>
        <li class="breadcrumb-item active">Szczegóły zamówienia</li>
    </ol>
</nav>
<h1><span class="label label-info"><?php echo $status; ?></span> Zamówienie nr <b><?php echo $this->zamowienie->getId(); ?></b></h1>

<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>
<?php echo $this->KorporacyjniMenu(); ?>

<h3>Złożone przez: <?php echo $this->zamowienie->getUzytkownicy()->getImie() . ' ' . $this->zamowienie->getUzytkownicy()->getNazwisko() . ' (' . $this->zamowienie->getUzytkownicy()->getFirmy()->getNazwa() . ')'
?></h3>
<h3>Złożone na firmę: <?php echo $this->zamowienie->getKorporacyjniKoszykiProdukty()->first()->getKorporacyjniProdukty()->getFirmy()->getNazwa(); ?></h3>
<div class="col-md-6">
    Data złożenia: <?php echo $this->zamowienie->getDataUtworzenia()->format('Y.m.d H:d'); ?></div>
<div class="col-md-6">
    Data realizacji: <?php echo (null != $this->zamowienie->getDataRealizacji() ? $this->zamowienie->getDataRealizacji()->format('Y.m.d H:d') : '-'); ?></div>

<table width="100%" border="0" id="korporacyjny-koszyk-tabela" class="table table-hover">
    <tr>
        <th scope="col" width="150">Zdjęcie</th>
        <th scope="col">Produkt</th>
        <th scope="col">Znakowanie</th>
        <th scope="col">Ilość</th>
        <th scope="col">Cena szt.</th>
        <th scope="col">Cena</th>
        <th scope="col">Termin dodruku</th>
    </tr>
    <?php
    $netto = 0;

    foreach ($this->zamowienie->getKorporacyjniKoszykiProdukty() as $produkt) :
        if ($produkt instanceof Entities\Korporacyjny_Koszyk_Produkt) :
            ?>
            <tr>
                <td>
                    <a href="<?php echo $this->KorporacyjniProduktZdjecie($produkt->getKorporacyjniProdukty()); ?>" rel="lightbox" class="thumbnail">
                        <img src="<?php echo $this->KorporacyjniProduktZdjecie($produkt->getKorporacyjniProdukty(), $config->zdjecia->rozmiary->m->w, $config->zdjecia->rozmiary->m->h); ?>" class="img img-responsive" />
                    </a>
                </td>
                <td><?php
                    foreach ($produkt->getKorporacyjniProdukty()->getProduktyDetale()->getProdukty()->getProduktyI18n() as $i18n) {
                        if ($i18n instanceof Entities\Produkt_i18n) {
                            if ($i18n->getJezyk() == 'pl') {
                                $nazwaProduktu = $i18n->getNazwa();
                            }
                        }
                    }
                    echo $nazwaProduktu;
                    ?></td>
                <td><?php
                    foreach ($produkt->getKorporacyjniProdukty()->getKorporacyjniProduktyZnakowania() as $znakowanie) {
                        if ($znakowanie instanceof Entities\Korporacyjny_Produkt_Znakowanie) {
                            echo $znakowanie->getZnakowanie()->getKod() . " / " . $znakowanie->getIloscKolorow() . "<br>\n";
                        }
                    }
                    ?></td>
                <?php
                $kosztPozycja = $produkt->getKorporacyjniProdukty()->getCena() * $produkt->getIlosc();
                $netto += $kosztPozycja;
                ?>
                <td class="text-right"><?php echo $produkt->getIlosc(); ?></td>
                <td class="text-right"><?php echo $produkt->getKorporacyjniProdukty()->getCena(); ?> zł</td>
                <td class="text-right"><b><?php echo $kosztPozycja; ?> zł</b></td>
                <td class="text-center"><?php echo (NULL != $produkt->getDataDodruku() ? $produkt->getDataDodruku()->format('d.m.Y') : '-'); ?></td>
            </tr>
            <?php
        endif;
    endforeach;
    ?>
</table>
<?php if ($acl->sprawdzDostep(Atacama_Acl::ZAS_KORPORACYJNY_KOSZYK_PH) && $this->zamowienie->getStatus() == Atacama_Static::KORPORACYJNI_ZAMOWIENIE_NOWE) : ?>
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'zamowienia-specjalne',
        'action' => 'zmien-status',
        'status' => Atacama_Static::KORPORACYJNI_ZAMOWIENIE_ZREALIZOWANE,
        'id' => $this->zamowienie->getId()
            ), 'default', true);
    ?>" class="btn btn-primary">Potwierdź realizację</a>
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'zamowienia-specjalne',
        'action' => 'zmien-status',
        'status' => Atacama_Static::KORPORACYJNI_ZAMOWIENIE_ANULOWANE,
        'id' => $this->zamowienie->getId()
            ), 'default', true);
    ?>" class="btn btn-link">Anuluj zamówienie</a>
   <?php endif; ?>

<h3 class="text-right">Razem netto: <b><?php echo $netto; ?> zł</b></h3>
