<?php
$acl = Atacama_Acl::getInstance();
$lang = 'pl';
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl('/'); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'zamowienia-specjalne',
                'action' => 'index'
                    ), 'default', true);
            ?>">Zamówienia specjalne</a></li>
        <li class="breadcrumb-item active">Użytkownicy</li>
    </ol>
</nav>
<h1>Użytkownicy firmy <?php echo $this->firma->getNazwa(); ?> - ustaw budżet</h1>
<?php echo $this->render('korporacyjnyPhMenu.phtml'); ?>
<?php echo $this->KorporacyjniMenu(); ?>
<?php if (count($this->uzytkownicy) == 0) : ?>
    Firma nie posiada użytkowników
<?php else : ?>
    <form id="form-korporacyjny-budzet" enctype="application/x-www-form-urlencoded" method="post" action="">
        <table width="100%" border="0" id="korporacyjny-budzet-tabela" class="table table-hover">
            <tr>
                <th scope="col" width="40%">Imię i nazwisko</th>
                <th scope="col">Wykorzystany budżet</th>
                <th scope="col" width="200">Budżet miesięczny</th>
            </tr>
            <?php
            $i = 0;

            foreach ($this->uzytkownicy as $uzytkownik) :
                /**
                 * Budzety tylko dla 
                 */
                if ($uzytkownik instanceof Entities\Korporacyjny_Uzytkownik) :
                    $i++;
                    ?>
                    <tr data-id="<?php echo $uzytkownik->getUzytkownicyId(); ?>" class="pozycja">
                        <td>
                            <div class="imie_nazwisko"><?php echo $uzytkownik->getUzytkownicy()->getNazwisko() . ' ' . $uzytkownik->getUzytkownicy()->getImie(); ?></div>
                            <div class="firma"><?php echo $uzytkownik->getFirmy()->getNazwa(); ?></div>
                        </td>
                        <td class="text-right"><?php
                            $budzet = new Atacama_Uzytkownik_Budzet($this->em, $uzytkownik);
                            echo $budzet->getWykorzystanyBudzetMiesiecznyBiezacy();
                            ?> zł</td>
                        <td><?php
                            if ($uzytkownik->getRola() == Atacama_Static::KORPORACYJNI_UZYTKOWNICY_ROLA_KLIENT) {
                                $ilosc = new Zend_Form_Element_Text($uzytkownik->getUzytkownicyId() . '_budzet');
                                echo $ilosc
                                        ->setAttrib('class', 'form-control xs text-right ilosc')
                                        ->setValue($uzytkownik->getBudzet())
                                        ->setDecorators(array(
                                            'ViewHelper',
                                            array('Errors', array('class' => 'alert alert-danger')),
                                            array('Description', array('class' => 'help-block', 'placement' => 'appand')),
                                            array('Label', array('placement' => 'prepand', 'class' => 'control-label')),
                                            array(array('elementDiv' => 'HtmlTag'), array('tag' => 'div', 'class' => 'form-group'))
                                                )
                                );
                            } else {
                                echo 'Koordynator';
                            }
                            ?>

                        </td>

                    </tr>
                    <?php
                endif;
            endforeach;
            ?>
        </table>
        <div class="text-right">
            <input type="hidden" name="firma_id" id="firma_id" value="<?php echo $this->firma->getId(); ?>" />
            <input type="submit" name="zamow-submit" id="zamow-submit" value="ustaw" class="btn btn-warning">
        </div>
    </form>
<?php
endif; //Sa uzytkownicy, wiec else
?>