<div id="products-list">
    <?php
// Troche ustawien
    $i = 0;
    $config = Atacama_Config::getInstance();
    $sWidth = $config->zdjecia->rozmiary->m->w;
    $sHeight = $config->zdjecia->rozmiary->m->h;
    $this->headTitle()->prepend(html_entity_decode($this->kategoria, ENT_QUOTES));
    /**
     * Okruszki
     */
    $this->canonical = substr($config->appUrl, 0, -1) . $this->url(
                    array('language' => $this->lang, 'controller' => 'Produkt',
                'action' => 'lista',
                'kat' => $this->kat_id,
                'nazwa' => System_Slug::string2slug($this->kategoria)
                    ), 'kategorie', true);
    ?>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <?php
            for ($i = 0; $i < count($this->okruszki); $i++) :
                if ($this->okruszki[$i]['id'] == 0):
                    ?>
                    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl('/'); ?>" title="<?php echo $this->translate('strona glowna'); ?>"><?php echo $this->translate('strona glowna'); ?></a></li>
                <?php else : ?>
                    <li class="breadcrumb-item"><a href="<?php
                        echo $this->url(
                                array('language' => $this->lang, 'controller' => 'Produkt',
                            'action' => 'lista',
                            'kat' => $this->okruszki[$i]['id'],
                            'nazwa' => Moyoki_Friendly::name($this->okruszki[$i]['nazwa'])
                                ), 'kategorie', true);
                        ?>" title="<?php echo $this->okruszki[$i]['nazwa']; ?>">
                            <?php echo $this->okruszki[$i]['nazwa']; ?></a></li>
                <?php endif; ?>
            <?php endfor; ?>
        </ol>
    </nav>
    <?php
    /* Naglowek */
    ?>
    <h1><?php echo $this->kategoria; ?></h1>
    <?php if (isset($this->kategoriaOpis)) : ?>
        <div id="kategoria-opis"><?php echo $this->kategoriaOpis; ?></div>
    <?php endif; ?>
    <div class="row">
        <?php
        foreach ($this->paginator as $produkt) :
            if ($produkt instanceof Entities\Produkt) :
                $this->ProductView($produkt, $this->sell, $this->adminView);
            endif;
        endforeach;
        ?>
    </div>
</div>
<?php
echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
