<div id="product">
    <?php
//Ustawienia
    $config = Atacama_Config::getInstance();

    $sWidth = $config->zdjecia->rozmiary->s->w;
    $sHeight = $config->zdjecia->rozmiary->s->h;
    $lWidth = $config->zdjecia->rozmiary->l->w;
    $lHeight = $config->zdjecia->rozmiary->l->h;
    $xlWidth = $config->zdjecia->rozmiary->xl->w;
    $xlHeight = $config->zdjecia->rozmiary->xl->h;

    $LogotypMWidth = $config->logotypy->rozmiary->m->w;
    $logotypMHeight = $config->logotypy->rozmiary->m->h;

    $urlProducent = $this->url(array(
        'controller' => 'Marka',
        'action' => 'widok',
        'id' => $this->produkt->getProducenci()->getId(),
        'nazwa' => Moyoki_Friendly::name($this->produkt->getProducenci()->getNazwa())
            ), 'marki', true);

    foreach ($this->produkt->getProduktyI18n() as $pi18n) {
        if ($pi18n instanceof Entities\Produkt_i18n) {
            if ($pi18n->getJezyk() == $this->lang) {
                $nazwaProduktu = $pi18n->getNazwa();
                $opisProduktu = $pi18n->getOpis();
                $seoOpis = $pi18n->getSeoOpis();
            }
        }
    }

    //SEO
    $this->headTitle()->prepend(html_entity_decode($nazwaProduktu, ENT_QUOTES));
    if (null != $seoOpis && strlen($seoOpis) > 5) {
        $this->description = trim(html_entity_decode($seoOpis, ENT_QUOTES));
    } else {
        $this->description = trim(html_entity_decode($nazwaProduktu . ' - ' . $opisProduktu, ENT_QUOTES));
    }
    $this->keywords .= ", $nazwaProduktu";


    $this->canonical = substr($config->appUrl, 0, -1) . $this->url(array(
                'controller' => 'produkty',
                'action' => 'podglad',
                'id' => $this->produkt->getId(),
                'nazwa' => Moyoki_Friendly::name($nazwaProduktu)
                    ), 'produkty', true);
    /**
     * Zdjecia produktu - tablice ze zdjeciami
     */
    $tabZdjeciaZKolorem = array();
    $tabZdjeciaDetal = array();


    if (count($this->produkt->getProduktyZdjecia())) {

        foreach ($this->produkt->getProduktyZdjecia() as $zdjecie) :

            Atacama_Produkt_ZdjecieNazwaSeo::zmien($this->em, $zdjecie, $nazwaProduktu);
            if ($zdjecie->getWidoczne() == 1) {
                try {
                    $foto = new Moyoki_File($config->zdjecia->path . $zdjecie->getPlik());
                    $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $this->produkt->getDystrybutorzyId() . '/' . $foto->getThumbnailFile($lWidth, $lHeight));
                    $normalne = $this->baseUrl($config->zdjecia->urlbase . $this->produkt->getDystrybutorzyId() . '/' . $foto->getThumbnailFile($lWidth, $lHeight));
                    $powiekszenie = $this->baseUrl($config->zdjecia->urlbase . $this->produkt->getDystrybutorzyId() . '/' . $foto->getThumbnailFile($xlWidth, $xlHeight));
                } catch (Exception $e) {
                    $thumbSrc = $config->resources->frontController->baseUrl . 'images/nophoto_' . $lWidth . 'x' . $lHeight . '.png';
                    $normalne = $config->resources->frontController->baseUrl . 'images/nophoto_' . $lWidth . 'x' . $lHeight . '.png';
                    $powiekszenie = $config->resources->frontController->baseUrl . 'images/nophoto_' . $xlWidth . 'x' . $xlHeight . '.png';
                }
//Ustawiamy zdjecie glowne
                if ($zdjecie->getGlowne() == 1) {
                    $zdjecieGlowne = array(
                        "powiekszenie" => $powiekszenie,
                        "zdjecie" => $normalne
                    );
                }

                if (NULL === $zdjecie->getKoloryId()) {
// Zdjecie pogladowe
                    $tabZdjeciaDetal[] = array(
                        'miniaturka' => $thumbSrc,
                        'zdjecie' => $normalne,
                        'powiekszenie' => $powiekszenie,
                        'glowne' => $zdjecie->getGlowne());
                } else {
// Zdjecie produktu w kolorze
                    $tabZdjeciaZKolorem[$zdjecie->getKoloryId()] = array(
                        'kolor' => $zdjecie->getKolory()->getNazwa(),
                        'kod' => $zdjecie->getKoloryId(),
                        'miniaturka' => $thumbSrc,
                        'zdjecie' => $normalne,
                        'powiekszenie' => $powiekszenie,
                        'glowne' => $zdjecie->getGlowne());
                }
            }
        endforeach;
    } // If sa zdjecia

    /**
     * Okruszki
     */
    ?>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <?php
            for ($i = 0; $i < count($this->okruszki); $i++) :
                if ($this->okruszki[$i]['id'] == 0):
                    ?>
                    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>" title="<?php echo $this->translate('strona glowna'); ?>"><?php echo $this->translate('strona glowna'); ?></a></li>
                <?php else : ?>
                    <li class="breadcrumb-item"><a href="<?php
                        echo $this->url(
                                array('language' => $this->lang, 'controller' => 'Produkt',
                            'action' => 'lista',
                            'kat' => $this->okruszki[$i]['id'],
                            'nazwa' => Moyoki_Friendly::name($this->okruszki[$i]['nazwa'])
                                ), 'kategorie', true);
                        ?>" title="<?php echo $this->okruszki[$i]['nazwa']; ?>">
                            <?php echo $this->okruszki[$i]['nazwa']; ?></a></li>
                <?php endif; ?>
            <?php endfor; ?>
        </ol>
    </nav>

    <?php
// Ikony promocja nowosc
    $ikony = '';

    if ($this->produkt->getNowosc() == 1) {
        $ikony .= '<span class="badge badge-new">Nowość</span>';
    }

    if ($this->produkt->getPromocja() == 1) {
        $ikony .= '<span class="badge badge-promo">Promocja</span>';
    }
    if ($this->produkt->getBestseller() == 1) {
        $ikony .= '<span class="badge badge-bestseller">Bestseller</span>';
    }
    ?>
    <h1><?php echo $nazwaProduktu; ?></h1>

    <?php
    if ($this->adminView) {
        echo $this->AdminProduktMenu($this->produktId, 'podglad');
    }
    ?>
    <div class="row">
        <div class="col-12 col-sm-8 product-area">
            <div class="card p-3 exposed-box">
                <?php if (strlen($ikony) > 2) : ?>
                    <div id="badges"><?php echo $ikony; ?></div>
                <?php endif; ?>


                <?php
                /**
                 * Logotyp
                 */
                if ($this->produkt->getProducenci()->getWidoczny() == 1 && null != $this->produkt->getProducenci()->getLogo() && strlen($this->produkt->getProducenci()->getLogo()) > 4) :
                    try {
                        $foto = new Moyoki_File($config->logotypy->path . $this->produkt->getProducenci()->getLogo());
                        $thumbSrc = $this->baseUrl($config->logotypy->urlbase . $foto->getThumbnailFile($LogotypMWidth, $logotypMHeight));
                        ?>
                        <div id="logo">
                            <a href="<?php echo $urlProducent; ?>">
                                <img src="<?php echo $thumbSrc; ?>" alt="<?php echo strtolower($this->produkt->getProducenci()->getNazwa()); ?>" />
                            </a>
                        </div>

                        <?php
                    } catch (Exception $e) {
                        echo $e->getMessage();
                    }
                endif;
                ?>

                <div class="row">
                    <div class="col-3 slider slider-nav" id="prod-slider">
                        <?php
// Zdjecia detali produktu
                        if (count($tabZdjeciaDetal) > 0) :
                            ?>
                            <?php
                            for ($i = 0; $i < count($tabZdjeciaDetal); $i++) :
                                ?>
                                <a title="<?php echo $nazwaProduktu; ?>" data-image="<?php echo $tabZdjeciaDetal[$i]["zdjecie"]; ?>" data-zoom-image="<?php echo $tabZdjeciaDetal[$i]["powiekszenie"]; ?>">
                                    <div class="thumb" style="background:url(<?php echo $tabZdjeciaDetal[$i]["miniaturka"]; ?>)"></div>
                                </a>
                            <?php endfor;
                            ?>

                        <?php endif; ?>
                    </div>
                    <div id="zdjecie-big" class="col-9 text-center">
                        <h4>Wybierz dostępny kolor poniżej</h4>
                        <?php
                        $echoZdjecie = '';

                        if (isset($zdjecieGlowne) && is_array($zdjecieGlowne)) {
                            $echoZdjecie = '<a class="slider slider-single" id="img-zoom" href="' . $zdjecieGlowne["powiekszenie"] . '">'
                                    . '<img src="' . $zdjecieGlowne["zdjecie"] . '" alt="' . $nazwaProduktu . '"'
                                    . ' /></a>';
                        }

                        if (strlen($echoZdjecie) > 5) {
                            echo $echoZdjecie;
                        } else {
                            ?>
                            <a class="slider slider-single" id="img-zoom" href="<?php echo $config->resources->frontController->baseUrl . 'images/nophoto_' . $xlWidth . 'x' . $xlHeight . '.png'; ?>"
                               <img src="<?php echo $config->resources->frontController->baseUrl . 'images/nophoto_' . $lWidth . 'x' . $lHeight . '.png'; ?>"
                                 alt="<?php echo $nazwaProduktu; ?>" />
                            </a>
                        <?php } ?>

                    </div>
                </div> <!-- Zdjecia row /-->
                <?php
// Zdjecia kolorow produktu
                if (count($tabZdjeciaZKolorem) > 0) :
                    ?>
                    <div id="zdjecie-kolory">
                        <h2>Dostępne kolory</h2>
                        <div class="slider multiple-items" id="color-slider">
                            <?php
                            foreach ($tabZdjeciaZKolorem AS $kolorId => $zdjecieKolor) :
                                $url = $this->url(array(
                                    'controller' => 'ajax',
                                    'action' => 'do-koszyka',
                                    'produktId' => $this->produkt->getId(),
                                    'kategoriaId' => $this->kategoriaId,
                                    'kolorId' => $kolorId), 'default', true);
                                ?>
                                <a onclick="pokazZdjecie('<?php echo $zdjecieKolor['zdjecie']; ?>', '<?php echo $zdjecieKolor['powiekszenie']; ?>', '<?php echo $url; ?>');"
                                   data-image="<?php echo $zdjecieKolor['zdjecie']; ?>" data-zoom-image="<?php echo $zdjecieKolor['powiekszenie']; ?>"
                                   title="<?php echo $zdjecieKolor['kolor']; ?>" data-toggle="tooltip" data-placement="top">
                                    <div class="thumb" style="background:url(<?php echo $zdjecieKolor["miniaturka"]; ?>)"></div>
                                </a>
                                <?php
                            endforeach;
                            ?>
                        </div>
                    </div><!-- zdjecie-kolory //-->
                    <?php
                else :
                    $result = array(
                        'Produkt' => $nazwaProduktu,
                        'nr kat' => $this->produkt->getNrKatalogowy(),
                        'prod_id' => $this->produkt->getId()
                    );
                    Atacama_Powiadomienie::dodaj($this->em, Atacama_Powiadomienie::PRODUKT_BEZ_KOLOROW, json_encode($result));
                endif;
                ?>
            </div><!-- exposed-box //-->
        </div>
        <div class="col-12 col-sm-4">
            <div id="do-koszyka"></div>
            <dl class="dl-horizontal" id="produkt-parametry">
                <?php
                if ($this->produkt->getProducenci()->getWidoczny() == 1) :
                    ?>
                    <div class="parametr"><span class="nazwa">Producent:</span>
                        <a href="<?php echo $urlProducent; ?>"><?php echo $this->produkt->getProducenci()->getNazwa(); ?></a></div>
                <?php endif; ?>
                <div class="parametr"><span class="nazwa">Nr producenta:</span>
                    <?php echo $this->produkt->getNrKatalogowy(); ?></div>
                <?php if (NULL != $this->produkt->getModel()) : ?>
                    <div class="parametr"><span class="nazwa"><?php echo $this->translate('rodzaj'); ?></span>
                        <?php echo $this->translate(Atacama_Produkt_Rodzaj::pokaz($this->produkt->getModel())); ?></div>
                <?php endif; ?>
            </dl>
            <div class="metody-znakowania">
                <h3><?php echo $this->translate('metody znakowania'); ?></h3>
                <ul>
                    <?php
                    foreach ($this->znakowania as $z) {
                        //$z = new Entities\Produkt_Has_Znakowanie;
                        ?>
                        <li><?php echo $z->getZnakowanie()->getnazwa(); ?></li>
                        <?php
                    }
                    ?>
                </ul>
            </div>

            <div class="kolory">
                <?php
// Zdjecia kolorow produktu
                if (count($tabZdjeciaZKolorem) > 0) :
                    $liczbaKolorow = count($tabZdjeciaZKolorem);
                    ?>
                    <h3>Dostępne kolory</h3>
                    <?php
                    $i = 0;
                    foreach ($tabZdjeciaZKolorem AS $kolorId => $zdjecieKolor) :
                        $i++;
                        $url = $this->url(array(
                            'controller' => 'ajax',
                            'action' => 'do-koszyka',
                            'produktId' => $this->produkt->getId(),
                            'kategoriaId' => $this->kategoriaId,
                            'kolorId' => $kolorId), 'default', true);

                        echo "<a onclick=\"pokazZdjecie('" . $zdjecieKolor['zdjecie'] . "','" . $zdjecieKolor['powiekszenie'] . "','" . $url . "')\" style='cursor: pointer;'>" . $zdjecieKolor['kolor'] . "</a>";

                        if ($liczbaKolorow > $i)
                            echo ", ";
                    endforeach;
                endif;
                ?>
            </div>


        </div> <!-- Opis produktu //-->
    </div>
    <div class="row">

        <div class="opis col-12 pt-5 pb-4">
            <h3>Opis produktu</h3>
            <?php echo nl2br($opisProduktu); ?></div>
    </div>
    <?php if ($this->adminView) : ?>
        <div  class="panel panel-info exposed-box bg-white p-4 mb-3">
            <div class="panel-heading">Widok dla uprawnień Administrator</div>
            <div class="panel-body row">
                <div class="col-6">
                <?php if ($this->produkt->getWidoczny() == 0) : ?>
                    <div class="text-center" style="border: 1px solid green; padding: 5px;">Produkt niewidoczny
                        <br><a title="Usuń produkt" 
                               href="<?php
                               echo $this->url(
                                       array('language' => $this->lang, 'controller' => 'Produkt',
                                   'action' => 'niewidoczne',
                                   'usunac' => $this->produkt->getId()), 'default', true);
                               ?>" onclick="return confirm('na pewno usunąć produkt?');" class="btn btn-default">Usuń produkt</a></div>
                           <?php endif; ?>
                <div>Kategorie</div>
                <ul>
                    <?php foreach ($this->kategorieLista as $nazwa) : ?>
                        <li> <?php echo $nazwa; ?></li>
                    <?php endforeach; ?>
                </ul>
                <div>Metody znakowania</div>
                <ul>
                    <?php
                    foreach ($this->znakowania as $z) {
                        //$z = new Entities\Produkt_Has_Znakowanie;
                        echo '<li>' . $z->getZnakowanie()->getnazwa()
                        . ' - <small>R.: '
                        . $z->getZnakowanie()->getRyczalt()
                        . ', p.: ' . $z->getZnakowanie()->getPrzygotowalnia()
                        . '</small></li>';
                    }
                    ?>
                </ul>
                </div>
                <div class="col-6">
                <div>Detale</div>
                <table class="table">
                    <tr>
                        <td>Kolor</td>
                        <td>Rozmiar</td>
                        <td>Cena</td>
                        <td>Mag 1</td>
                        <td>Mag 2</td>
                    </tr>
                    <?php foreach ($this->produkt->getProduktyDetale() as $detale) : ?>
                        <tr>
                            <td><?php
                                if ($detale->getKolory()instanceof Entities\Kolor)
                                    echo $detale->getKolory()->getNazwa();
                                else
                                    echo 'Brak';
                                ?></td>
                            <td><small><?php echo Atacama_Produkt_Rozmiar::pokaz($detale->getRozmiar()); ?></small></td>
                            <td class="text-right"><?php echo $detale->getCena(); ?></td>
                            <td class="text-right"><?php echo $detale->getStanMagazynowy1(); ?></td>
                            <td class="text-right"><?php echo $detale->getStanMagazynowy2(); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </table>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>
</div> <!--/ /#produkt //-->
