<div id="products-list">
    <?php
// Troche ustawien
    $i = 0;
    $config = Atacama_Config::getInstance();
    $sWidth = $config->zdjecia->rozmiary->m->w;
    $sHeight = $config->zdjecia->rozmiary->m->h;
    /**
     * Okruszki
     */
    ?>
    <ul class="breadcrumb">
        <li><a href="<?php echo $this->baseUrl(); ?>" title="<?php echo $this->translate('strona glowna'); ?>"><?php echo $this->translate('strona glowna'); ?></a></li>
        <li><?php echo $this->translate('wynik szukania'); ?></li>
    </ul>
    <div class="clear">&nbsp;</div>
    <h1><?php echo $this->translate('wynik szukania'); ?></h1>
    <dl class="parametry">
        <dt><?php echo $this->translate('szukane'); ?>: <strong><?php echo $this->szukane; ?></strong></dt><dd><?php echo $this->translate('znalezionych'); ?>: <b><?php echo $this->iloscZnalezionych; ?></b></dd>
        <dt></dd>
    </dl>
    <div class="row">
        <?php
        foreach ($this->paginator as $produkt) :
            //$produkt = new Entities\Produkt();

            foreach ($produkt->getProduktyI18n() as $pi18n) {
                if ($pi18n->getJezyk() == $this->lang)
                    $nazwa = $pi18n->getNazwa();
            }
            ?>
            <div class="produkt col-xs-6 col-sm-4 col-md-3 text-center">
                <?php
                // Ikony promocja nowosc
                $ikony = '';

                if ($produkt->getNowosc() == 1) {
                    $ikony .= '<span class="new"></span>';
                }

                if ($produkt->getPromocja() == 1) {
                    $ikony .='<span class="promo"></span>';
                }

                $url_array = array('language' => $this->lang, 'controller' => 'Produkt',
                    'action' => 'widok', 'id' => $produkt->getId(), 'nazwa' => Moyoki_Friendly::name($nazwa));
                ?>
                <div id="ikony"><?php echo $ikony; ?>&nbsp;</div>

                <div class="foto">
                    <?php
                    try {

                        $zdjecie = $this->em->getRepository('Entities\Produkt_Zdjecie')->getZdjecieGlowne($produkt->getId());


                        if ($zdjecie && strlen($zdjecie->getPlik()) > 4) {

                            $foto = new Moyoki_File($config->zdjecia->path . $zdjecie->getPlik());
                            $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $foto->getThumbnailFile($sWidth, $sHeight));
                        } else {
                            $thumbSrc = $this->baseUrl('images/nophoto_' . $sWidth . 'x' . $sHeight . '.png');
                        }
                    } catch (Exception $e) {
                        $thumbSrc = $this->baseUrl('images/nophoto_' . $sWidth . 'x' . $sHeight . '.png');
                    }
                    ?>
                    <a href="<?php echo $this->url($url_array, 'produkty', true); ?>" title="<?php
                    echo strtolower($produkt->getProducenci()->getOpis() . ' - ' . $this->kategoria . ' - ' . $nazwa);
                    ?>" class="img tooltip-init"  data-original-title="<?php
                    echo strtolower($produkt->getProducenci()->getOpis() . ' - ' . $this->kategoria . ' - ' . $nazwa);
                    ?>"><img class="lazy" 
                                        src="<?php echo $this->baseUrl('images/loading.gif'); ?>"
                                        data-original="<?php echo $thumbSrc; ?>" alt="<?php
                                        echo strtolower($produkt->getProducenci()->getNazwa() . ', ' . $this->kategoria . ', ' . $nazwa);
                                        ?>" /></a>
                </div>
                <h3><a href="<?php echo $this->url($url_array, 'produkty', true); ?>" title="<?php
                    echo strtolower($produkt->getProducenci()->getOpis() . ' - ' . $this->kategoria . ' - ' . $nazwa);
                    ?>">
                        <?php echo $nazwa; ?></a></h3>
            </div> <!-- /.produkt //-->

        <?php endforeach; ?>
    </div>
</div>
<?php
echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
?>