<?php
// Troche ustawien
$i = 0;
$config = Atacama_Config::getInstance();
$sWidth = $config->zdjecia->rozmiary->m->w;
$sHeight = $config->zdjecia->rozmiary->m->h;
/**
 * Okruszki
 */
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><?php echo $this->translate('wyszukiwanie zaawansowane'); ?></li>
    </ol>
</nav>
<h1><?php echo $this->translate('wyszukiwanie zaawansowane'); ?> 
    <?php if ($this->formularzUkryj) : ?>
        <span id="adv-search-przelacznik" class="glyphicon glyphicon-circle-arrow-down"></span></h1>
    <div id="adv-search-form" style="display: none;">
    <?php else : ?>
        <span id="adv-search-przelacznik" class="glyphicon glyphicon-circle-arrow-up"></span></h1>
    <div id="adv-search-form">
    <?php endif; ?>
    <?php echo $this->form; ?>
</div>

<?php if (isset($this->paginator)) : ?>
    <div class="znalezionych">
        <?php echo $this->translate('znalezionych'); ?>: <b><?php echo $this->znalezionych; ?></b>
    </div>
    <div class="row" id="products-list">
        <?php
        foreach ($this->paginator as $produkt) :
            //$produkt = new Entities\Produkt();

            foreach ($produkt->getProduktyI18n() as $pi18n) {
                if ($pi18n->getJezyk() == $this->lang)
                    $nazwa = $pi18n->getNazwa();
            }
            ?>
            <div class="produkt col-xs-6 col-sm-4 col-md-3 text-center">
                <?php
                // Ikony promocja nowosc
                $ikony = '';

                if ($produkt->getNowosc() == 1) {
                    $ikony .= '<span class="new">Nowość</span>';
                }

                if ($produkt->getPromocja() == 1) {
                    $ikony .= '<span class="promo">Promocja</span>';
                }

                if ($produkt->getBestseller() == 1) {
                    $ikony .= '<span class="best">Bestseller</span>';
                }
                $url_array = array('language' => $this->lang, 'controller' => 'Produkt',
                    'action' => 'widok', 'id' => $produkt->getId(), 'nazwa' => Moyoki_Friendly::name($nazwa));

                if ($this->sell) {
                    $url_array['sell'] = 'true';
                }
                ?>
                <div id="ikony"><?php echo $ikony; ?>&nbsp;</div>

                <div class="foto">
                    <?php
                    try {
                        if (isset($this->kolor_id)) {
                            $zdjecie = $this->em->getRepository('Entities\Produkt_Zdjecie')->getZdjecieGrupaKolor($produkt->getId(), $this->kolor_id);
                        } else {
                            $zdjecie = $this->em->getRepository('Entities\Produkt_Zdjecie')->getZdjecieGlowne($produkt->getId());
                        }
                        if ($zdjecie && strlen($zdjecie->getPlik()) > 4) {

                            $foto = new Moyoki_File($config->zdjecia->path . $zdjecie->getPlik());
                            $thumbSrc = $this->baseUrl($config->zdjecia->urlbase . $produkt->getDystrybutorzyId() . '/' . $foto->getThumbnailFile($sWidth, $sHeight));
                        } else {
                            $thumbSrc = $this->baseUrl('images/nophoto_' . $sWidth . 'x' . $sHeight . '.png');
                        }
                    } catch (Exception $e) {
                        $thumbSrc = $this->baseUrl('images/nophoto_' . $sWidth . 'x' . $sHeight . '.png');
                    }
                    ?>
                    <a href="<?php echo $this->url($url_array, ($this->sell ? 'wyprzedaze' : 'produkty'), true); ?>" title="<?php
                    echo strtolower($produkt->getProducenci()->getNazwa() . ' - ' . $this->kategoria . ' - ' . $nazwa . ' - ' . $produkt->getCenaMin());
                    ?>" class="img" data-original-title="<?php
                       echo strtolower($produkt->getProducenci()->getNazwa() . ' - ' . $this->kategoria . ' - ' . $nazwa . ' - ' . $produkt->getCenaMin());
                       ?>"><img  class="lazy" 
                            src="<?php echo $this->baseUrl('images/loading.gif'); ?>"
                            data-original="<?php echo $config->appUrl . $thumbSrc; ?>" alt="<?php
                            echo strtolower($produkt->getProducenci()->getNazwa() . ', ' . $this->kategoria . ', ' . $nazwa . ' - ' . $produkt->getCenaMin());
                            ?>" /></a>
                </div>
                <h2><a href="<?php echo $this->url($url_array, ($this->sell ? 'wyprzedaze' : 'produkty'), true); ?>" title="<?php
                    echo strtolower($produkt->getProducenci()->getNazwa() . ' - ' . $this->kategoria . ' - ' . $nazwa . ' - ' . $produkt->getCenaMin());
                    ?>"><?php echo Moyoki_StringTruncate::cut($nazwa); ?></a></h2>
            </div> <!-- /.produkt //-->

        <?php endforeach; ?>
    </div>
    <?php
    echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
endif;
?>

<div class="clearfix"></div>