<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><a href="<?php
            echo $this->url(array(
                'controller' => 'Haslo',
                'action' => 'przypomnij'
                    ), 'default', true);
            ?>"><?php echo $this->translate('nie pamietam hasla'); ?></a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-8">
        <div class="exposed-box bg-white p-4 mb-4">
            <h1><?php echo $this->translate('nie pamietam hasla'); ?></h1>
            <?php echo $this->form; ?>
        </div>
    </div>
    <div class="col-4">
        <p>Proszę wpisać adres e-mail, który jest używany do logowania do serwisu.</p>
        <p>Jeżeli adres jest poprawny, na wskazany adres zostanie wysłany e-mail z procedurą zmiany hasła.</p>
        <p>Wiadomość e-mail zawiera adres, na który należy wejść i wprowadzić tymczasowe hasło.</p>
    </div>
</div>
