
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie dystrybutorami</li>
    </ol>
</nav>
<h1>Dystrybutorzy</h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Dystrybutor',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj dystrybutora</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Zmień</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->dystrybutorzy as $dystrybutor) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $dystrybutor->getNazwa(); ?></td>
            <td><?php echo $dystrybutor->getOpis(); ?></td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Dystrybutor',
                    'action' => 'zmien',
                    'id' => $dystrybutor->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm">Zmień</a>
            </td>
        </tr>

    <?php endforeach; ?>
</table>
