<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
            <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
            <li class="breadcrumb-item">Zarządzanie dystrybutorami</li>
    <li class="breadcrumb-item active">Zmień informacje o dystrybutorze</li>
</ol>
<h1>Zmień informacje o dystrybutorze</h1>
<?php echo $this->form; ?>