<?php echo $this->doctype() ?>
<?php
$lang = Zend_Controller_Front::getInstance()->getRequest()->getParam('language');
?>

<html lang="<?php echo $lang; ?>">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php echo $this->headTitle() . "\n"; ?>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Monda:400,700&subset=latin,latin-ext" media="all" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->baseUrl('./css/pdf.css'); ?>" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body 
        <?php if($this->layout()->phId): ?> style="background: url(<?php echo $this->baseUrl('./images/ph-'.$this->layout()->phId.'.png'); ?>) right top repeat-y; margin-right: 40px;"
            <?php endif; ?>
        >
        <div id="layout-pdf" class="container">
            <div style="text-align: right"><?php echo $this->translate('warszawa'). ', '.date('d.m.Y'); ?></div>
            <div class="logo">
                <img src="<?php echo $this->baseUrl('./images/atacama-logo-print.png'); ?>" />
            </div>
            <?php
            echo $this->layout()->content;
            echo $this->content;
            ?>
        </div>
    </body>
</html>