<?php $conf = Atacama_Config::getInstance(); ?>
<?php echo $this->doctype() ?>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php echo $this->headTitle() . "\n"; ?>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="<?php echo strip_tags($this->description); ?>" />
        <meta name="keywords" content="<?php echo $this->keywords; ?>" />

        <meta property="og:title" content="<?php echo $this->tytulStrony; ?>" />
        <?php if (isset($this->glownyImg) && strlen($this->glownyImg) > 3) : ?>
            <meta property="og:image" content="<?php echo $conf->appUrl . $this->glownyImg; ?>" />
        <?php endif; ?>

        <?php if (isset($this->canonical) && strlen($this->canonical) > 5) : ?>
            <link rel="canonical" href="<?php echo $this->canonical; ?>" />
            <meta property="og:url" content="<?php echo $this->canonical; ?>" />
        <?php endif; ?>

        <?php
        if (!empty($this->uploadfile)) {
            $this->headScript()
                    ->appendFile($this->baseUrl('/js/libs/upload/vendor/jquery.ui.widget.js'), 'text/javascript')
                    ->appendFile($this->baseUrl('/js/libs/upload/jquery.iframe-transport.js'), 'text/javascript')
                    ->appendFile($this->baseUrl('/js/libs/upload/jquery.fileupload.js'), 'text/javascript')
                    ->appendFile($this->baseUrl('/bootstrap/js/bootstrap-filestyle.min.js'), 'text/javascript');

            $this->headLink()
                    ->appendStylesheet($this->baseUrl('/css/upload/jquery.fileupload.css'))
                    ->appendStylesheet($this->baseUrl('/css/upload/jquery.fileupload-noscript.css'));
        }

        echo $this->headLink();
        ?>
        <link rel="shortcut icon" href="<?php echo $this->baseUrl('favicon.ico'); ?>" type="image/x-icon">
        <link rel="icon" href="<?php echo $this->baseUrl('favicon.ico'); ?>" type="image/x-icon">
    </head>
    <body>
        <header class="hidden-print">
            <!--Navbar-->
            <div class="nav-top navbar-light bg-white" id="main-nav">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-5 col-lg-4 align-self-center">
                            <a href="<?php echo $this->baseUrl('/'); ?>">
                                <img src="<?php echo $this->baseUrl('/images/atacama-logo.png'); ?>" alt="" class="img img-responsive">
                            </a>
                        </div>
                        <div class="col-12 col-md-7 col-lg-4 align-self-center text-right">
                            <div class="row">
                                <div class="col-auto">
                                    <span>Bądźmy w kontakcie +48 664 703 800</span>
                                </div>
                                <div class="col-auto">
                                    <a href="mailto:zapytanie@atacama.com.pl" class="tooltip-init" data-original-title="Wyślij zapytanie">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <a href="https://www.facebook.com/Atacama-GIFT-1902155076741726/" target="_blank">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xs-6 offset-xs-6 col-sm-4 offset-sm-8 col-lg-3 offset-lg-1 align-self-center">
                            <div class="row text-right">
                                <div class="col-auto">
                                    <?php echo $this->render('menuUser.phtml'); ?>
                                </div>
                                <?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
                                    <div class="col-auto">
                                        <?php echo $this->Gornykoszyk() ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-mid navbar-light bg-white">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-auto align-self-center d-none d-md-block">
                            <div id="google_translate_element"></div>
                            <script async type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({pageLanguage: 'pl', includedLanguages: 'en,de,es,fr,ro,ru', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, gaTrack: true, gaId: 'UA-63932137-1'}, 'google_translate_element');
                                }
                            </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 pull-right text-right" id="wyszukiwarka">
                            <?php echo $this->render('wyszukiwarka.phtml'); ?>
                        </div>
                    </div>
                </div>
            </div>
            <?php echo $this->render('gorneMenu.phtml'); ?>
            <!--/.Navbar-->
        </header>
        <?php if (count($this->messages) > 0): ?>
            <?php
            foreach ($this->messages as $message):
                switch ($message['status']) {
                    case 'info': $class = 'alert alert-info';
                        break;
                    case 'success': $class = 'alert alert-success';
                        break;
                    case 'error': $class = 'alert alert-danger';
                        break;
                }
                ?>
                <div class="<?php echo $class; ?> text-center"><?php echo $message['message']; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>

        <div class="<?php echo ($this->displayContainer ? 'container' : ''); ?>">
            <?php $this->RodoModal(); ?>
            <?php echo $this->layout()->content; ?>
        </div>


        <?php echo $this->render('stopka.phtml'); ?>
        <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Kliknij aby wrocić na gorę strony" data-toggle="tooltip" data-placement="left">
            <i class="fas fa-chevron-up"></i></a>

        <script type="text/javascript">
                                var _BASEURL = '<?php echo $conf->appUrl ?>';
        </script>
        <?php echo $this->headScript(); ?>
    </body>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63932137-2"></script>
    <script>
                                window.dataLayer = window.dataLayer || [];
                                function gtag() {
                                    dataLayer.push(arguments);
                                }
                                gtag('js', new Date());

                                gtag('config', 'UA-63932137-2');
    </script>

</html>
