<nav aria-label="breadcrumb"><ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Marża handlowców</li>
    </ol>
</nav>
<h1>Marża handlowców</h1>

<div class="text-right">
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Marza',
        'action' => 'export'
            ), 'default', true);
    ?>" class="btn btn-default tooltip-init" title="Pobierz XLS"><i class="far fa-file-excel"></i> Obecny miesiąc XLS</a>
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Marza',
        'action' => 'export-poprzedni-miesiac'
            ), 'default', true);
    ?>" class="btn btn-default tooltip-init" title="Pobierz XLS"><i class="far fa-file-excel"></i> Poprzedni miesiąc XLS</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Obecny miesiąc</th>
            <th>Poprzedni miesiąc</th>
        </tr>
    </thead>

    <?php
    foreach ($this->uzytkownicy as $u) :
        //$u = new Entities\Uzytkownik;
        ?>
        <tr>
            <td><?php echo $u->getImie() ?></td>
            <td><?php echo $u->getNazwisko() ?></td>
            <td class="text-center"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Marza',
                    'action' => 'index',
                    'user_id' => $u->getId()
                        ), 'default', true);
                ?>" class="btn btn-warning">Obecny miesiąc</a></td>
            <td class="text-center"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Marza',
                    'action' => 'poprzedni-miesiac',
                    'user_id' => $u->getId()
                        ), 'default', true);
                ?>" class="btn btn-warning">Poprzedni miesiąc</a></td>
        </tr>

<?php endforeach; ?>
</table>