<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Marża z zamówień</li>
    </ol>
</nav>
<?php if (isset($this->osoba)) : ?>
    <h1><?php echo $this->osoba; ?> - marża z zamówień</h1>
<?php else : ?>
    <h1>Marża z zamówień</h1>    
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Marza',
        'action' => 'poprzedni-miesiac'
            ), 'default', true);
    ?>" class="btn btn-warning">Zobacz poprzedni miesiąc</a>
   <?php endif; ?>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nr zam.</th>
            <th>Firma</th>
            <th>Zamawiający</th>
            <th>Marża</th>
        </tr>
    </thead>

    <?php
    $suma = 0;
    $iter = 0;
    foreach ($this->zamowienia as $zamowienia) :
        //$zamowienia = new Entities\Koszyk;
        $iter++;
        ?>
        <tr>
            <td class="text-right"><?php echo $iter; ?>.</td>
            <td><?php echo $zamowienia->getNrZamowienia(); ?></td>
            <td><?php echo $zamowienia->getFirmy()->getNazwa(); ?></td>
            <td><?php echo $zamowienia->getUzytkownicy()->getImie() . ' ' . $zamowienia->getUzytkownicy()->getNazwisko() ?></td>
            <td class="text-right"><?php
                $suma += $zamowienia->getMarza();
                echo Atacama_Produkt_Kwota::odczyt($zamowienia->getMarza());
                ?> zł</td>
        </tr>
        <tr>
            <td colspan="5">

                <table class="table table-condensed table-produkty">
                    <tr>
                        <th>Lp.</th>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Zakup</th>
                        <th>Sprzedaż</th>
                        <th>Marża produktu</th>
                    </tr>


                    <?php
                    $poz = 0;
                    foreach ($zamowienia->getKoszykiProdukty() as $koszykiProdukty) :
                        $poz++;
                        //$koszykiProdukty = new Entities\Koszyk_Produkt;
                        ?>
                        <tr>
                            <td class="text-right"><?php echo $poz; ?>.</td>
                            <td><?php
                                foreach ($koszykiProdukty->getProduktyDetale()->getProdukty()->getProduktyI18n() as $i18n) {
                                    if ($i18n->getJezyk() == $this->lang) {
                                        $nazwa = $i18n->getNazwa();
                                        break;
                                    }
                                }

                                echo $nazwa;
                                ?></td>
                            <td class="text-right"><?php echo $koszykiProdukty->getIlosc(); ?></td>
                            <td class="text-right"><?php
                                $cenaSztuka = $koszykiProdukty->getCenaZakupu() - $koszykiProdukty->getCenaSprzedazy();
                                echo Atacama_Produkt_Kwota::odczyt($koszykiProdukty->getCenaSprzedazy());
                                ?> zł</td>
                            <td class="text-right"><?php
                                echo Atacama_Produkt_Kwota::odczyt($koszykiProdukty->getCenaZakupu());
                                ?> zł</td>
                            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($cenaSztuka * $koszykiProdukty->getIlosc()); ?> zł</td>
                        </tr>
                        <?php
                    endforeach;
                    ?>
                </table>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<div id="podsumowanie" class="text-right"><b>Razem: <?php echo Atacama_Produkt_Kwota::odczyt($suma); ?> zł</b></div>

<?php if ($suma > 0) : ?>    
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Marza',
        'action' => 'export'
            ), 'default', true);
    ?>" class="btn btn-info btn-sm tooltip-init" title="Pobierz XLS"><i class="far fa-edit"></i> Pobierz XLS</a>           
<?php endif; ?>
                