<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Marza',
            'action' => 'index'
                ), 'default', true);
        ?>">Marża z zamówień</a></li>
    <li class="active">Marża z zamówień za <?php echo $this->okres; ?></li>
</ol>
<?php if (isset($this->osoba)) : ?>
    <h1><?php echo $this->osoba; ?> - marża z zamówień za <?php echo $this->okres; ?></h1>
<?php else : ?>
    <h1>Marża z zamówień za <?php echo $this->okres; ?></h1>    
<?php endif; ?>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Firma</th>
            <th>Zamawiający</th>
            <th>Marża</th>
        </tr>
    </thead>

    <?php
    $suma = 0;
    $iter = 0;
    foreach ($this->zamowienia as $zamowienia) :
        //$zamowienia = new Entities\Koszyk;
        $iter++;
        ?>
        <tr>
            <td class="text-right"><?php echo $iter; ?>.</td>
            <td><?php echo $zamowienia->getFirmy()->getNazwa(); ?></td>
            <td><?php echo $zamowienia->getUzytkownicy()->getImie().' '.$zamowienia->getUzytkownicy()->getNazwisko() ?></td>
            <td class="text-right"><?php 
            $suma += $zamowienia->getMarza();
            echo Atacama_Produkt_Kwota::odczyt($zamowienia->getMarza()); ?> zł</td>
        </tr>

    <?php endforeach; ?>
</table>
    <div id="podsumowanie" class="text-right"><b>Razem: <?php echo Atacama_Produkt_Kwota::odczyt($suma); ?> zł</b></div>

<?php if ($suma > 0) : ?>    
    <a href="<?php echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Marza',
                    'action' => 'export-poprzedni-miesiac'
                    ), 'default', true);
                ?>" class="btn btn-info btn-sm tooltip-init" title="Pobierz XLS"><i class="far fa-edit"></i> Pobierz XLS</a>
   <?php endif; ?>
