<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<?php if($this->uzytkownik) : ?>
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Uzytkownik',
                    'action' => 'index'
                        ), 'default', true);
                ?>"><?php echo $this->translate('moje dane'); ?></a></li>
    <li class="breadcrumb-item active"><?php echo $this->translate('adresy firmy'); ?></li>
    <?php else: ?>
    <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
    <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Firma',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Zarządzanie firmami</a></li>
    <li class="breadcrumb-item active">Adresy firmy</li>
<?php endif; ?>
</ol>
</nav>
<h1>Adresy firmy <?php echo $this->firma->getNazwa(); ?></h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Adres',
    'action' => 'dodaj',
    'firma_id' => $this->firma->getId()
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj adres</a>

<?php if(count($this->adresy) > 0) :?>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Typ</th>
            <th>Nazwa</th>
            <th>Ulica</th>
            <th>Miasto</th>
            <th>Kod pocztowy</th>
            <th>Kraj</th>
            <th>Nr telefonu</th>
            <th>Zmień</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->adresy as $a) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo ($a->getTypAdresu() == 1 ? 'FV': 'Dost.'); ?></td>
            <td><?php echo $a->getNazwa(); ?></td>
            <td><?php echo $a->getUlica(); ?></td>
            <td><?php echo $a->getMiasto(); ?></td>
            <td><?php echo $a->getKodPocztowy(); ?></td>
            <td><?php echo $a->getKraj(); ?></td>
            <td><?php echo $a->getNrTelefonu(); ?></td>
            <td class="text-center">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Adres',
                    'action' => 'zmien',
                    'firma_id' => $this->firma->getId(),
                    'id' => $a->getId()
                        ), 'default', true);
                ?>" class="btn btn-primary btn-raised" title="Zmień"><i class="far fa-edit"></i></a>
            </td>
        </tr>

    <?php endforeach; ?>
</table>
<?php else : ?>
<div>Brak adresów</div>
<?php endif; ?>
