<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
    <li class="active">Zarządzanie firmami</li>
</ol>
<h1>Lista firm</h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Firma',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj firmę</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Nip</th>
            <th>Regon</th>
            <th>Upust</th>
            <th>PH</th>
            <th>Podgląd</th>
            <th>Zmień</th>
        </tr>
    </thead>

    <?php
    $i = 0;
    foreach ($this->firmy as $firma) :
        $i++;
        ?>
        <tr>
            <td class="text-right"><?php echo $i; ?>.</td>
            <td><?php echo $firma->getNazwa(); ?></td>
            <td><?php echo $firma->getNip(); ?></td>
            <td><?php echo $firma->getRegon(); ?></td>
            <td class="text-right"><?php echo $firma->getUpust(); ?></td>
            <td><?php echo $firma->getPhId(); ?></td>
            <td class="text-right"><?php echo $firma->getId(); ?></td>
            <td class="text-right">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Firma',
                    'action' => 'zmien',
                    'id' => $firma->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm">Zmień</a>
            </td>
        </tr>

    <?php endforeach; ?>
</table>
