<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <?php if ($this->uzytkownik) : ?>
            <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
            <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Uzytkownik',
                    'action' => 'index'
                        ), 'default', true);
                ?>"><?php echo $this->translate('moje dane'); ?></a></li>
            <li class="breadcrumb-item active"><?php echo $this->translate('adresy firmy'); ?></li>
        <?php else: ?>
            <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
            <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
            <li class="breadcrumb-item"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Adres',
                    'action' => 'firmy',
                    'id' => $this->firma->getId()
                        ), 'default', true);
                ?>">Zarządzanie adresami firmy</a></li>
            <li class="breadcrumb-item active">Zmiana danych adresowych</li>

        <?php endif; ?>
    </ol>
</nav>
<h1>Zmiana danych adresowych</h1>
<h2>dla firmy: <?php echo $this->firma->getNazwa(); ?></h2>
<?php echo $this->form; ?>