<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Powiadomienia systemowe</li>
    </ol>
</nav>
<h1>Powiadomienia systemowe</h1>
<form id="form-powiadomienia-usun" role="form" enctype="application/x-www-form-urlencoded" method="post" class="form-horizontal" action="">
    <?php if (count($this->powiadomienia) > 0) : ?>
        <table class="table table-striped" id="powiadomienia">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Typ</th>
                    <th>Produkt</th>
                    <th>Użytkownik</th>
                    <th style="width: 120px;">&nbsp;</th>


                    <?php
                    $typy = Atacama_Powiadomienie::typy();
                    $i = 0;
                    foreach ($this->powiadomienia as $p) :
                        $i++;
                        //$p = new Entities\Powiadomienie;
                        $czytane = ($p->getPrzeczytane() == 1 ? 'czytane' : 'nieczytane');
                        ?>
                    <tr class="<?php echo $czytane; ?>">
                        <td align="center"><small><?php echo date_format($p->getData(), 'd.m.Y'); ?> <?php echo date_format($p->getData(), 'H:i:s'); ?></small></td>
                        <td><?php echo $typy[$p->getTyp()]['nazwa']; ?>
                        </td>
                        <td>
                            <?php
                            $opis = json_decode($p->getOpis());
                            foreach ($opis as $parametr => $wartosc) :
                                if (strtolower($parametr) == 'produkt') {
                                    echo $wartosc;
                                }
                            endforeach;
                            ?>
                        </td>
                        <td><?php
                            if ($p->getUzytkownicy() instanceof Entities\Uzytkownik) {
                                echo $p->getUzytkownicy()->getImie() . ' ' . $p->getUzytkownicy()->getNazwisko();
                            } else {
                                echo '-';
                            }
                            ?>
                        </td>
                        <td align="center">
                            <a href="<?php
                            echo $this->url(array(
                                'controller' => 'Powiadomienia',
                                'action' => 'podglad',
                                'id' => $p->getId()
                                    ), 'default', true);
                            ?>" class="btn btn-info btn-sm"><i class="far fa-eye"></i></a>
                            <label class="btn btn-default btn-sm">
                                <input type="checkbox" name="<?php echo $p->getId(); ?>" id="<?php echo $p->getId(); ?>" value="1">
                                <i class="far fa-trash-alt"></i>
                            </label>
                        </td>
                    </tr>

                <?php endforeach; ?>
        </table>
        <div class="text-right"><input type="submit" name="submit" id="submit" value="Usuń zaznaczone" class="btn btn-warning"></div>
    </form>
<?php else : ?>
    Brak powiadomień
<?php endif; ?>
