<?php $typy = Atacama_Powiadomienie::typy(); ?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Powiadomienia',
                'action' => 'index'
                    ), 'default', true);
            ?>">Powiadomienia systemowe</a></li>
        <li class="breadcrumb-item active"><?php echo $typy[$this->powiadomienie->getTyp()]['nazwa']; ?></li>
    </ol>
</nav>
<div id="powiadomienie">
    <?php
    $typy = Atacama_Powiadomienie::typy();
    ?>
    <h1><?php echo $typy[$this->powiadomienie->getTyp()]['nazwa']; ?></h1>
    <div class="text-right"><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Powiadomienia',
            'action' => 'usun',
            'id' => $this->powiadomienie->getId()
                ), 'default', true);
        ?>" class="btn btn-default btn-sm" onclick="return usun();"><i class="far fa-trash-alt"></i> Usuń</a></div>
    <div class="jumbotron jumbotron-small"><?php echo $typy[$this->powiadomienie->getTyp()]['opis']; ?></div>
    <div class="data">Kiedy? <?php echo date_format($this->powiadomienie->getData(), 'd.m.Y'); ?> <small><?php echo date_format($this->powiadomienie->getData(), 'H:i:s'); ?></small></div>
    <div class="uzytkownik">Kto? <?php
        if ($this->powiadomienie->getUzytkownicy() instanceof Entities\Uzytkownik) {
            echo $this->powiadomienie->getUzytkownicy()->getImie() . ' ' . $this->powiadomienie->getUzytkownicy()->getNazwisko();
        } else {
            echo 'niewiadomo';
        }
        ?>
    </div>
    <p>&nbsp;</p>
    <?php
    $opis = json_decode($this->powiadomienie->getOpis());
    foreach ($opis as $parametr => $wartosc) :
        if ($parametr == 'prod_id') :
            ?>
            <div class="pozycja">
                <a href="<?php
                echo $this->url(array('language' => $this->lang, 'controller' => 'Produkt',
                    'action' => 'widok', 'id' => $wartosc), 'produkty', true);
                ?>">Zobacz produkt</a>
            </div>
            <?php
        else:
            ?>
            <div class="pozycja"><span class="parametr"><?php echo $parametr; ?></span>
                <span class="wartosc"><?php echo $wartosc; ?></span></div>

        <?php
        endif;
    endforeach;
    ?>

</div>