<?php $typy = Atacama_Powiadomienie::typy(); ?>
<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Powiadomienia',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Powiadomienia systemowe</a></li>
    <li class="active"><?php echo $typy[$this->powiadomienie->getTyp()]['nazwa']; ?></li>
</ol>
<?php
$typy = Atacama_Powiadomienie::typy();
?>
<h1><?php echo $typy[$this->powiadomienie->getTyp()]['nazwa']; ?></h1>
<div class="jumbotron jumbotron-small"><?php echo $typy[$this->powiadomienie->getTyp()]['opis']; ?></div>
    <?php
    $opis = json_decode($this->powiadomienie->getOpis());
    print_r($opis);
?>

