<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
            <li class="breadcrumb-item active"><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
        </ol>
    </nav>
    <h1>Dostęp administracyjny</h1>
    <div class="admin-index">

        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_PRODUKTY)) : ?>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ul class="nav nav-pills nav-stacked exposed-box bg-white mb-5 text-left">
                        <li>
                            <a href="<?php
                            echo $this->url(array(
                                'controller' => 'Powiadomienia',
                                'action' => 'index'
                                    ), 'default', true);
                            ?>" class="btn btn-link btn-raised">
                                Nieprzeczytanych powiadomień systemowych
                                <span class="badge badge-info pull-right"><?php echo $this->nieprzeczytychPowiadomien[1]; ?></span>

                            </a>
                        </li>
                        <li class="active">
                            <a href="<?php
                            echo $this->url(array(
                                'controller' => 'Produkt',
                                'action' => 'do-uzupelnienia'
                                    ), 'default', true);
                            ?>" class="btn btn-link btn-raised">
                                Produktów do uzupełnienia
                                <span class="badge badge-success pull-right"><?php echo $this->doUzupelnienia[1]; ?></span>

                            </a>
                        </li>
                        <li class="active">
                            <a href="<?php
                            echo $this->url(array(
                                'controller' => 'Produkt',
                                'action' => 'bez-kategorii-glownej'
                                    ), 'default', true);
                            ?>" class="btn btn-link btn-raised">
                                Produktów bez kategorii głównej
                                <span class="badge pull-right"><?php echo $this->bezKategoriiGlownej[1]; ?></span>

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">

                    <ul class="nav nav-pills exposed-box bg-white mb-5 text-left p-3">
                        <li><a class="img" style="cursor: none;">Produkty w kategorii:</a></li>
                        <li class="active">
                            <a href="<?php
                            echo $this->url(
                                    array('language' => $this->lang, 'controller' => 'Produkt',
                                'action' => 'lista',
                                'kat' => 1,
                                'nazwa' => System_Slug::string2slug('do-uzupelnienia')
                                    ), 'kategorie', true);
                            ?>"  class="btn btn-info mr-3 btn-raised">Do uzupełnienia</a>
                        </li>
                        <li class="active">
                            <a href="<?php
                            echo $this->url(
                                    array('language' => $this->lang, 'controller' => 'Produkt',
                                'action' => 'lista',
                                'kat' => 207,
                                'nazwa' => System_Slug::string2slug('do-wyjasnienia')
                                    ), 'kategorie', true);
                            ?>"  class="btn btn-info btn-raised">Do wyjaśnienia</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        <?php endif; ?>

        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_KORPORACYJNY_KOSZYK_PH)) : ?>
            <h2>Zamówienia specjalne</h2>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'zamowienia-specjalne', 'action' => 'opiekun-zamowienia'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Kierowane do mnie</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'zamowienia-specjalne', 'action' => 'opiekun-firmy'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Moje firmy</a>

        <?php endif; ?>
        <h2 class="mt-3">Zamówienia i oferty</h2>
        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ZAMOWIENIA_PODGLAD)) : ?>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Zamowienia', 'action' => 'domnie'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Kierowane do mnie</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Zamowienia', 'action' => 'oferty-do-zatwierdzenia'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Oferty do zatwierdzenia</a>

        <?php endif; ?>
        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_ZAMOWIENIA_WSZYSTKIE)) : ?>
            <a href="<?php echo $this->url(array('controller' => 'Zamowienia', 'action' => 'wszystkie'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Wszystkie zamówienia</a>
            <a href="<?php echo $this->url(array('controller' => 'Zamowienia', 'action' => 'oferty-wszystkie'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Wszystkie oferty</a>
        <?php endif; ?>
        <h2 class="mt-3">Marża z zamówień</h2>
        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_WIDOK_DLA_PH)) : ?>
            <a href="<?php echo $this->url(array('controller' => 'Marza', 'action' => 'index'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Twoja marża z zamówień</a>
        <?php endif; ?>
        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_MARZA_HANDLOWCOW)) : ?>
            <a href="<?php echo $this->url(array('controller' => 'Marza', 'action' => 'handlowcy'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Marża handlowców</a>
        <?php endif; ?>
        <h2 class="mt-3">Firmy i użytkownicy</h2>
        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_FIRMY)) : ?>
            <a href="<?php echo $this->url(array('controller' => 'Firma', 'action' => 'index'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Firmy</a>
           <?php endif; ?>
           <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_UZYTKOWNICY)) : ?>
            <a href="<?php echo $this->url(array('controller' => 'Uzytkownik', 'action' => 'wszyscy'), 'default', true);
               ?>" class="btn btn-info mr-3 btn-raised">Użytkownicy</a>
           <?php endif; ?>

        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_STRONY)) : ?>
            <h2 class="mt-3">Galerie i strony</h2>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Galeria', 'action' => 'index'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Galerie</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Strona', 'action' => 'wszystkie'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Strony</a>

        <?php endif; ?>

        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_PRODUKTY)) : ?>
            <h2 class="mt-3">Kolory, metody znakowania i kategorie</h2>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Administracja', 'action' => 'kolory'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Kolory</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Znakowanie', 'action' => 'index'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Metody znakowania</a>

            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Kategoria', 'action' => 'index'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Kategorie</a>

        <?php endif; ?>


        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_PRODUKTY)) : ?>
            <h2 class="mt-3">Dostawcy, marki i produkty</h2>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Dystrybutor', 'action' => 'index'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Dystrybutorzy</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Producent', 'action' => 'index'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Marki</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Produkt', 'action' => 'niewidoczne'), 'default', true);
            ?>" class="btn btn-info mr-3 btn-raised">Niewidoczne produkty</a>
           <?php endif; ?>

        <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_PRODUKTY)) : ?>
            <h2 class="mt-3">Import danych</h2>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Import', 'action' => 'index'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Import</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Import', 'action' => 'ustawienia'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Ustawienia</a>
            <a href="<?php echo $this->url(array('language' => $this->lang, 'controller' => 'Import', 'action' => 'podsumowanie'), 'default', true); ?>" class="btn btn-info mr-3 btn-raised">Raporty</a>
        <?php endif; ?>

    </div>
</div>