<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie kolorami produktów</li>
    </ol>
</nav>
<h1>Zarządzanie kolorami produktów</h1>

<p><a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Administracja',
        'action' => 'kolor-dodaj'
            ), 'default', true);
    ?>" class="btn btn-primary btn-raised">Dodaj kolor</a>
</p>

<?php if (count($this->kolory) > 0) : ?>
    <div class="row">
        <?php
        foreach ($this->kolory as $kolor) :
            ?>
            <div class="col-12 col-md-4">
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'kolor-zmien',
                    'id' => $kolor->getId()
                        ), 'default', true);
                ?>" class="btn btn-default mr-2 btn-xs">Zmień</a>
                <?php echo $kolor->getNazwa(); ?> 
                <?php if ($kolor->getGrupyId() != NULL) : ?>
                    <small>[<?php echo $kolor->getKoloryGrupy()->getNazwa(); ?>]</small>
                <?php endif; ?>

            </div>
        <?php endforeach; ?>
    </div>
<?php else : ?>
    Nie ma jeszcze kolorów
<?php endif; ?>
