<h1>Strony</h1>

<table class="border" id="strony">
    <tr>
        <th>Nazwa</th>
        <?php
        $langs = Atacama_Config::getInstance()->resources->translate->languages->toArray();
        foreach ($langs as $lang) :
            ?>
            <th><?php echo $lang; ?></th>
        <?php endforeach; ?>
    </tr>
    <?php
    foreach ($this->strony as $strona) :
        ?>
        <tr class="<?php echo $this->cycle(array("even", "odd"))->next() ?>">
            <td><div class="tytul"><?php
                    $rozbite = explode('-', $strona->getKod());

                    echo '<span class="domena">' . $rozbite[0] . '</span> ';
                    for ($i = 1; $i < count($rozbite); $i++)
                        echo $rozbite[$i] . ' ';
                    ?></div></td>
            <?php foreach ($langs as $lang) : ?>
                <td><a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Administracja',
                        'action' => 'strona-zmien',
                        'kod' => $strona->getkod(),
                        'lang' => $lang
                            ), 'default', true);
                    ?>" class="button">Zmień</a></td>
                <?php endforeach; ?>
        </tr>
    <?php endforeach; ?>
</table>