@kolor-bazowy: #008789;

#content {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    
    a {
        line-height: 22px;
        &:hover {
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
        &.img:hover {
            border: none;
            cursor: pointer;
        }
        &.btn-link {
            color: @kolor-bazowy;
        }
        
    }
    
    
    .jumbotron {
        background-color: lighten(@kolor-bazowy, 60%);
        color: #666;
    }
    .jumbotron-small {
        font-size: 14px;
        padding: 17px 40px 20px 40px;
    }

    .breadcrumb {
        background-color: #FFF;
        padding-left: 0px;
    }

    table {
        &.table {
            th {
                text-align: center;
            }
        }
    }
    #naglowki-index {
        padding: 0px 0px 20px 0px;
    }
    #ikony {
        height: 25px;
        span {
            background: #FFF url(../images/produkt-ikony.png) no-repeat;
            display: block;
            float: left;
            text-indent: -9999px;
            overflow: hidden;
            width: 65px;
            &.new {
                background-position: 0px 0px;
            }
            &.promo {
                background-position: -74px 0px;
            }
            &.best {
                background-position: -214px 0px;
            }
        }

    }
    #lista-produktow {
        .produkt {
            border-bottom: 1px solid #DDDDDD;
            min-height: 280px;
            padding: 0px 10px;
            h2 {
                font-size: 14px;
            }
            .foto {
                min-height: 150px;
            }
        }
    }
    #produkt {
        #ikony {
            float: right;
        }
        h1 {
            margin: 0px 0px 20px 0px;
        }
        #produkt-parametry {
            margin-top: 20px;
        }
        #zdjecie-detale, #zdjecie-kolory {
            .img-thumbnail {
                cursor: pointer;
                min-height: 90px;
                margin: 5px 0px;
            }
        }
    }

    ol {
        &#admin-kolory {
            li {
                border-right: 1px solid lighten(#00878F, 30%);
                border-bottom: 1px solid lighten(#00878F, 30%);
                float: left;
                list-style: none;
                margin: 10px 30px 10px 0px;
                padding: 10px 10px 10px 10px;
                min-height: 50px;
                width: 228px;
                &:hover {
                    background-color: #FAFAFA;
                }
                a {
                    float: right;
                }
                small {
                    color: #00878F;
                }
            }
        }
    }

    #kategorie-index {
        .poziom-0 {
            color: #000;
            font-size: 18px;
            margin-left: 0px;
        }
        .poziom-1 {
            color: lighten(#000, 40%);
            font-size: 16px;
            margin-left: 20px;          
        }
        .poziom-2 {
            color: lighten(#000, 60%);
            font-size: 14px;
            margin-left: 40px;            
        }
        .poziom-3 {
            color: lighten(#000, 80%);
            font-size: 12px;
            margin-left: 60px;            
        }
    }


    .pagination {
        border-radius: 2px;
        li:first-child > a, li:first-child > span {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        > li:last-child > a, > li:last-child > span {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }
        > .active > a, > .active > span, > .active > a:hover, > .active > span:hover, > .active > a:focus, > .active > span:focus {
            background-color: @kolor-bazowy;
            color: #FFF;
        }
    }
    #admin-view {

        .lista-produktow {
            li {
                margin: 8px;
                padding: 0px;
            }
        }
        #zdjecia {
            .thumbnail {
                min-height: 250px;
                .img {
                    min-height: 145px;    
                }
                .alert {
                    padding: 3px 10px;
                }

            }
        }
        #powiadomienia {
            .nieczytane {
                td {font-weight: bold}
            }
            .czytane {
                td {
                    color: #666;
                    font-weight: normal;
                }
            }
        }
        /** 
        Podglad powiadomienia
        */
        #powiadomienie {
            .data {
                margin: 10px;
            }
            .uzytkownik {
                margin: 10px;
            }
            .pozycja {
                border-top: 1px dotted @kolor-bazowy;
                margin: 10px;
                padding: 5px;
                .parametr {
                    font-size: 12px;
                    padding-right: 10px;
                }
                .wartosc {
                    font-weight: bold;
                }
            }
        }
    }
    #wybor-klienta {
        margin: 20px 50px;
    }
    #koszyk-lista {
        th {
            &.row-img {
                width: 150px;
                text-align: center;
            }
            &.row-nazwa {
                width: 270px;
            }
            &.row-cena {
                width: 150px;
            }
            &.row-ilosc {
                width: 70px;
            }
            &.row-usun {
                width: 65px;
            }
        }
        tr {
            font-size: 12px;
            td {
                background-color: #FFF;
                border-bottom: 1px solid #EEE;
                font-size: 12px;
                &.nazwa {
                    font-size: 14px;    
                }
                .select-option {
                    margin: 0px auto;
                    width: 70px;
                    select {
                        font-size: 12px;
                    }
                }
            }

            &.znakowanie-header {
                th {
                    font-size: 12px;  
                }

            } 
            &.znakowanie {
                td {
                    background-color: #FAFAFA;

                }
            }
            &.znakowanie-przygotowalnia {
                td {
                    background-color: #FEFEFE;

                }
            }
        }
    }

    #koszyk-podsumowanie {
        max-width: 450px;
        th {
            border-bottom: 2px solid @kolor-bazowy;
            margin: 2px;
        }
        td {
            background-color: #FFF;
            border: 0;
            margin: 2px;
        }
    }

    #adv-search-przelacznik {
        cursor: pointer;
        color: @kolor-bazowy;
        font-size: 20px;
    }
    #adv-search-form {
        border-bottom: 1px solid @kolor-bazowy;
        margin: 20px 0px;
        padding: 20px ;
    }
    .znalezionych {
        margin: 10px 0px 30px 10px;
    }
    
    /**
    Zamowienia specjalne
    */
    #zamowienia-specjalne-koszyk {
        tr.ukryty {
            td {
                color: silver;
                text-decoration: line-through;
            }
            div.produkt-usuniety {
                color: navy;
                text-decoration: none;
            }
        }
        tr.do-uzupelnienia {
            td {
                background: #EAFF9B;
            }
        }
    }
    #zamowienia-specjalne-uzytkownicy {
        #korporacyjny-uzytkownicy-tabela {
            .usuniety {
                * {
                    color: silver;
                    text-decoration: line-through;
                }
            }
        }
    }
    
}

#dodawanie-do-koszyka {
    #koszyk-promocja, #koszyk-wyprzedaz, #koszyk-darmo {
        background-color: @kolor-bazowy;
        color: #fff;
        padding: 5px;
        span {
            color: #FFF;
            font-weight: bold;
        }
    }
    div#koszyk-darmo {
        background-color: red;
    }
}

#koszyk-adresy, #koszyk-zamawiajacy {
    h3 {
        border-bottom: 2px solid @kolor-bazowy;
        padding-bottom: 4px;
    }
    .nazwa {
        color: #000;
        font-size: 16px;
    }
}

#zamowienia-lista {
    .status-1 {
        color: red;
    }
    .status-2 {
        color: blueviolet;
    }
    .status-3 {
        color: orange;
    }
    .status-4 {
        color: goldenrod;
    }
    .status-5 {
        color: gainsboro;
    }
    tr.nieparzysty {
        td {
            background-color: #F9F9F9;
            border-top-color: #F9F9F9;
        }
    }
    tr.parzysty {
        td {
            background-color: #FFF;
            border-top-color: #FFF;
        }
    }
    tr.wyroznione {
        td {
            background-color: #E8E871;
            border-top-color: #E8E871;
        }
    }
}

#zamowienie-podglad {
    #admin-view {
        border: 4px solid @kolor-bazowy;
        margin: 5px;
        padding: 10px;
        h2 {
            margin-top: 0px;
        }
    }
    .status {
        margin: 10px;
        padding: 8px;
        .glyphicon { 
            color: #999;
            padding-right: 25px;
        }
        .uwagi {
            border-top: 2px solid #DDDDDD;
            background-color: #F9F9F9;
            padding-left: 20px;
            padding: 10px;
            .glyphicon {
                float: right;
            }
        }
    }
    #termin-dostawy {
        .data {
            border: 1px dotted #333;
            font-size: 24px;
            font-weight: bold;
            padding: 5px;
        }
    }
}

#index {
    #myCarousel {
        margin: 0px auto;
        width: 850px;
        .carousel-control {
            background-image: none;
        }
    }
    h2 {
        font-size: 24px;
    }
    .produkt {
        margin: 15px 0px;
        min-height: 250px;
        .foto {
            min-height: 150px;
        }
        a {
            font-size: 14px;
        }
    }
}

#marki {
    .marka {
        margin: 30px 0px;
        min-height: 150px;
        .logo {
            min-height: 100px;
        }
    }
}

#marka {
    .logotyp {
        padding: 0px 0px 50px 0px;
        text-align: center;
    }
    .opis {
        text-indent: 20px;
    }

    .naglowek {
        margin: 20px 0px;
        font-size: 14px;
    }
    .produkt {
        h2 {
            font-size: 14px;
        }
    }
}

table#import-podsumowanie {
    div.rozwin {
        cursor: pointer;
    }
    td.podsumowanie {
        padding: 20px;
        div.parzysty {
            background-color: #FAFAFA;
            padding: 5px;
        }
        div.nieparzysty {
            background-color: #FEFEFE;
            padding: 5px;
        }
        .nazwa {
            color: #333;
            font-size: 10px;
        }
        .wartosc {
            color: #000;
            font-size: 12px;
            padding-left: 20px;
        }
    }
}

.modal-lg {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

table#niewidoczne {
    td {
        a {
            cursor: pointer;
        }
    }
}
#podgladModal {
    .modal-content {
        margin-left: auto;
        margin-right: auto;
        
    }
}