@kolor-bazowy: #008789;

form {
    &.form-horizontal {
        fieldset {
            margin: 20px 0px;
        }
        .form-group {
            clear: left;
            label {
                &.required:after {
                    color: red;
                    content: '*';
                    font-weight: bold;
                    margin-left: 5px;
                }
            }
            input {
                &.form-control {
                    width: 460px;
                }
                &.sm {
                    width: 200px;
                }
                &.md {
                    width: 300px;
                }
            }
            .help-block {
                clear: left;
                margin-left: 200px;
            }
            ul.alert {
                margin-left: 0px;
                padding: 6px 10px;

                li {
                    list-style: none;
                }
            }
            .form-error {
                margin-top: 3px;
                padding: 10px;
                li {
                    font-size: 12px;
                    list-style: none;
                    text-align: left;
                }
            }
        }
        .textarea {
            margin-top: 20px;
            textarea {
                width: 73%;
            }
        }

        .checkbox {
            margin: 5px 0px 10px 180px;

        }
        .metody {
            margin: 0px !important;
            min-height: 110px;
        }
        select {
            &.sm {
                width: 250px;
            }
            &.md {
                width: 400px;
            }
        }
    }
    .submit {
        padding-top: 20px;
    }

    &#form-produkt-kategorie {
        legend {
            cursor: pointer;
            margin-bottom: 0px;
        }
        div.checkbox {
            margin-left: 0px;
            label {
                min-height: 45px;
            }
            input {
                left: 0px;
                margin: 10px 0px 0px 10px;
                top: 0px;
            }
        }
        .poziom1 {
            label {
                color: #000;
                font-size: 14px;
            }
        }
        .poziom2 {
            label {
                color: #333;
                font-size: 12px;
            }
        }
        .poziom3 {
            label {
                color: #666;
                font-size: 10px;
            }
        }
        .poziom4 {
            label {
                color: #999;
                font-size: 10px;
            }
        }
    }
}

#form-zamowienie-adresy {
    dt {
        border-top: 1px solid @kolor-bazowy;
        clear: left;
        color: @kolor-bazowy;
        margin: 20px 0px;
        padding-top: 10px;
        label {
            font-size: 18px;
            font-weight: normal;
        }
    }
    dd {
        label {
            float: left;
            width: 250px;
            input {
                float: left;
            }
            .adres {
                float: left;
                margin-left: 10px;
                min-height: 100px;
                p {
                    font-weight: normal;
                    font-size: 12px;
                    margin: 2px 8px;
                }
            }
        }
    }
    .submit-wstecz {
        clear: left;
        float: left;
    }
    .submit {
        float: right;
        padding-top: 0px;
    }
    .errors {
        clear: left;
        margin: 10px;
        padding: 0px;
        li {
            background-color: @kolor-bazowy;
            color: #FFF;
            font-weight: bold;
            padding: 5px;
        }
    }
    .nowy-adres {

    }
}

#form-koszyk-podsumowanie {
    .submit {
        margin-top: -55px;
        float: right;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}


#form-zaawansowane {
    .tytul {
        display: block;
        background-color: lighten(@kolor-bazowy, 10%);
        color: #FFF;
        padding: 5px;
    }
    .elementy {
        label {
            display: block;
            clear: left;
            margin-left: 50px;
            padding: 10px 0px;
            input {
                float: left;
                margin-left: -20px;
                margin-top: -5px;
            }
        }
    }
    .kolory {
        label {
            input {display: none}
            .thumbnail {
                display: block;
                float: left;
                margin: 5px 5px 5px 6px;
                .kolor-element {
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                }
            }
            .kolor-wybrany {
                background-color: @kolor-bazowy;
            }
        }
    }
}

/* Malutkie ponizj 768px np. telefony, iphone */
@media (max-width: 750px) {
}

/* Srednie urzadzenia np. tablety w pione */
@media (min-width: 750px) and (max-width: 970px) {
}

/* Srednie urzadzenia np. tablety w poziomie */
@media (min-width: 970px) and (max-width: 1170px) {
}