/* Atacama - layout.css */

@kolor-bazowy: #008789;
.glowneMenuFont(@rozmiar) {
    color: #000;
    font-size: @rozmiar;
}
body, html, h1, h2, h3, h4, h5, h6, span, div, p, label, *  {
    font-family: 'Monda','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Lucida,sans-serif;
}

#cookie-div {
    background-color: @kolor-bazowy;
    color: #FFF;
    padding: 10px;
    text-align: center;
    a {
        color: #FFF !important;
        border-bottom: 1px solid;
        text-decoration: none;
    }
    #cookie-button {
        display: block;
        cursor: pointer;
        float: right;
        padding-left: 30px;
        width: 190px;
        .link {
            border-bottom: 1px solid;
            font-size: 12px;
        }
    }
}

/* Layout */

#layout {
    a {
        color: @kolor-bazowy;
        text-decoration: none;
        outline: 0;
        &.btn {
            color: #FFF;
            text-shadow: 1px 1px 0 #000;
        }
        &.btn-default {
            color: #000;
            text-shadow: none;
        }
    }
    .btn {
        border-radius: 2px;
    }
    .btn-default {
        background-image: none;
        color: @kolor-bazowy;
    }
    .btn-primary {
        background-image: none;
    }
    .btn-warning {
        background-image: none;
        background-color: #00878F;
        border-color: #099b9d;
        &:hover {
            background-color: #05696a;
        }
    }
    .btn-info {
        background-image: none;
        background-color: #00878F;
        border-color: #22bdbf;
    }

    .user {
        font-size: 18px;
        margin-right: 10px;
    }
    #header {
        margin-top: 15px;
        #logotyp {
            margin-top: 20px;
        }
        #social {
            margin-top: 24px;
            text-align: center;
            .btn-mail {
                background-color: #008789;
            }
        }
        #wyszukiwarka {
            margin-top: 20px;
            .form-group {
                float: left;
                height: 20px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 0px;
            }
            .btn {
                background-image: linear-gradient(to bottom, @kolor-bazowy 0px, @kolor-bazowy 100%);
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
                border: 0px;
                color: #FFF;
                float: left;
                margin: 0px;
                padding: 6px 10px 6px 10px;
                &:hover {
                    background-image: none;
                    background-color: #000;
                }
            }
            .adv-search-button {
                text-align: center;
                a {
                    font-size: 12px;
                }
            }
        }
    }
    #koszyk {
        .tytul {
            color: @kolor-bazowy;
            font-size: 18px;
            text-align: center;
        }
        #zawartosc {
            background: #FFF url('../images/koszyk-icon.png') center left no-repeat;
            cursor: pointer;
            min-height: 60px;
            padding: 10px 0px 0px 60px;

            #produkty {
                text-align: right;
            }
            #kwota {
                text-align: right;
            }

        }
    }
    #glowne-menu-outer {
        margin-top: 20px;
        padding: 0px;
        .navbar-default {
            background-color: #FFF;
            background-image: none;
            border: 0;
            border-bottom: 2px solid @kolor-bazowy;
            border-radius: 0px;
            box-shadow: none;
            padding: 0px;
            .navbar-brand {
                padding: 0px;
                a {
                    .glowneMenuFont(16px);
                }
            }
            #glowne-menu {
                .navbar-nav {
                    li {
                        a {
                            .glowneMenuFont(16px);
                        }
                        &:hover {
                            background-color: none;
                        }
                    }
                    .dropdown-menu {
                        li {
                            padding: 0px;
                            a {
                                padding: 10px;
                            }
                        }
                        .divider {
                            margin: 0px;
                            padding: 0px;
                        }
                        li:hover {
                            background-image: none;
                            background-color: none;
                            a:hover {
                                background-image: none;
                                background-color: none;
                            }
                        }
                    }
                }
            }
            .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
                background-color: #FFF;
            }
        }
    }
    #menu-produkty {
        position: relative;
        .row {
            background-color: #ffffff;
            background-clip: padding-box;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            clear: both;
            display: none;
            float: left;
            font-size: 14px;
            left: 0;
            list-style: none;
            min-width: 100%;
            margin: -20px 0 0 0;
            padding: 15px 10px;
            position: absolute;
            top: 100%;
            z-index: 1000;

        }
    }
    #dolne-menu-outer {
        margin-top: 15px;
        padding: 15px 0px;
        .navbar-default {
            background-color: #FFF;
            background-image: none;
            border: 0;
            border-top: 2px solid @kolor-bazowy;
            border-radius: 0px;
            box-shadow: none;
            padding: 0px;
            .navbar-brand {
                padding: 0px;
                a {
                    .glowneMenuFont(16px);
                }
            }
            .navbar-nav {
                li {
                    a {
                        .glowneMenuFont(16px);
                    }
                }
            }
        }
    }
}

/* AUTOCOMPLETE */
#form-search {
    .typeahead,
    .tt-query,
    .tt-hint {
        width: 360px;
        height: 32px;
        padding: 0px 12px;
        font-size: 14px;
        line-height: 30px;
        border: 2px solid @kolor-bazowy;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        outline: none;
    }

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
    }

    .tt-dropdown-menu {
        width: 460px;
        margin-top: 2px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion.tt-is-under-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

    .gist {
        font-size: 14px;
    }
    input#submit {
        margin-top: 11px;
        padding: 6px 12px 2px;
    }
}

.hr {
    clear: left;
    border-top: 1px solid @kolor-bazowy;
    height: 10px;
}


#left-menu {
    padding-left: 0px;
    #accordion {
        .panel {
            border-radius: 2px;
            border-color: #DDDDDD;
            border-width: 1px 0px 0px 0px;
            box-shadow: none;
            margin: 0px;
            .panel-heading {
                background: #FFF;
                border-color: #DDDDDD;
                padding: 0px;
                a {
                    background-color: #FFF;
                    color: @kolor-bazowy;
                    display: block;
                    font-size: 16px;
                    padding: 8px 15px;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: @kolor-bazowy;
                        color: #FFF;

                    }
                }
            }
            .panel-body {
                border-color: @kolor-bazowy;
                border-width: 2px 0px 0px 0px;
                .poziom-1 {
                    font-size: 16px;
                    margin-top: 5px;
                }
                .poziom-2 {
                    font-size: 14px;
                    text-indent: 10px;
                }
                .poziom-3 {
                    font-size: 14px;
                    text-indent: 20px;
                }
                a {
                    color: #333;
                    display: block;
                    padding: 3px 5px;
                    text-decoration: none;
                    transition: all 0.5s ease;
                    &:hover {
                        color: @kolor-bazowy;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


/* Malutkie ponizj 768px np. telefony, iphone */
@media (max-width: 750px) {
    div {
        //background-color: yellow;
    }
    div#content { 
        h1 {
            font-size: 18px;
        }
    }
}

/* Srednie urzadzenia np. tablety w pione */
@media (min-width: 750px) and (max-width: 970px) {
    div {
        // background-color: blanchedalmond;
    }
    div#layout {
        div#header {
            #wyszukiwarka {
                clear: both;
                #form-search {
                    div {
                        input {
                            width: 310px;
                        }
                    }
                }
            }
        }
        div#glowne-menu-outer {
            nav {
                div.navbar-header {
                    ul.nav {
                        li {
                            a {
                                font-size: 14px;
                                padding: 5px;
                            }
                        }
                    }
                }
                div#glowne-menu {
                    ul.nav {
                        li {
                            a {
                                font-size: 14px !important;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
        #content {
            #myCarousel {
                display: none;
            }
        }
        #dolne-menu-outer {
            nav {
                .navbar-header {
                    display: none;
                }
                ul {
                    li {
                        a {
                            font-size: 13px !important;
                            padding: 5px 9px;
                        }
                    }
                }

            }

        }
    }
}

/* Srednie urzadzenia np. tablety w poziomie */
@media (min-width: 970px) and (max-width: 1170px) {
    div {
        //background-color: turquoise;
    }

    div#layout {
        div#header {
        }
        div#glowne-menu-outer {
            nav {
                div.navbar-header {
                    ul.nav {
                        li {
                            a {
                                font-size: 14px;
                                padding: 5px;
                            }
                        }
                    }
                }
                div#glowne-menu {
                    ul.nav {
                        li {
                            a {
                                font-size: 14px !important;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
        #content {

        }
        #dolne-menu-outer {
            nav {
                ul {
                    li {
                        a {
                            font-size: 14px !important;
                            padding: 10px 13px;
                        }
                    }
                }

            }

        }
    }
}
