<h1><?php echo $this->translate('moj koszyk'); ?></h1>
<?php
if (isset($this->koszyk) && !$this->koszykPusty) :
    $config = Atacama_Config::getInstance();
    ?>

    <table id="koszyk-lista" class="table table-striped">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Nazwa</th>
                <th>Znakowanie</th>
                <th><?php echo $this->translate('cena j netto'); ?></th>
                <th><?php echo $this->translate('naklad'); ?></th>
                <th>Kwota netto</th>
                <th>Usuń</th>
            </tr>
        </thead>

        <tbody>
            <?php
            $i = 0;
            $razemNetto = 0;
            $razemProduktow = 0;
            foreach ($this->koszyk->getKoszykiProdukty() as $koszykProdukt) :
                $i++;
                //$koszykProdukt = new Entities\Koszyk_Produkt;
                ?>
                <tr id="pozycja-<?php echo $koszykProdukt->getProduktyDetaleId(); ?>">
                    <td><?php echo $i; ?>.</td>
                    <td><?php echo $koszykProdukt->getProduktyDetale()->getProdukty()->getProduktyI18n()->first()->getNazwa(); ?>
                        <small><?php echo $koszykProdukt->getProduktyDetale()->getKolory()->getNazwa(); 
                        if($koszykProdukt->getProduktyDetale()->getRozmiar() != 0) {
                            echo ' '.Atacama_Produkt_Rozmiar::pokaz($koszykProdukt->getProduktyDetale()->getRozmiar());
                        }
                        ?></small>
                    </td>
                    <td class="text-right"><small>W przygotowaniu</small></td>
                    <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($koszykProdukt->getCenaZakupu(), 'zł'); ?></td>
                    <td class="text-right"><?php
                        $razemProduktow += $koszykProdukt->getIlosc();
                        echo $koszykProdukt->getIlosc();
                        ?></td>
                    <td class="text-right"><?php
                        $netto = $koszykProdukt->getCenaZakupu() * $koszykProdukt->getIlosc();
                        $razemNetto += $netto;
                        echo Atacama_Produkt_Kwota::odczyt($netto, 'zł');
                        ?></td>
                    <td class="text-center"><a onclick="javascript:usunprodukt('<?php echo $this->baseUrl($this->lang.'/Koszyk/ajax-usun-produkt/id/'.$koszykProdukt->getId()); ?>', 
                                '#pozycja-<?php echo $koszykProdukt->getProduktyDetaleId(); ?>');" style="cursor: pointer"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

<p>&nbsp;</p>
    <h2><?php echo $this->translate('koszyk podsumowanie'); ?></h2>
    <table id="koszyk-podsumowanie" class="table table-striped">
        <thead>
            <tr>
                <th>Razem produktów</th>
                <th>Razem netto</th>
                <th>Vat</th>
                <th>Razem bruttom</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right"><span id="razemProduktow"><?php echo $razemProduktow; ?></span></td>       
                <td class="text-right"><span id="razemNetto"><?php echo Atacama_Produkt_Kwota::odczyt($razemNetto, 'zł'); ?></span></td>
                <td class="text-right"><?php 
                $vat = $config->importVat;
                echo $vat; ?></td>
                <td class="text-right"><span id="razemBrutto"><?php echo Atacama_Produkt_Kwota::odczyt($razemNetto + ($razemNetto * $vat/100) , 'zł'); ?></span></td>
            </tr>
    </table>
    <div class="text-right">
        <a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Koszyk',
            'action' => 'adresy',
                ), 'default', true);
        ?>" class="btn btn-info btn-sm"><?php echo $this->translate('zamawiam'); ?></a>
    </div>

<?php else : ?>
    <?php echo $this->translate('koszyk jest pusty'); ?>
<?php endif; ?>
