<div id="oferta-podglad">
    <?php
    //$odbiorca = new Entities\Uzytkownik;
    $config = Atacama_Config::getInstance();
    $crypt = Moyoki_Crypt::getInstance();
    $phEmail = $crypt->decrypt($this->zamowienie->getFirmy()->getPh()->getEmail());
    ?>
    <div id="oferta-nr"><?php echo $this->translate('oferta nr') . ' ' . $this->zamowienie->getId(); ?></div>
    <h2 id="osoba"><?php echo $this->translate('sz p'); ?> <?php echo $this->odbiorca->getImie() . ' ' . $this->odbiorca->getNazwisko(); ?></h2>
    <h2 id="firma"><?php echo $this->odbiorca->getFirmy()->getNazwa() ?></h2>
    <?php
    if (count($this->zamowienie->getKoszykiProdukty()) > 0) {
        echo $this->OfertaTabelaPodsumowanie($this->em, $this->zamowienie->getId(), TRUE);
    }
    ?>

    <div class="akceptacja">
        <?php echo $this->translate('dobra oferta?'); ?>
        <a href="<?php
        echo substr($config->appUrl, 0, -1) . $this->url(
                array('language' => $this->lang, 'controller' => 'Koszyk',
            'action' => 'zatwierdz', 'id' => $this->zamowienie->getId(),'ver' => $crypt->encrypt('oferta-nr-'.$this->zamowienie->getId())), 'default', true);
        ?>" class="btn"><?php echo $this->translate('zatwierdz'); ?></a>
        <a href="<?php
        echo substr($config->appUrl, 0, -1) . $this->url(
                array('language' => $this->lang, 'controller' => 'Koszyk',
            'action' => 'index', 'id' => $this->zamowienie->getId(),
            'zatwierdz' => $this->zamowienie->getId()), 'default', true);
        ?>" class="btn"><?php echo $this->translate('zmien'); ?></a>
    </div>

    <div><?php echo $this->translate('dla zamowien powyzej 1500 zl netto transport w jedno miejsce na terenie warszawy'); ?></div>

    <div id="ph">
        <div id="ph-osoba"><?php echo $this->translate('oferte przygotowala') . ' ' . $this->zamowienie->getFirmy()->getPh()->getImie() . ' ' . $this->zamowienie->getFirmy()->getPh()->getNazwisko(); ?></div>
        <div id="ph-telefon"><?php echo $this->translate('nr telefonu') . ': ' . $this->zamowienie->getFirmy()->getPh()->getTelefon(); ?></div>
        <div id="ph-email"><?php echo $this->translate('adres e-mail') . ': <a href="mailto:' . $phEmail . '">' . $phEmail . '</a>'; ?></div>
    </div>
</div>