<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active"><?php echo $this->translate($this->naglowek); ?></li>
    </ol>
</nav>
<h1><?php echo $this->translate($this->naglowek); ?></h1>

<?php
if (isset($this->form)) {
    echo $this->form;
}
?>

<?php if (count($this->paginator) > 0) :
    ?>

    <?php
    /*
     * Okno modalne do zmiany statusu zamowienia
     */
    if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ZAMOWIENIA_EDYCJA)):
        ?>
        <div id="redirect-string" class="text-hide"><?php echo $this->nazwaAkcjiDoRedirecta; ?></div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <?php echo $this->formStatus; ?>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <table id="zamowienia-lista" class="table table-striped">
        <thead>
            <tr>
                <th><?php echo $this->translate('firma'); ?></th>
                <th><?php echo $this->translate('oferta dla'); ?></th>
                <th><?php echo $this->translate('przygotowana przez'); ?></th>
                <th><?php echo $this->translate('status'); ?></th>
                <th><?php echo $this->translate('oferta nr'); ?></th>
                <th><?php echo $this->translate('data oferty'); ?></th>
                <th><?php echo $this->translate('pozycji'); ?></th>
            </tr>
        </thead>

        <?php
        $i = 0;
        foreach ($this->paginator as $zamowienie) :
            $i++;
            //$zamowienie = new Entities\Koszyk;
            ?>
            <tr>
                <td><?php echo $zamowienie->getFirmy()->getNazwa(); ?></td>
                <td><?php echo $zamowienie->getUzytkownicy()->getImie() . ' ' . $zamowienie->getUzytkownicy()->getNazwisko(); ?></td>
                <td class="text-center"><?php
                    echo $zamowienie->getFirmy()->getPh()->getImie() . ' ' . $zamowienie->getFirmy()->getPh()->getNazwisko();
                    ?></td>
                <td class="text-center status-<?php echo $zamowienie->getStatus(); ?>"><?php echo $this->translate('status-' . $zamowienie->getStatus()); ?></td>
                <td class="text-center"><?php echo $zamowienie->getId(); ?></td>


                <td class="text-center"><?php
                    echo $zamowienie->getDataUtworzenia()->format('Y.m.d H:i:s');
                    ?></td>
                <td class="text-center"><?php echo $zamowienie->getKoszykiProdukty()->count(); ?></td>
            </tr>
            <tr>
                <td colspan="8">
                    <a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Zamowienia',
                        'action' => 'podglad',
                        'id' => $zamowienie->getId(),
                            ), 'default', true);
                    ?>" class="btn btn-info btn-sm tooltip-init" title="Podgląd"><i class="far fa-eye"></i></a>
                       <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ZAMOWIENIA_EDYCJA)) : ?>

                        <a href="<?php
                        echo $this->url(array(
                            'language' => $this->lang,
                            'controller' => 'Zamowienia',
                            'action' => 'zmien',
                            'id' => $zamowienie->getId(),
                                ), 'default', true);
                        ?>" class="btn btn-info btn-sm tooltip-init" title="Zmień"><i class="far fa-edit"></i></a>
                        <a href="<?php
                        $crypt = Moyoki_Crypt::getInstance();
                        echo $this->url(array(
                            'language' => $this->lang,
                            'controller' => 'Pdf',
                            'action' => 'generuj',
                            'key' => $crypt->encrypt('/' . $this->lang . '/zamowienia/podglad-pdf/id/' . $zamowienie->getId()),
                            'name' => $crypt->encrypt('zamowienie-nr-' . $zamowienie->getId())
                                ), 'default', true);
                        ?>" target="_blank" class="btn btn-info btn-sm tooltip-init" title="Zamowienie PDF"><i class="far fa-file-pdf"></i></a>
                        <a href="#" onclick="okno('<?php echo $zamowienie->getNrZamowienia(); ?>', '<?php echo $zamowienie->getId(); ?>', '<?php echo $zamowienie->getStatus(); ?>');" class="btn btn-info tooltip-init" title="zmień status"><span class="glyphicon glyphicon-tasks"></span></a>
                    <?php endif; ?>
                    <?php if (($zamowienie->getStatus() == Atacama_Acl::STATUS_OFERTA_TWORZENIE) || $this->acl->sprawdzDostep(Atacama_Acl::ZAS_GENERUJ_OFERTE)) : ?>
                        <a href="<?php
                        echo $this->url(array(
                            'language' => $this->lang,
                            'controller' => 'Koszyk',
                            'action' => 'index',
                            'id' => $zamowienie->getId(),
                                ), 'default', true);
                        ?>" class="btn btn-success btn-sm tooltip-init" title="Wroć do koszyka"><i class="fas fa-shopping-bag"></i></a>
                        <a href="<?php
                        $crypt = Moyoki_Crypt::getInstance();
                        echo $this->url(array(
                            'language' => $this->lang,
                            'controller' => 'Pdf',
                            'action' => 'generuj',
                            'key' => $crypt->encrypt('/' . $this->lang . '/zamowienia/oferta-pdf/id/' . $zamowienie->getId()),
                            'name' => $crypt->encrypt('atacama-oferta-nr-' . $zamowienie->getId())
                                ), 'default', true);
                        ?>" target="_blank" class="btn btn-success btn-sm tooltip-init" title="Oferta PDF"><i class="far fa-file-pdf"></i></a>
                           <?php if ($zamowienie->getOferta() == 1) : ?>
                            <a href="<?php
                            echo $this->url(array(
                                'language' => $this->lang,
                                'controller' => 'Zamowienia',
                                'action' => 'oferta-kopiuj',
                                'id' => $zamowienie->getId(),
                                    ), 'default', true);
                            ?>" class="btn btn-success btn-sm tooltip-init" title="Kopiuj ofertę"><span class="glyphicon glyphicon-save"></span></a>
                           <?php endif; ?>
                           <?php
                           if ($zamowienie->getOfertaPlik() != NULL) :
                               $config = Atacama_Config::getInstance();
                               $sciezka_pliku = $config->pdf->path;

                               if (file_exists($sciezka_pliku . $zamowienie->getOfertaPlik())) {
                                   ?>
                                <a href="<?php
                                echo $this->url(array(
                                    'language' => $this->lang,
                                    'controller' => 'Zamowienia',
                                    'action' => 'oferta-wyslij',
                                    'id' => $zamowienie->getId()
                                        ), 'default', true);
                                ?>" class="btn btn-success btn-sm tooltip-init oferta-wyslij" title="Wyślij ofertę"><span class="glyphicon glyphicon-envelope"></span></a>
                                   <?php
                               }
                           endif;
                       endif;
                       ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php else: ?>
    <div class="alert alert-success"><?php echo $this->translate('brak zamowien'); ?></div>
<?php endif; ?>

<div class="jumbotron">
    <div>Legenda</div>
    <ul style="list-style: none;">
        <li><a href="#" class="btn btn-info btn-sm tooltip-init" title="Zamówienie">&nbsp;</a> - przyciski w tym kolorze dotyczą obsługi zamówienia.</li>
        <li><a href="#" class="btn btn-success btn-sm tooltip-init" title="Oferta">&nbsp;</a> - przyciski w tym kolorze dotyczą obsługi oferty.</li>
    </ul>
</div>

<?php
echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
?>