<div id="zamowienie-podglad">
    <h1><?php echo $this->translate('nr zamowienia'); ?> <?php echo $this->zamowienie->getNrZamowienia(); ?></h1>
    <?php echo $this->KoszykAdresy($this->zamowienie->getId(), TRUE); ?>
    <?php
    if (count($this->zamowienie->getKoszykiProdukty()) > 0) {
        echo $this->KoszykTabelaPodsumowanie($this->zamowienie->getId(), TRUE, FALSE);
    }
    ?>
    
    <?php echo $this->KoszykTerminDostawy($this->zamowienie); ?>
    
</div>