<?php
//Uzywane do sprawdzenia dostepu
$auth = Zend_Auth::getInstance()->getIdentity();
$MojID = $auth['id'];
?>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'controller' => 'Zamowienia',
                'action' => (strlen($this->redirect) > 2 ? $this->redirect : 'wszystkie'),
                'id' => $this->zamowienie->getId()
                    ), 'default', true);
            ?>"><?php echo $this->translate('powrot do listy zamowien'); ?></a></li>
        <li class="breadcrumb-item active"><?php echo $this->translate('podglad zamowienia'); ?>  <?php echo $this->zamowienie->getNrZamowienia(); ?></li>
    </ol>
</nav>
<div id="zamowienie-podglad">
    <h1><?php echo $this->translate('podglad zamowienia'); ?> <?php echo $this->zamowienie->getNrZamowienia(); ?></h1>

    <div class="text-right"><a href="<?php
        $crypt = Moyoki_Crypt::getInstance();
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Pdf',
            'action' => 'generuj',
            'key' => $crypt->encrypt('/' . $this->lang . '/zamowienia/podglad-pdf/id/' . $this->zamowienie->getId()),
            'complete' => 'delete',
            'name' => $crypt->encrypt('zamowienie-nr-' . $this->zamowienie->getId())
                ), 'default', true);
        ?>" target="_blank" class="btn btn-info btn-sm"><i class="far fa-file-pdf"></i> &nbsp;<?php echo $this->translate('pobierz pdf'); ?></a>
                               <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ZAMOWIENIA_EDYCJA)) : ?>
            <a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Zamowienia',
                'action' => 'zmien',
                'id' => $this->zamowienie->getId(),
                    ), 'default', true);
            ?>" class="btn btn-info btn-sm"><i class="far fa-edit"></i> &nbsp;<?php echo $this->translate('zmien'); ?></a>
           <?php endif; ?>
        <a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Zamowienia',
            'action' => (strlen($this->redirect) > 2 ? $this->redirect : 'wszystkie'),
            'id' => $this->zamowienie->getId()
                ), 'default', true);
        ?>" class="btn btn-info btn-sm"><i class="far fa-list-alt"></i> &nbsp;<?php echo $this->translate('powrot do listy zamowien'); ?></a>
    </div>
    <?php
    if (count($this->zamowienie->getKoszykiProdukty()) > 0) {
        echo $this->KoszykTabelaPodsumowanie($this->zamowienie->getId(), FALSE, TRUE);
    }
    ?>

    <?php echo $this->KoszykTerminDostawy($this->zamowienie); ?>

    <?php echo $this->KoszykAdresy($this->zamowienie->getId()); ?>

    <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_WIDOK_DLA_PH)) : ?>
        <div id="admin-view">
            <h2>Informacje dodatkowe (Tylko dla obsługi)</h2>

            <?php
            if ($this->zamowienie->getOferta() == 1 && $this->zamowienie->getFirmy()->getPhId() == $MojID):
                /**
                 * Produkty z oferty mozna dodac do zamowien specjlanych dla firmy
                 */
                ?>
                <div class="text-right"><a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Zamowienia-specjalne',
                        'action' => 'dodaj-produkty-z-oferty',
                        'id' => $this->zamowienie->getId()
                            ), 'default', true);
                    ?>" class="btn btn-info">Dodaj produkty z oferty do specjalnych dla firmy <b><?php echo $this->zamowienie->getFirmy()->getNazwa(); ?></b></a>
                </div>
            <?php endif; ?>
            <small>Zamówienie przypisane do:</small> <?php
            echo $this->zamowienie->getFirmy()->getPh()->getImie() . ' ' . $this->zamowienie->getFirmy()->getPh()->getNazwisko();
            ?>
            <h3><?php echo $this->translate('historia zamowienia'); ?></h3>
            <?php
            foreach ($this->uwagi as $uwaga) :
                //$uwaga = new Entities\Koszyk_Uwaga;
                ?>
                <div class="status row">
                    <div class="col-xs-4"><span class="glyphicon glyphicon-tasks"></span> <b><?php echo $this->translate('status-' . $uwaga->getStatus()); ?></b></div>
                    <div class="col-xs-4"><span class="glyphicon glyphicon-calendar"></span> <?php echo date_format($uwaga->getDataWpisu(), 'Y.m.d'); ?> <small>
                            <span class="glyphicon glyphicon-time"></span> 
                            <?php echo date_format($uwaga->getDataWpisu(), 'H:i:s'); ?></small></div>
                    <div class="col-xs-4"><span class="glyphicon glyphicon-user"></span>
                        <?php
                        $user = $this->em->getRepository('Entities\Uzytkownik')->getById($uwaga->getUzytkownicyId());
                        if ($user instanceof Entities\Uzytkownik) {
                            echo $user->getImie() . ' ' . $user->getNazwisko();
                        }
                        ?>
                    </div>
                    <div class="uwagi col-xs-12"><span class="glyphicon glyphicon-comment"></span>
                        <?php echo $uwaga->getTresc(); ?></div>
                </div>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
</div>