<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Zamowienia',
                'action' => (strlen($this->redirect) > 2 ? $this->redirect : 'wszystkie'),
                'id' => $this->zamowienie->getId()
                    ), 'default', true);
            ?>"><?php echo $this->translate('powrot do listy zamowien'); ?></a></li>
        <li class="breadcrumb-item active"><?php echo $this->translate('edycja zamowienia'); ?>  <?php echo $this->zamowienie->getNrZamowienia(); ?></li>
    </ol>
</nav>
<h1><?php echo $this->translate('edycja zamowienia'); ?>  <?php echo $this->zamowienie->getNrZamowienia(); ?></h1>
<div class="text-right"><a href="<?php
    $crypt = Moyoki_Crypt::getInstance();
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Pdf',
        'action' => 'generuj',
        'key' => $crypt->encrypt('/' . $this->lang . '/zamowienia/podglad-pdf/id/' . $this->zamowienie->getId()),
        'name' => $crypt->encrypt('zamowienie-nr-' . $this->zamowienie->getId())
            ), 'default', true);
    ?>" target="_blank" class="btn btn-info btn-sm"><i class="far fa-file-pdf"></i> &nbsp;<?php echo $this->translate('pobierz pdf'); ?></a>
    <a href="<?php
    echo $this->url(array(
        'language' => $this->lang,
        'controller' => 'Zamowienia',
        'action' => 'podglad',
        'id' => $this->zamowienie->getId(),
            ), 'default', true);
    ?>" class="btn btn-info btn-sm"><i class="far fa-eye"></i> &nbsp;<?php echo $this->translate('podglad zamowienia'); ?></a>
    <a href="<?php
    echo $this->url(array(
        'controller' => 'Zamowienia',
        'action' => (strlen($this->redirect) > 2 ? $this->redirect : 'wszystkie'),
        'id' => $this->zamowienie->getId()
            ), 'default', true);
    ?>" class="btn btn-info btn-sm"><i class="far fa-list-alt"></i> &nbsp;<?php echo $this->translate('powrot do listy zamowien'); ?></a>
</div>

<?php
if (isset($this->zamowienie) && count($this->zamowienie->getKoszykiProdukty()) > 0) :
    $config = Atacama_Config::getInstance();
    ?>

    <!-- Dodawanie metody znakowania //-->
    <div class="modal fade" id="metodaModal" tabindex="-1" role="dialog" aria-labelledby="metodaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><?php echo $this->translate('dodaj metode znakowania'); ?></h4>
                </div>
                <div class="modal-body">
                    <div id="ajax-form-value"></div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="" enctype="application/x-www-form-urlencoded">
        <table id="zamowienie-pozycje" class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('nazwa'); ?></th>
                    <th><?php echo $this->translate('znakowanie'); ?></th>
                    <th><?php echo $this->translate('cena j netto'); ?></th>
                    <th><?php echo $this->translate('naklad'); ?></th>
                    <th><?php echo $this->translate('wartosc netto'); ?></th>
                    <th><?php echo $this->translate('marza'); ?></th>
                    <th><?php echo $this->translate('usun'); ?></th>
                </tr>
            </thead>

            <tbody>
                <?php
                $razemNetto = 0;
                $razemProduktow = 0;
                $znakowaniaSuma = 0;
                foreach ($this->zamowienie->getKoszykiProdukty() as $koszykProdukt) :
                    foreach ($koszykProdukt->getProduktyDetale()->getProdukty()->getProduktyI18n() as $i18n) {
                        if ($i18n->getJezyk() == $this->lang) {
                            $nazwaProduktu = $i18n->getNazwa();
                        }
                    }
                    //$koszykProdukt = new Entities\Koszyk_Produkt;
                    ?>
                    <tr id="pozycja-<?php echo $koszykProdukt->getProduktyDetaleId(); ?>">
                        <td>
                            <a href="<?php
                            echo $this->url(array('language' => $this->lang, 'controller' => 'Produkt',
                                'action' => 'widok',
                                'id' => $koszykProdukt->getProduktyDetale()->getProdukty()->getId(),
                                'nazwa' => Moyoki_Friendly::name($nazwaProduktu)), 'produkty', true);
                            ?>">
                                <?php echo $nazwaProduktu; ?></a>
                            <small><?php
                                echo $koszykProdukt->getProduktyDetale()->getKolory()->getNazwa();
                                if ($koszykProdukt->getProduktyDetale()->getRozmiar() != 0) {
                                    echo ' ' . Atacama_Produkt_Rozmiar::pokaz($koszykProdukt->getProduktyDetale()->getRozmiar());
                                }
                                ?></small><br/>
                            <small><?php echo $this->translate('nr kat') . ': ' . $koszykProdukt->getProduktyDetale()->getProdukty()->getNrKatalogowy(); ?></small>
                        </td>
                        <td class="text-center"><small><button data-target="#metodaModal" data-toggle="modal" 
                                                               class="btn btn-primary btn-sm metoda-button" 
                                                               value='<?php
                                                               echo json_encode(array(
                                                                   'prod_id' => $koszykProdukt->getProduktyDetale()->getProdukty()->getId(),
                                                                   'detal_id' => $koszykProdukt->getId(),
                                                                   'zam_id' => $koszykProdukt->getKoszykiId()
                                                                       )
                                                               );
                                                               ?>'><?php echo $this->translate('dodaj'); ?></button></small></td>
                        <td class="text-right">
                            <div class="form-group">
                                <?php
                                $cenaProduktu = $koszykProdukt->getCenaZakupu();
                                if (count($koszykProdukt->getKoszykiProduktyZnakowania()) > 0) {
                                    $cenaProduktu += $koszykProdukt->getCenaKonfekcjonowanie();
                                }
                                ?>
                                <input type="text" value="<?php echo Atacama_Produkt_Kwota::odczyt($cenaProduktu); ?>" 
                                       name="koszyk[<?php echo $koszykProdukt->getId(); ?>][cena]" 
                                       id="koszyk[<?php echo $koszykProdukt->getId(); ?>][cena]" 
                                       class="text-right numeric form-control" size="3" maxlength="7" />
                            </div></td>
                        <td class="text-right"><?php
                            $razemProduktow += $koszykProdukt->getIlosc();
                            ?>
                            <div class="form-group">
                                <input type="text" value="<?php echo (int) $koszykProdukt->getIlosc(); ?>" 
                                       name="koszyk[<?php echo $koszykProdukt->getId(); ?>][ilosc]" 
                                       id="koszyk[<?php echo $koszykProdukt->getId(); ?>][ilosc]" 
                                       class="text-right numeric form-control" size="3" maxlength="7" />
                            </div>
                        </td>
                        <td class="text-right"><?php
                            $netto = $cenaProduktu * $koszykProdukt->getIlosc();

                            $razemNetto += $netto;
                            echo Atacama_Produkt_Kwota::odczyt($netto, 'zł');
                            ?></td>

                        <td class="text-right" style="min-width: 100px"><small><?php echo Atacama_Produkt_Kwota::odczyt(($koszykProdukt->getCenaZakupu() - $koszykProdukt->getCenaSprzedazy()) * $koszykProdukt->getIlosc(), 'zł'); ?></small></td>
                        <td class="text-center"><a href="<?php echo $this->baseUrl($this->lang . '/Zamowienia/usun-produkt/id/' . $koszykProdukt->getId() . '/zam_id/' . $koszykProdukt->getKoszykiId()); ?>" class="img">
                                <i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    <?php
                    $cmd = new Application_Model_Commands_KoszykPokazZnakowaniaProduktu($this->em, $koszykProdukt);
                    $result = $cmd->execute();
                    if (!key_exists('brak', $result)) {
                        ?>
                        <tr>
                            <td colspan="10">
                                <table class="table table-condensed tabela-znakowanie">
                                    <thead>
                                        <tr>
                                            <th class="row-nazwa"><?php echo $this->translate('nazwa'); ?></th>
                                            <th><?php echo $this->translate('ilosc kolorow'); ?></th>
                                            <th class="row-cena"><?php echo $this->translate('cena j netto'); ?></th>
                                            <th class="row-ilosc"><?php echo $this->translate('naklad'); ?></th>
                                            <th class="row-cena"><?php echo $this->translate('wartosc netto'); ?></th>
                                            <th class="row-usun"><?php echo $this->translate('usun'); ?></th>
                                        </tr>
                                    </thead>
                                    <?php
                                    foreach ($result['znakowania'] as $znakowanie) {
                                        $znakowaniaSuma = $znakowaniaSuma + $znakowanie['suma'] + $znakowanie['przygotowalnia'];
                                        ?>
                                        <tr>
                                            <td class="nazwa"><?php echo $znakowanie['nazwa']; ?></td>
                                            <?php
                                            /**
                                             * Lista rozwijana kolorow
                                             */
                                            ?>
                                            <td class="text-center">
                                                <div class="form-group select-option">
                                                    <select class="form-control xs" id="znak[<?php echo $znakowanie['id']; ?>][ilosc_kolorow]" name="znak[<?php echo $znakowanie['id']; ?>][ilosc_kolorow]">
                                                        <?php
                                                        for ($i = 1; $i <= $znakowanie['max_kolorow']; $i++) {
                                                            echo '<option label="' . $i . '" value="' . $i . '" ' . ($i == $znakowanie['ilosc_kolorow'] ? "selected=\"selected\"" : "") . '>' . $i . '</option>';
                                                        }
                                                        ?>

                                                    </select>
                                                </div>
                                            </td>
                                            <?php
                                            /**
                                             * Cena j. netto
                                             */
                                            ?>
                                            <td class="text-right">
                                                <div class="form-group">
                                                    <?php if ($this->acl->sprawdzDostep(Atacama_Acl::ZAS_ADMINISTRACJA_ZAMOWIENIA_WSZYSTKIE)) : ?>
                                                        <input type="text" value="<?php echo Atacama_Produkt_Kwota::odczyt($znakowanie['cena']); ?>" 
                                                               name="znak[<?php echo $znakowanie['id']; ?>][szt]"
                                                               id="znak[<?php echo $znakowanie['id']; ?>][szt]" 
                                                               class="text-right numeric form-control" size="3" maxlength="7" />
                                                               <?php
                                                           else :
                                                               echo Atacama_Produkt_Kwota::odczyt($znakowanie['cena'], 'zł');
                                                           endif;
                                                           ?>
                                                </div>
                                            </td>           
                                            <?php
                                            /**
                                             * Naklad (ilosc)
                                             */
                                            ?>
                                            <td class="text-center"><div class="form-group">
                                                    <input type="text" value="<?php echo $znakowanie['naklad']; ?>" 
                                                           name="znak[<?php echo $znakowanie['id']; ?>][ilosc]" 
                                                           id="znak[<?php echo $znakowanie['id']; ?>][ilosc]" class="text-right numeric form-control" size="3" maxlength="7" />
                                                </div></td>
                                            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt($znakowanie['suma'], 'zł'); ?></td>
                                            <td class="text-center"><a href="<?php
                                                echo $this->url(array(
                                                    'language' => $this->lang,
                                                    'controller' => 'Zamowienia',
                                                    'action' => 'usun-znakowanie',
                                                    'id' => $znakowanie['id'],
                                                    'zam_id' => $koszykProdukt->getKoszykiId()
                                                        ), 'default', true);
                                                ?>" class="img"><i class="far fa-trash-alt"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><?php echo $this->translate('przygotowalnia'); ?>
                                                <?php if ($znakowanie['powtorzenie'] == 1) : ?>
                                                    <br>
                                                    <small>[ <?php echo $this->translate('powtorzenie wzoru'); ?> ]</small>
                                                <?php endif; ?>
                                            </td>
                                            <td class="text-center"><?php echo $znakowanie['ilosc_kolorow']; ?></td>
                                            <td class="text-right"><?php echo Atacama_Produkt_Kwota::odczyt(($znakowanie['przygotowalnia'] / $znakowanie['ilosc_kolorow']), 'zł'); ?>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td class="text-center">
                                                <input type="text" value="<?php echo Atacama_Produkt_Kwota::odczyt(($znakowanie['przygotowalnia'])); ?>" 
                                                       name="znak[<?php echo $znakowanie['id']; ?>][przygotowalnia]"
                                                       id="znak[<?php echo $znakowanie['id']; ?>][przygotowalnia]" 
                                                       class="text-right numeric form-control xs" size="3" maxlength="7" /></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    <?php } ?>
                                </table>
                            </td>
                        </tr>
                        <?php
                    }
                    //Moyoki_Debug::debug($result);
                    ?>
                    <?php
                endforeach;
                /*
                 * Jeszcze dodajemy koszt znakowania
                 */
                $razemNetto = $razemNetto + $znakowaniaSuma;
                ?>
            </tbody>
        </table>
        <input type="hidden" name="id" id="id" value="<?php echo $this->id; ?>" />
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-right"><label for="vies" style="padding-top: 6px;">Klient VIES (bez VAT)</label></div>
            <div class="col-xs-12 col-sm-1" style="padding-top: 6px;">
                <input type="checkbox" name="vies" id="vies" <?php echo ($koszykProdukt->getKoszyki()->getVies() == 1 ? 'checked' : ''); ?>>
            </div>
        </div>
        <div class="clearfix" style="height: 15px;"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-right">
                <label for="ilosc_kartonow" style="padding-top: 6px;">
                    Ilość kartów dla zamówienia
                </label>
            </div>
            <div class="col-xs-12 col-sm-2">
                <input type="text" value="<?php echo $koszykProdukt->getKoszyki()->getIloscKartonow(); ?>" name="ilosc_kartonow" id="ilosc_kartonow" class="text-right numeric form-control" size="3" maxlength="3" />
            </div>
        </div>
        <div class="clearfix" style="height: 15px;"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-right"><label for="vies" style="padding-top: 6px;"><?php echo $this->translate('termin dostawy'); ?></label></div>
            <div class="col-xs-12 col-sm-3"><input type="text" readonly="readonly" class="form-control" value="<?php echo $this->terminDostawy; ?>" id="data_dostawy" name="data_dostawy"></div>
        </div>
        <p class="text-right"><input type="submit" class="btn btn-info btn-sm" value="<?php echo $this->translate('przelicz'); ?>" id="przelicz-button" name="przelicz-button"></p>
        <h2><?php echo $this->translate('koszyk podsumowanie'); ?></h2>
        <table id="koszyk-podsumowanie" class="table table-striped">
            <thead>
                <tr>
                    <th><?php echo $this->translate('razem produktow'); ?></th>
                    <th><?php echo $this->translate('koszt przesylki'); ?></th>
                    <th><?php echo $this->translate('wartosc netto'); ?></th>
                    <th><?php echo $this->translate('vat'); ?></th>
                    <th><?php echo $this->translate('razem brutto'); ?></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right"><span id="razemProduktow"><?php echo $razemProduktow; ?></span></td>       
                    <td class="text-center"><span id="kosztPrzesylki"><?php
                            if ($razemNetto < 1500) {
                                $kosztDostawy = $config->kosztDostawyKarton * $koszykProdukt->getKoszyki()->getIloscKartonow();
                                echo Atacama_Produkt_Kwota::odczyt($kosztDostawy, 'zł');
                                $razemNetto = $razemNetto + $kosztDostawy;
                            } else {
                                echo $this->translate('nie dotyczy');
                            }
                            ?>
                        </span></td>
                    <td class="text-right"><span id="razemNetto"><?php echo Atacama_Produkt_Kwota::odczyt($razemNetto, 'zł'); ?></span></td>
                    <td class="text-right"><?php
                        if ($koszykProdukt->getKoszyki()->getVies() == 1) {
                            $vat = 0;
                        } else {
                            $vat = $config->importVat;
                        }
                        echo $vat;
                        ?></td>
                    <td class="text-right"><span id="razemBrutto"><?php echo Atacama_Produkt_Kwota::odczyt($razemNetto + ($razemNetto * $vat / 100), 'zł'); ?></span></td>
                </tr>
        </table>
    </form>
<?php endif; ?>
<div class="koszt-dostawy"><?php echo $this->translate('transport platny w cenie %s zl netto za paczke ponizej %s zl netto', $config->kosztDostawyKarton, $config->koszykProgKosztuDostawy); ?> </div>