<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Uzytkownik',
                'action' => 'wszyscy'
                    ), 'default', true);
            ?>">Zarządzanie użytkownikami</a></li>
        <li class="breadcrumb-item active">Dodawanie użytkownika</li>
    </ol>
</nav>
<h1>Dodawanie użytkownika</h1>
<?php echo $this->form; ?>