<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Uzytkownik',
                'action' => 'index'
                    ), 'default', true);
            ?>"><?php echo $this->translate('moje dane'); ?></a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-md-6">

        <div class="exposed-box p-3 mb-5 bg-white">
            <?php if (NULL !== $this->user) : ?>
                <h1><?php echo $this->user->getImie() . ' ' . $this->user->getNazwisko(); ?></h1>
                <div class="text-left"><a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Uzytkownik',
                        'action' => 'zmien'
                            ), 'default', true);
                    ?>" class="btn btn-info btn-sm"><?php echo $this->translate('zmien'); ?></a></div>
                <div>E-mail: <?php
                    $crypt = Moyoki_Crypt::getInstance();
                    echo $crypt->decrypt($this->user->getEmail());
                    ?></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="exposed-box p-3 mb-5 bg-white">
                <h2><?php echo $this->user->getFirmy()->getNazwa(); ?></h2>
                <dl class="dl-horizontal">
                    <dt class="clearfix float-left">NIP:</dt>
                    <dd><?php echo $this->user->getFirmy()->getNip(); ?></dd>
                    <dt class="clearfix float-left">Regon:</dt>
                    <dd><?php echo $this->user->getFirmy()->getRegon(); ?></dd>
                </dl>
                <div class="text-left"><a href="<?php
                    echo $this->url(array(
                        'language' => $this->lang,
                        'controller' => 'Adres',
                        'action' => 'firmy',
                        'id' => $this->user->getFirmy()->getId()
                            ), 'default', true);
                    ?>" class="btn btn-info btn-sm"><?php echo $this->translate('zobacz adresy firmy'); ?></a></div>
            </div>
        </div>
    </div>    
    <?php if ($this->ph instanceof Entities\Uzytkownik) : ?>
        <div class="exposed-box p-3 mb-5 bg-white">
            <dl class="dl-horizontal">
                <dt><?php echo $this->translate('twoim opiekunem jest'); ?></dt>
                <dd><?php echo $this->ph->getImie() . ' ' . $this->ph->getNazwisko(); ?></dd>
                <dt>E-mail:</dt><dd><?php echo $crypt->decrypt($this->ph->getEmail()); ?></dd>
                <?php if (strlen($this->ph->getTelefon()) > 3) : ?>
                    <dt><?php echo $this->translate('telefon'); ?>:</dt><dd><?php echo $this->ph->getTelefon(); ?></dd>
                <?php endif; ?>
            </dl>
        </div>
    <?php endif; ?>

<?php else : ?>
    <div><?php echo $this->translate('widok dla zalogowanych klientow'); ?></div>
<?php endif; ?>
