<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Uzytkownik',
                'action' => 'logowanie'
                    ), 'default', true);
            ?>"><?php echo $this->translate('logowanie'); ?></a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="exposed-box bg-white p-5">
            <h1><?php echo $this->translate('logowanie'); ?></h1>
            <?php echo $this->form; ?>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h2>Nie pamiętasz hasła?</h2>
        <p><a href="<?php
            echo $this->url(array(
                'controller' => 'Haslo',
                'action' => 'przypomnij'
                    ), 'default', true);
            ?>" title="<?php echo $this->translate('nie pamietam hasla'); ?>" class="btn btn-default">Ustaw nowe hasło</a></p>
        <h2>Nie masz jeszcze konta?</h2>
        <p><a href="<?php
            echo $this->url(array('controller' => 'Uzytkownik', 'action' => 'rejestracja')
                    , 'default', true);
            ?>" class="btn btn-default"><?php echo $this->translate('utworz konto'); ?></a></p>
    </div>
</div>
<div ciass="clearfix"></div>
<p>&nbsp;</p>


