<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item active"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Uzytkownik',
                'action' => 'rejestracja'
                    ), 'default', true);
            ?>"><?php echo $this->translate('rejestracja'); ?></a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="exposed-box bg-white p-4 mb-4">
        <h1><?php echo $this->translate('rejestracja'); ?></h1>
        <?php echo $this->form; ?>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h4>Bez obaw - rejestracja jest darmowa</h4>
        <p></p>
    </div>
</div>
