<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item active">Zarządzanie użytkownikami</li>
    </ol>
</nav>
<h1>Wszyscy użytkownicy w systemie</h1>

<div class="row">
    <div class="col-xs-6 col-sm-4">
        <a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Uzytkownik',
            'action' => 'dodaj'
                ), 'default', true);
        ?>" class="btn btn-success btn-sm">Dodaj użytkownika</a>
    </div>
    <div class="col-sm-offset-2"><?php echo $this->form; ?></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>E-mail</th>
            <th>Rola</th>
            <th>Aktywny</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <?php
    $crypt = Moyoki_Crypt::getInstance();

    foreach ($this->paginator as $uzytkownik) :
        ?>
        <tr>
            <td><?php echo $uzytkownik->getNazwisko(); ?></td>
            <td><?php echo $uzytkownik->getImie(); ?></td>
            <td><?php echo $crypt->decrypt($uzytkownik->getEmail()); ?></td>
            <td class="text-center"><?php
                switch ($uzytkownik->getRola()) {
                    case Atacama_Acl::ROLA_KLIENT:
                        $nazwaRoli = 'Klient systemu';
                        $rolaIcona = 'fa-user';
                        break;
                    case Atacama_Acl::ROLA_PH:
                        $nazwaRoli = 'Opiekun klienta';
                        $rolaIcona = 'fa-phone';
                        break;
                    case Atacama_Acl::ROLA_REDAKTOR:
                        $nazwaRoli = 'Redaktor';
                        $rolaIcona = 'fa-pencil-alt';
                        break;
                    case Atacama_Acl::ROLA_ADMINISTRATOR:
                        $nazwaRoli = 'Administrator systemu';
                        $rolaIcona = 'fa-gopuram';
                        break;
                }
                ?><span data-toggle="tooltip" class="tooltip-init far <?php echo $rolaIcona; ?>" title="" data-original-title="<?php echo $nazwaRoli; ?>"></span></td>
            <td class="text-center"><span class="far <?php echo ($uzytkownik->getActive() == 1 ? 'fa-check-circle' : 'fa-trash-alt'); ?>"></span></td>
            <td class="text-center"><a href="<?php
                echo $this->url(array(
                    'controller' => 'Uzytkownik',
                    'action' => 'index',
                    'id' => $uzytkownik->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm">
                    <i class="far fa-eye"></i> Podgląd</a></td>
            <td class="text-center"><a href="<?php
                echo $this->url(array(
                    'controller' => 'Uzytkownik',
                    'action' => 'zmien',
                    'id' => $uzytkownik->getId()
                        ), 'default', true);
                ?>" class="btn btn-info btn-sm">
                    <i class="far fa-edit"></i> Edycja</a></td>
        </tr>

    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($this->paginator, 'All', 'paginationControl.phtml');
?>