<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
        <li><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Administracja',
                'action' => 'index'
                    ), 'default', true);
            ?>">Administracja</a></li>
        <li class="breadcrumb-item"><a href="<?php
            echo $this->url(array(
                'language' => $this->lang,
                'controller' => 'Uzytkownik',
                'action' => 'wszyscy'
                    ), 'default', true);
            ?>">Zarządzanie Użytkownikami</a></li>
        <li class="breadcrumb-item active">Zmiana danych użytkownika</li>
    </ol>
</nav>
<h1>Zmiana danych użytkownika</h1>
<div class="jumbotron"><?php echo $this->widget; ?></div>
<?php echo $this->form; ?>