<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Administracja',
            'action' => 'index'
                ), 'default', true);
        ?>">Administracja</a></li>
    <li><a href="<?php
        echo $this->url(array(
            'language' => $this->lang,
            'controller' => 'Galeria',
            'action' => 'index'
                ), 'default', true);
        ?>">Zarządzanie galeriami</a></li>
    <li class="active">Dodawanie nowej</li>
</ol>
<h1>Dodaj galerię</h1>
<?php echo $this->form; ?>