<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
    <li class="active">Zarządzanie galeriami</li>
</ol>
<h1>Galerie</h1>

<a href="<?php
echo $this->url(array(
    'language' => $this->lang,
    'controller' => 'Galeria',
    'action' => 'dodaj'
        ), 'default', true);
?>" class="btn btn-success btn-sm">Dodaj nową galerię</a>

<?php if (is_array($this->galerie) && count($this->galerie) >= 1): ?>
    <ul>
        <?php foreach ($this->galerie as $galeria) : ?>
            <li><h2><?php echo $galeria->getNazwa(); ?>
                    <small>Kod wywołania: <span class="label label-default"><?php
                        $tab = array('galeria'
                            => array('id' => $galeria->getId())
                        );
                        echo json_encode($tab);
                        ?></span></small></h2>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Galeria',
                    'action' => 'zmien',
                    'id' => $galeria->getId()
                        ), 'default', true);
                ?>" class="btn btn-warning btn-xs">Zmień</a>
                <a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Galeria',
                    'action' => 'zdjecia',
                    'id' => $galeria->getId()
                        ), 'default', true);
                ?>" class="btn btn-warning btn-xs">Zdjęcia</a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php else : ?>
    <h2>Nie ma galerii</h2>
<?php endif; ?>

<blockquote>
    <p><small>Kod wywołania musi być skopiowany w całości (czyli od <b>{</b> do 2- giego<b>}</b> np. <span class="label label-default">{"galeria":{"id":1}}</span><br/>i należy go umieścić w <strong>polu edytora strony</strong></small></p>
    <p><small>Galeria pojawi się dopiero w podglądzie strony. Dzięki temu w galerii można wymienić zdjęcia i na stronie zawsze będzie aktualna.</small></p>
</blockquote>