<?php
//config
$config = Atacama_Config::getInstance();
$sWidth = $config->zdjecia->rozmiary->m->w;
$sHeight = $config->zdjecia->rozmiary->m->h;
?>

<ol class="breadcrumb">
    <li><a href="<?php echo $this->baseUrl(); ?>">Atacama.com.pl</a></li>
    <li><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Administracja',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Administracja</a></li>
    <li><a href="<?php
                echo $this->url(array(
                    'language' => $this->lang,
                    'controller' => 'Galeria',
                    'action' => 'index'
                        ), 'default', true);
                ?>">Zarządzanie galeriami</a></li>
    <li class="active">Zarządzanie zdjęciami galerii</li>
</ol>

<h1>Zdjęcia galerii</h1>
<?php echo $this->form; ?>
<div class="alert alert-warning" id="error-alert" style="display: none"></div>

<div id="progressbar" class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" id="zdjecia">
    <?php
    foreach ($this->zdjecia as $z) :
        try {
            if ($z instanceof \Entities\Galeria_Zdjecie && strlen($z->getPlik()) > 4) {
                $foto = new Moyoki_File($config->images->path . $z->getPlik());
                $thumbSrc = $config->images->urlbase . $foto->getThumbnailFile($sWidth, $sHeight);
            } else {
                $thumbSrc = $config->resources->frontController->baseUrl . 'images/nophoto_' . $sWidth . 'x' . $sHeight . '.png';
            }
        } catch (Exception $e) {
            $thumbSrc = $config->resources->frontController->baseUrl . 'images/nophoto_' . $sWidth . 'x' . $sHeight . '.png';
        }

        echo $this->miniaturkaGaleria($thumbSrc, $z);

    endforeach;
    ?>
</div>